[2022-06-10 03:51] tiann commented on #1338
https://github.com/iovisor/bcc/issues/4043

[2022-06-15 11:13] Rtoax opened #2266 "ERROR: Error loading program: tracepoint:syscalls:sys_enter_execve"
### ENV

* centos-strean9
* clang version 14.0.0 (Red Hat 14.0.0-1.el9)
* LLVM version 14.0.0
* kernel 5.14.0-105.el9.x86_64

### `execsnoop.bt` ERROR

[code]

[code]

[2022-06-15 12:19] #2266 closed

[2022-06-17 18:39] BurntBrunch commented on #2254
Pid 0 is the idle process. The work you're tracing is likely not user-thread-scoped, so tid is not the right thing to group by.

[2022-06-17 18:50] BurntBrunch opened #2267 "Filter on arbitrary level of map key"
### Is your feature request related to a problem? Please describe.
When you're collecting stacks that correspond to specific work items (e.g., workqueue items but other groupings naturally exist), you are tempted to do use `@[$itemid, kstack()]` for storage.

Unfortunately, the only way you can then print or delete this map is in its entirety.

### Describe the solution you'd like
It would be grea

[2022-06-17 22:47] fbs commented on #2267
What do you mean by `0th level` here?

One potential issue is that the `delete` is handled in bpf but afaik there is no way to iterate map keys. So this delete would have to be handled in userspace which can lead to surprising issues.

Not sure what a good solution would be here

[2022-06-20 17:09] BurntBrunch commented on #2267
Sorry, that was poorly worded. I'm suggesting that `filter(@, 0, $val)` can return the subset of keys where the first element of the tuple (`a` in `(a, b, c)`) equals `$val`. `filter(@, 1, $val)` would compare the second element in the tuple, etc. In a way, this allows tuple keys to become multi-level keys.

`bpf_for_each_map_elem` [exists now](https://lore.kernel.org/bpf/20210226204925.3884923-1-

[2022-06-21 11:56] fbs commented on #2267
Ah I missed that for_each gets the key as callback. If delete is allowed from the callback it would be interesting.

[2022-06-22 07:39] josebeo2016 commented on #2235
I have same problem. I followed your quick fix and the bpftrace --info:
[code]

[2022-06-22 12:46] oreak opened #2272 "How to concatenate two string variables?"
### Discussed in https://github.com/iovisor/bpftrace/discussions/2271

<div type='discussions-op-text'>

<sup>Originally posted by **oreak** June 22, 2022</sup>
How to concatenate two string variables?

E.g
$name="Lili";
$hi = "Hello";
Expected: $out = $hi . $name;
output: Hello Lili

**I want to print every 500 logs and write to some file, so I need a big string concatenation.Instead of writing t

[2022-06-23 03:53] oreak commented on #2272
Although no grammatical solution has been found, it can be alleviated by command line mode. bpftrace itself has a log buffer.

[2022-06-23 05:54] #2272 closed

[2022-06-27 11:59] #1874 closed

[2022-06-27 11:59] #2173 closed

[2022-06-28 18:49] BurntBrunch commented on #2267
It is allowed for hash maps, [here it is in the tests](https://github.com/torvalds/linux/blob/941e3e7912696b9fbe3586083a7c2e102cee7a87/tools/testing/selftests/bpf/progs/for_each_hash_map_elem.c#L45).

What would be the best design to prototype here? I think for simplicity's sake a new `delete_by_key_level(map, key level, value)` would be easiest but I'm open to other suggestions.

In _theory_, I l

[2022-06-28 19:35] fbs commented on #2267
Yeah that should be ok for a prototype

Its interesting but I think the limited stack size (512b) will get in the way of a simple approach. You might be able to offload it to a per cpu map but idk how that will perform.

And I also don't think it has a use outside of deleting keys

That would be a nice feature to have :)

[2022-06-30 07:15] viktormalik commented on #2246
Closing as fixed. Feel free to re-open if the issue persists.

[2022-06-30 07:15] #2246 closed

[2022-06-30 08:07] viktormalik commented on #2245
Sadly, I cannot reproduce. Building on Alt Sisyphus with CMake 3.23.2 generates the file correctly.

Are you running `tests/runtime-tests.sh` from the build directory?

[2022-06-30 12:32] viktormalik opened #2284 "Race condition in `usym` resolution"
Originally discovered by @xutao323 in [this comment](https://github.com/iovisor/bpftrace/issues/2118#issuecomment-1017188844).

As `usym` is resolved asynchronously, a race condition may occur in case the traced binary exits before its symbols are resolved. This causes, e.g., the `func` builtin to return address instead of the actual function name.

### What reproduces the bug?

Usually can be rep

[2022-06-30 12:33] viktormalik opened #2285 "`func` in `uretprobe` returns caller name"
Originally discovered by @xutao323.

Using the `func` builtin inside an `uretprobe` gives the name of the caller function. However, the documentation says:

which suggests that the name of the callee (one that the `uretprobe` is attached to) should be returned.

The reason for this is that `func` reads the `ip` register which is at that time set to the return instruction in the caller function. Th

[2022-06-30 12:36] viktormalik commented on #2118
Hi @shadyabhi, is the problem still occurring or did you manage to solve it somehow?

@xutao323 thanks for the thorough analysis, this is very helpful! It seems to me that we have 2 problems, I created a new issue for each of them:
1. using `func` in `uretprobe` gives the name of the caller instead of the name of the callee - #2285
2. there's a race condition when using `func` - if the traced bina

[2022-06-30 14:42] zhihaop commented on #2168
I had the same problem, but it was solved by installing bpftrace-dbgsym.

[2022-07-01 00:59] #2182 closed

[2022-07-01 05:52] viktormalik commented on #1934
The kernel version may be an issue, but more important is whether the kernel is actually doing the operation that you're tracing (blockio).

Anyway, closing this as stale.

[2022-07-01 05:52] #1934 closed

[2022-07-01 05:55] #1904 closed

[2022-07-01 06:12] viktormalik commented on #1832
`BPF_PROG_TYPE_TRACING` should be now available on Fedora, closing this.

[2022-07-01 06:12] #1832 closed

[2022-07-05 01:46] jmikedupont2 opened #2288 "segfault on wsl2"
With the latest version (on debian experimental in wsl2)
and latest version of llvm

### What reproduces the bug?
[code]

### bpftrace --info
[code]

[2022-07-05 01:53] jmikedupont2 commented on #2288
Debug the --info
command

[code]

[2022-07-05 01:53] jmikedupont2 commented on #2288
And debugging the crash itself
[code]

[2022-07-05 01:54] jmikedupont2 commented on #2288
The lhs is null in the comparison.
[code]

[2022-07-05 01:56] jmikedupont2 commented on #2288
[code]

[2022-07-05 01:56] jmikedupont2 commented on #2288
It looks like the dwarf data is not being read properly.

[2022-07-06 18:56] bobrik opened #2291 "Plus equals shorthand `+=` requires parenthesis"
### What reproduces the bug?

This should work:

[code]

It works with parenthesis added:

[code]

Or with just assignment:

[code]

### bpftrace --info

[code]

### Bisect

To save you the trouble I bisected this to the following commit from #1867:

* https://github.com/iovisor/bpftrace/commit/e38968f9c1b9eedeafa4e45377e00b858fa43e0a

[code]
     warning: 4 shift/reduce conflicts [-Wconflicts-sr]

[2022-07-07 12:10] lenticularis39 commented on #2291
This behavior is defined in the rewritten parser (`parser.yy` lines 314-332, notice the `unary_expr`):
[code]
Not sure if that's intentional, looks like a bug to me, considering it changes the behavior of bpftrace without a mention in the changelog and [DTrace grammar](https://github.com/dtrace4linux/linux/blob/master/libdtrace/dt_grammar.y), which was used as a reference, doesn't seem to distingu

[2022-07-08 02:36] lxyscls commented on #2168
https://github.com/ajor/bpftrace/issues/50, I have meet such problem on Ubuntu 22.04@_@

[2022-07-08 10:44] ajor opened #2292 "Implement BEGIN and END probes using USDTs"
BEGIN and END are currently implemented as uprobes on the `BEGIN_trigger` and `END_trigger` functions in https://github.com/iovisor/bpftrace/blob/master/src/triggers.h

This means that BEGIN and END probes don't work when the bpftrace binary has been stripped of symbols:
[code]

USDTs are not stripped so easily, so we won't have semi-broken bpftrace packages accidentally being released.
Currently

[2022-07-08 13:13] ajor commented on #2168
@lxyscls I'm not sure if these issues are related, but for the https://github.com/ajor/bpftrace/issues/50 one I've proposed a fix here: https://github.com/iovisor/bpftrace/issues/2292

[2022-07-08 13:56] lxyscls commented on #2292
I think it is the problem of bpftrace debian package. I remove it and build it from scratch on my Ubuntu Server 22.04. It is ok now.
https://github.com/iovisor/bpftrace/blob/master/INSTALL.md#ubuntu

[2022-07-08 14:18] lhanjian commented on #2137
I found a workaround.

docker use `-pid=host`

k8s use `HostPID: true`

[https://kubernetes.io/docs/concepts/security/pod-security-policy/#host-namespaces](url)

[2022-07-09 04:16] danobi commented on #2292
I actually have a PR up to address just this: https://github.com/iovisor/bpftrace/pull/2264 . Reviews welcome :)

USDTs are an interesting idea. I hadn't thought of that. But I think using BPF_PROG_RUN is more reliable still.

[2022-07-11 05:51] viktormalik commented on #2291
I agree, this is clearly an unintended change, the original parser had `expr` for compound statements.

@lenticularis39 thanks for looking into this, could you open a PR please?

[2022-07-11 12:20] #2291 closed, assigned to nobody

[2022-07-11 12:41] ajor commented on #2292
Ah I hadn't seen your PR! I agree that your way looks better, will give it a review today

[2022-07-11 15:00] ajor opened #2294 "BEGIN,END { ... } does not work"
This appears to be a regression introduced in #2265

### What reproduces the bug?
With bpftrace built from fc940d31be140d54ceb4c7ae47371785f0b26b65 this script fails:
[code]

Go back one commit to 746a53c35afafb5a782b49cd16692ca6fb0b6618 and it works as expected:
[code]

[2022-07-11 15:01] #2292 closed

[2022-07-12 05:52] viktormalik commented on #2294
Thanks for noticing this @ajor! Should be fixed by #2295.

[2022-07-12 07:32] lenticularis39 commented on #2222
Looking through the generated code for `join`, there is quite a lot invalid LLVM instructions in it, including the one that gets optimized out, e.g. as detected by opt (using LLVM 12, the code is the same as in 13 and 14):

[code]

See [LLVM Language Reference](https://releases.llvm.org/12.0.0/docs/LangRef.html#store-instruction):

After adding a cast to fix that, the instruction that gets optimiz

[2022-07-12 08:40] fbs commented on #2222
woops lost track of this one, thanks @lenticularis39 for the work :)

The CI runs `llvm-as` on the codegen tests to find issues like these which behaves the same as `opt` like @lenticularis39  did:

[code]

Wonder if we can somehow extend this and make it part of bpftrace itself, a debug mode that validates the IR it generates. That way we can include it on all test we have.

[2022-07-12 09:02] lenticularis39 commented on #2222
This could be what [llvm::VerifierPass](https://llvm.org/doxygen/classllvm_1_1VerifierPass.html) does.

[2022-07-12 09:19] lenticularis39 opened #2297 "Detect and fix invalid LLVM IR generated by bpftrace"
When running bpftrace on LLVM 14, an issue related to bpftrace generating invalid LLVM IR were encountered (see #2228, #2222 and #2296). Furthermore, other failing tests in LLVM 14 also generate invalid LLVM IR, implying this could be a more widespread issue in the codegen.

As suggested by @fbs in #2222, a verifier pass detecting LLVM IR in bpftrace output could be added to all tests to ensure th

[2022-07-12 12:35] #2222 closed

[2022-07-13 07:28] #2294 closed

[2022-07-13 08:48] viktormalik commented on #2288
Hi, I can't reproduce this but the reason seems to be that your binary contains DWARF subprogram entries which do not have a name. I tried to propose a fix [here](https://github.com/viktormalik/bpftrace/tree/dwarf-getfunc-fix), could you please give it a try?

Anyway, note that while this could remove the segfault, bpftrace still won't show the parameters of the function as the DWARF support is li

[2022-07-13 22:38] StingerXIII commented on #2094
I used to include a custom header file with `typedef uint64_t        xfs_ino_t;` as a crutch. At least this allows you to use the tracepoint.

[2022-07-18 21:41] BurntBrunch commented on #2267
Okay, I spent some time working on this and have a couple of concerns. Primarily, the way static functions (aka subprogs in bpf lingo) work is not compatible with how bpftrace emits or loads programs.

First, the libbpf convention is that callbacks are in .text while entry programs are in their own sections. This is not a big deal since we don't use the libbpf ELF parsing but it does mean that we

[2022-07-19 07:09] lenticularis39 commented on #2297
Thank you for the suggestion @BurntBrunch, I implemented a solution in the linked PR by calling `VerifierPass` directly and doing output redirection, using `verifyModule` is a simpler solution.

[2022-07-19 18:58] BurntBrunch commented on #2267
Ha, and I thought this would be easy..
bpftrace is currently not using the DIBuilder at all. This means LLVM can't generate any debug symbols, let alone the BTF symbols the target requires.

I'll try to do a first pass of DIBuilder integration only for function entries to get it to generate BTF.ext.

- [ ] DIBuilder usage tracking at least function definitions. Optionally, maybe tracking source lo

[2022-07-21 09:46] wubo0067 commented on #553
How to output the file name?

[2022-07-21 09:48] wubo0067 commented on #1010
How to output the file name?
struct file->f_path.dentry->d_iname，the d_iname type is unsigned char d_iname[DNAME_INLINE_LEN];

[2022-07-21 21:27] caringi commented on #2068
Seems it's not totally fixed yet:
I'm facing the same (or very similar) problem on Fedora 35:

[code]

[2022-07-22 00:11] martinetd commented on #2068
fedora 35 has the inverse problem: they still ship [libbpf-0.6.1-2.fc35](https://koji.fedoraproject.org/koji/search?terms=libbpf-0.6.1-2.fc35&type=build&match=glob) which has the obsolete version.

Since fedora 36 is stable I'd suggest just upgrading, I'm not sure this is worth trying to support both variants here...

[2022-07-22 02:52] xh4n3 opened #2300 "Add support for bpf_trace_printk"
### Is your feature request related to a problem? Please describe.
I need `bpf_trace_printk` while developing bpftrace features, and I don't have enough confidence about the `printf` output because I may have broken these codes.

### Describe the solution you'd like
Add a built-in function `debugf`, which calls `bpf_trace_printk`. Compared with current `printf`, it has following benefits:
* The `b

[2022-07-22 07:00] viktormalik commented on #2068
I proposed a fix for this in #2302, @caringi could you confirm that it works? Thanks!

[2022-07-22 07:41] martinetd commented on #2068
I was a bit hasty in my comment earlier but your patch won't help @viktormalik

The problem is this:
[code]
It's because the src/btf.h in that version of libbpf does not include the `ifndef __cplusplus`, which got added in 0.7.0 : https://github.com/libbpf/libbpf/commit/1321a8bb497584b22742ea69461811d4a6033a59

It's the bug I reported in see https://github.com/libbpf/libbpf/issues/283#issuecomment

[2022-07-22 07:53] viktormalik commented on #2068
Strange, I tried to compile with my patch on Fedora 35 (libbpf-0.6.1-2.fc35.x86_64) and it passed just fine. The trick is that the `typeof` is inside the `btf_dump__new` macro, but if we call `btf_dump__new_deprecated`, that macro should never expand.

Do you have a version of libbpf with that macro but without `btf_dump__new_deprecated`?

[2022-07-22 07:59] martinetd commented on #2068
Aaah. So the cmake checks fails because of the broken include. Sorry I didn't actually try, I didn't expect that.

Okay, I'll just shut up for now -- thanks :)

[2022-07-22 10:07] tinykim83 opened #2303 "cmake fails due to missing: LIBBPF_LIBRARIES LIBBPF_INCLUDE_DIRS"
### What reproduces the bug?

Try to build bpf trace on Ubuntu 20.04 after installing bpfcc and all the pakage required for ubuntu 20.04 listed on the INSTALL.md.

libbpf or libbpf-dev package is not found on the ubuntu repository.
apt install libbpf fails.
bpftrace source is from the git : https://github.com/iovisor/bpftrace

This is the same on the Ubuntu 18.04.
bpftrace source is version 0.14.1

[2022-07-22 10:11] viktormalik commented on #2300
I'm not against adding a new builtin function, but we should be cautious about this one. Looking at the helper description from the [bpf-helpers manpage](https://man7.org/linux/man-pages/man7/bpf-helpers.7.html):

should only be used for debugging purposes. For
this reason, a notice block (spanning several
lines) is printed to kernel logs and states that
the helper should not be used "for producti

[2022-07-22 14:46] caringi commented on #2068
This fix solved the build problem on my F35. Thanks!

[2022-07-25 02:36] xh4n3 commented on #2300
Thanks, I will add the warning part in the docs, and think about what scenarios for this to be suitable.

[2022-07-25 04:56] danobi commented on #2300
Sounds useful for debugging. Maybe we can leave it undocumented and print a loud warning any time it's used?

[2022-07-25 09:50] viktormalik commented on #2303
Unfortunately, Ubuntu 20.04 doesn't package libbpf, which is now required for bpftrace. The solution is to build libbpf from source, as is done in our [Docker build script](https://github.com/iovisor/bpftrace/blob/master/docker/build.sh#L28-L35).

[2022-07-27 12:52] aktau opened #2304 "Macro recursion limit reached for very simple macro in <linux/sched.h>"
### What reproduces the bug?

forkexecsnoop.bt: https://gist.github.com/aktau/3cddaa07018a11feb37548c7555dc5c5

Error:

[code]

The file takes a long time to parse, and then errors out. The relevant part of `<linux/sched.h>` shows how simple these macros are: https://github.com/torvalds/linux/blob/39c3c396f8131f3db454c80e0fcfcdc54ed9ec01/include/uapi/linux/sched.h#L34.

What is there to recurse on

[2022-07-27 14:05] jarkkojs opened #2305 "hex dump"
It would be useful, or at least convenient to have, a variation of `buf()` that would print out a hex string with two characters for each 8-bit number. E.g. in my case, I'd like print out the full contents of some maybe around 300-2000 byte buffers.

[2022-07-27 15:30] aktau commented on #2114
+1 this would be very nice. It's annoying to have to look that up all the time.

[2022-07-28 05:30] liutingjieni opened #2306 "Add support for strstr() builtin"
I have a requirement, I hope to be able to check which process deleted the "cores" related files.
First of all, because my need is to write a script that is deployed on thousands of servers, it is difficult for us to confirm its configuration and the directory it is mounted on because of the change of the deployment version, so we need fuzzy matching.

The only existing str function that supports

[2022-08-01 07:23] akanksha216 opened #2312 "make fails due to error: ‘GTEST_SKIP’ was not declared in this scope"
### What reproduces the bug?
Followed the steps from install.md file for fedora to build bpftrace .
'make -j8' throws the following error:
`make[2]: *** [tests/CMakeFiles/bpftrace_test.dir/build.make:146: tests/CMakeFiles/bpftrace_test.dir/main.cpp.o] Error 1
make[2]: *** Waiting for unfinished jobs....
/root/ak/bpftrace/tests/clang_parser.cpp: In member function ‘virtual void bpftrace::test::clan

[2022-08-01 07:39] fbs commented on #2312
Do you have the correct version of gtest installed? Can you try building with the `-DVENDOR_GTEST=ON` cmake flag?

[2022-08-01 08:20] lenticularis39 commented on #2304
Actually the error message is wrong, it is not the recursion limit that is reached, it is the assumed length of the lexer buffer from a workaround implemented in 28fd10322, src/lexel.l lines 225-229

[code]
[code]

The purpose of the workaround as described in #1650 is to catch an error related to recursion, however it erroneously checks `yyleng`, which is, contrary to what is written in the commi

[2022-08-01 09:41] lenticularis39 commented on #2305
There is an option to print like this, but with a `\x` prefix:
[code]
An option to print without the prefix should be easy to implement.

[2022-08-01 10:36] ajor commented on #283
Is there an example use-case for this?

[2022-08-01 14:56] #1282 closed

[2022-08-03 01:26] shadyabhi commented on #2118
The problem still exists. I'm happy to provide debugging info if requested on this thread.

[2022-08-03 06:08] akanksha216 commented on #2312
With the above mentioned solution , the make was successful and not finding the error.

[2022-08-03 08:55] fbs commented on #2312
yay

[2022-08-03 08:55] #2312 closed

[2022-08-03 08:59] #2304 closed

[2022-08-04 05:13] viktormalik commented on #2306
It could be nice to have `strstr` and since the BPF verifier now allows bounded loops and we have strings of bounded size, it should be possible to implement it. The implementation may still be tricky, but feel free to give it a try.

[2022-08-04 12:02] caizixian opened #2317 "Permission error when building docker images with libbpf"
### What reproduces the bug?
As suggested in #2303, libbpf needs to be built from source before building bpftrace.

I added `-e BUILD_LIBBPF=ON` to https://github.com/iovisor/bpftrace/blob/05cfa8e6cde2d16cdaabe4ad16eb7fd4d793b6ec/build-static.sh#L7

However, libbpf will fail to build, because it doesn't have permission to write to `/src`.

Deleting `-u $(id -u):$(id -g)` on the same line would wor

[2022-08-05 11:13] caizixian opened #2318 "BEGIN probe exit with -1"
### What reproduces the bug?
`bpftrace -e 'BEGIN { printf("Hello eBPF!\n"); }'` on Ubuntu 18.04 with 5.4 HWE kernel. bpftrace, bcc, and libbpf are all built from source with LLVM 12.

Can reproduce this issue with the static `bpftrace` built using the [build-static.sh](https://github.com/iovisor/bpftrace/blob/master/build-static.sh) script.

The output
[code]

bpftrace commit: `05cfa8e6cde2d16cdaa

[2022-08-05 14:16] caizixian commented on #2318
I ran `strace`, and apparently the 5.4 kernel doesn't support `bpf_prog_test_run_opts`.

However, this symbol is in `bpf.h` from libbpf, so bpftrace tries to use `bpf_prog_test_run_opts` like here.

https://github.com/iovisor/bpftrace/blob/05cfa8e6cde2d16cdaabe4ad16eb7fd4d793b6ec/src/bpftrace.cpp#L1029

The current workaround I had is to comment out

https://github.com/iovisor/bpftrace/blob/05cfa8

[2022-08-08 06:18] viktormalik commented on #2318
cc @danobi

The problem seems to be that libbpf has `bpf_prog_test_run_opts` but the kernel doesn't have the `BPF_PROG_TEST_RUN` command, so we should check for it, too.

[2022-08-08 08:40] viktormalik commented on #2317
libbpf is built as a part of bcc inside `docker/Dockerfile.ubuntu-glibc` but the problem is that libbpf headers were not installed there. This should be fixed by #2319, could you give it a try? Thanks!

[2022-08-08 09:09] #2317 closed

[2022-08-09 15:29] danobi commented on #2318
@caizixian can you give the linked PR a try please?

[2022-08-10 00:56] BurntBrunch opened #2322 "bpftrace should have a strong dependency on libbpf"
While working on #2321, I had to manually - and poorly - reimplement functionality that's already in libbpf in a more complete form. (namely, subprogram and func_info relocation)

I'm opening this issue to discuss making libbpf a required dependency, especially given its imminent 1.0 release. This dependency would allow us to

1) Pass in-memory ELF files to libbpf, removing all of the current orc

[2022-08-10 01:05] caizixian commented on #2317
Thanks @viktormalik . I can confirm that `./build-static.sh` works for me now.

[2022-08-10 01:07] caizixian commented on #2318
@danobi Thanks a lot for the fix. I will test and report back.

[2022-08-10 06:45] viktormalik commented on #2322
Hi @BurntBrunch, thanks for opening this!

libbpf is currently required for building bpftrace (since #2265) so you can freely use functions that it provides (although we currently support also older libbpf versions). On the other hand, many of the ideas above are great and we should consider implementing them eventually. I'd suggest to continue discussion in this thread and then open separate issu

[2022-08-10 15:54] #2297 closed

[2022-08-10 17:10] BurntBrunch commented on #2322
Alright, I'm glad this is well-received! :)

How do we go about formalizing the min version? Is that strictly in the cmake config or do we do it anywhere else?
I'd love to make the version requirements pretty high (e.g. 0.8.1 or the upcoming 1.0.0) to avoid distros getting by with much older libbpf than is advisable.

Also, does this mean we can clean up all the HAVE_LIBBPF_* checks and fallbacks?

[2022-08-10 17:42] BurntBrunch opened #2323 "printf can use less stack storage"
Large printf expressions currently build the entire arguments struct on the stack. If one of the arguments is e.g. `char foo[64];`, that's 64 bytes of stack we'll use even if we don't need to. Sufficiently complicated printfs can easily exhaust the stack space.

There are a few paths I can see out of this:
1) Be smart about %s params and copy them as length-prefixed strings. This will help _some_

[2022-08-10 19:10] fbs commented on #2323
Similar to #1801 ?

[2022-08-10 19:15] BurntBrunch commented on #2323
Yup, didn't know that existed. What prevented the merge of that PR?

[2022-08-10 19:18] fbs commented on #2322
While from a development perspective only bleeding edge would be great we do try to support a wide range of kernels and library versions. Stable distros as still quite popular, so I'd say as low as we can reasonably go.

It's tricky, bpf moves way to fast for the distros (and us) to keep up

[2022-08-10 19:32] danobi commented on #2322
I am open to this as well. I evaluated the same idea ~1 year ago but stopped short of implementing for a few reasons:

1. bpftrace does some tricky things and might do more tricky things in the future. One avenue of concern is that libbpf may lack support for various advanced functionality. But going through libbpf might delay when bpftrace users are able to actually use the new feature (for lack

[2022-08-10 19:40] danobi commented on #2322
To expand, I think vendoring libbpf is really the only sane long term solution. It is more or less inevitable that we will have to carry some out of tree libbpf patches at some point, especially if we punt all loading operations to libbpf. And it is also a very practical way to keep up with the rapid pace of bpf development.

For example, rust vendors llvm for most likely similar reasons.

[2022-08-10 19:41] fbs commented on #2323
complexity + lack of review time + big change I think.

By decoupling the signal (print event) from the data (now in the map) you do have to be careful about race conditions, maybe a random ID that you ship in the event that links back to the map element that you need. Performance on systems with a large number of cpus might also be a concern, although we're not that performance focussed right now

[2022-08-10 19:47] fbs commented on #2322
I agree, vendoring seems like the best way to go forward, also considering our limited dev power.

I do think the end goal should be to 'unvendor' it again when (if ever) everything stabilizes. Or atleast track stable releases at a pace that works for distros as well.  Doing so should also prevent collecting patches that never get upstreamed

[2022-08-10 21:32] BurntBrunch commented on #2323
I'm not suggesting that we keep the data _only_ in the map. I'm suggesting that we simply pass map pointers to `perf_event_output`, so we can build arg structs that don't fit on the stack. `perf_event_output` would still be doing its copy into its own per-CPU perf buffer.

Of course, we can also use `ringbuf_reserve`, which addresses specifically these copies and avoids them completely.

Either ap

[2022-08-10 22:00] BurntBrunch commented on #2322
That's kinda why I suggested 1.0 as the min version - it's supposed to be the last big API cleanup before "stability" is a thing. It's been baking for quite a while.

Now, requiring 1.0 would also require that distros update all their stragglers but overall I don't think it's an unreasonable design decision at this point in time.

I'd need examples but the thing about libbpf is that you can always

[2022-08-10 22:48] davide125 commented on #2322
Yes, vendoring / bundling library dependencies is problematic for distributions and it should be avoided if possible. Fedora's [policy](https://docs.fedoraproject.org/en-US/fesco/Bundled_Software_policy/) is that it's only allowed as a matter of last resort (meaning, if it is at all possible to build a package against system libraries is should be build against system libraries). I'm not as famili

[2022-08-10 23:24] Conan-Kudo commented on #2322
Having done the backport work for Ubuntu 16.04 and 20.04 I can tell you that even if you do it, the result isn't terribly functional. You wind up missing kernel headers or libc headers and things of that nature. You need minimum kernel versions defined alongside libbpf versions.

Insofar as Debian's policy on bundling, it's generally forbidden rather than allowed as a last resort.

[2022-08-11 02:19] danobi commented on #2322
Agreed.

One example I had in mind was how bpftrace used to encode map FDs directly into bytecode during codegen. I ended up fixing that to use ids instead of fds and fixing up the ids -> fds at load time. This helped make the codegen tests less hacky (no longer dependent on a specific fd allocation order).

I suppose if we used libbpf we could instead codegen however clang does it (emit relocatio

[2022-08-11 06:21] lenticularis39 commented on #2228
Issues detected by tests were fixed with the merging #2316, if there aren't any other known issues, this issue can be closed.

[2022-08-11 06:50] viktormalik commented on #2322
I'd strongly advocate against doing this. Once we start patching the vendored libbpf, rebasing to new versions will eventually become a pain and un-vendoring (which I agree would be the goal in such a case) will be quite difficult. Ofc we won't have the latest libbpf bug patches immediately (especially the packaged versions of bpftrace won't) but I think (or hope) that it's a rare situation that w

[2022-08-11 07:13] #2228 closed

[2022-08-11 09:56] liutingjieni commented on #1610
My environment: debian 10.12, kernel version 5.4.56.bsk. 10-amd64
The compilation did encounter the above problem, I switched to branch 0.12.1_release and solved it.
So looking forward to joining the main branch soon

[2022-08-11 16:47] nekopsykose opened #2324 "building against binutils 2.39 libbfd fails"
version: 0.15.0
[code]

this is because binutils 2.39 now takes some extra fprintf-styled-function argument for `init_disassemble_info`.

[2022-08-11 19:00] BurntBrunch commented on #2322
Sigh, github ate my first comment so I apologize if I'm a bit shorter in this iteration.

First off, thanks for chiming in, everyone, it's much appreciated! I'll address some specific points first and discuss a possible formalization after.

@Conan-Kudo, can you expand a bit on what exactly you found broken w.r.t. headers? My hope is that going forward, with BTF being enabled in the last LTS Ubunt

[2022-08-11 22:45] BurntBrunch opened #2325 "Helper errors should be emitted to stdout as -f json events"
When running bpftrace with `-f json`, I think it's reasonable to expect events from the execution, like helper errors, to be emitted to stdout. Unfortunately, that output only goes to stderr as a WARNING log.

If we run with -kk, we see the error clearly but not on stdout, as JSON output:
[code]

### Describe the solution you'd like
I'm open to suggestions but I think it's not unreasonable to have

[2022-08-12 19:12] BurntBrunch commented on #2325
I put up #2326 as a first pass at this.

[2022-08-12 22:45] danobi commented on #2322
Thanks for the detailed analysis @BurntBrunch . I've only skimmed the details (about to head off the grid for a few days) but I think this is a nice compromise.

I think running bpftrace in lockstep with libbpf is a good solution. We might initially prevent users on older distros from building bpftrace, but hopefully there is enough downstream pressure on distros to update libbpf such that things

[2022-08-14 16:30] liutingjieni commented on #2306
I have started to develop this function now, but I have not developed bpftrace before, and I am not familiar with the related libraries of llvm. I have some difficulties in development and debugging. Do you have relevant information here to help me get started quickly?

[2022-08-14 17:09] liutingjieni commented on #2306
I am currently developing based on  0.12.1_release version, is this branch ok? If not, is it a recommended branch?

[2022-08-14 17:22] fbs commented on #2306
All development happens against the master branch. 0.12 is quite an old release.

As for LLVM, its something you have to get your head around. I recommend taking a look at the basics of single static assignment (SSA) and then at the IR reference guide and checking how other parts are implemented. The implementation of strncmp might be a good starting point: https://github.com/iovisor/bpftrace/blob

[2022-08-14 17:28] liutingjieni commented on #2306
This branch( 0.12.1_release) is used because there was a problem compiling the master. https://github.com/iovisor/bpftrace/issues/1610

[2022-08-14 17:48] fbs commented on #2306
0.12 is 1.5y old by now. Any work you do you'd have to rebase against master and that will be a massive challenge. Please make sure you have an up to date bcc and libbpf. You might have to compile those your self as debian 10 is fairly old

[2022-08-14 18:00] liutingjieni commented on #2306
Ok, I will update my developer computer to debian11 and rebuild the development environment. Thanks for your reply

[2022-08-15 06:12] viktormalik commented on #2322
I really like the proposal @BurntBrunch. Setting up a minimal version and vendoring libbpf with no patches is a nice compromise that will make distro packager's life easier and give developers the latest libbpf features at the same time.

On a side note, from a distro packager point of view, doing a libbpf version update is not as simple as for other userspace tools (e.g. bpftrace). Since libbpf i

[2022-08-15 21:01] danobi commented on #2322
Clarifying in case I misunderstand:
* IIUC distros are encouraged to package libbpf from the GH mirror: https://github.com/libbpf/libbpf
* libbpf is designed to be forwards/backwards compatible with older and newer kernels. Here are two quick citations:
  * https://patchwork.ozlabs.org/project/netdev/patch/1571995035-21889-1-git-send-email-magnus.karlsson@intel.com/#2292905
  * https://lore.kernel

[2022-08-15 22:00] BurntBrunch commented on #2322
Oh, but that's the thing - we wouldn't. Local builds will by default use the vendored libbpf, so most users would be fine. Package maintainers will have to do a different dance but that's fine, it's part of the deal.

Daniel responded to this but I just want to add that any such issues (newer libbpf not working on older kernels or vice versa) should be raised upstream as they are 100% bugs.

Right

[2022-08-15 22:04] Conan-Kudo commented on #2322
While this is true, bpftrace is more tightly coupled because it uses both libbpf and bcc. The latter is what fails on older kernels. Both bcc and bpftrace have much tighter coupling with Linux APIs, and my attempts around backporting to older distributions has led to enough funky results that I would probably recommend declaring baseline kernel uapi versions too.

[2022-08-15 22:12] Conan-Kudo commented on #2322
I should also mention that there's an LLVM dependency here, and outside of RHEL and SLE, LTS distributions typically don't ship fully functioning up to date LLVM stacks to use. And even when they are available (e.g. in Ubuntu LTS as part of HWE stuff), it usually requires some serious contortions to get it to work properly at build time.

For example, I carried this downstream patch for work when

[2022-08-15 22:21] BurntBrunch opened #2327 "bpftrace cannot attach kprobe to module symbol+offset"
### What reproduces the bug?
Trying to attach to an offset in a module function always fails. (`icmp_match` is in `ip_tables.ko`)

[code]

[code]

### bpftrace --info
[code]

### Discussion

This fails because we try to verify the kprobe offset ourselves in order to disallow offsets in the middle of instructions or outside of functions. When we do that, we end up parsing symbol tables for the kern

[2022-08-15 22:32] BurntBrunch commented on #2322
Right, a lot of the refactoring here will involve moving things to use libbpf's equivalent functionality instead.

Hey, one major dependency at a time! :smile:

But I hear you, that's definitely the next big thing to clear up and figure out. I'm hoping that a lot of people would be okay with using the static binaries but I understand that that's not always allowed and I don't have a silver bullet

[2022-08-15 22:39] Conan-Kudo commented on #2322
Not really, no.

[2022-08-15 22:40] Conan-Kudo commented on #2322
Not really, no. That's usually creates way more trouble.

[2022-08-15 22:42] Conan-Kudo commented on #2322
Then it should be dropped from the kernel source tree. The current situation is way too confusing.

[2022-08-15 23:05] BurntBrunch commented on #2322
@Conan-Kudo feel free to start a discussion at the libbpf repo here on GitHub or on the bpf mailing list.

In this issue, we don't really control how libbpf is version controlled or distributed but we do control how bpftrace finds and uses it. The proposed changes will likely make your life easier, llvm versioning notwithstanding.

[2022-08-16 05:41] viktormalik commented on #2322
I didn't know that this is the recommended way, thanks for pointing out.

Probably yes, but as has been pointed out, that's a question for another forum.

Yes, that sounds like a good plan. We should have one "overview" issue with all the steps (and dependencies between them) clarified and then we can create individual issues for each step where it's worth.

We use `glob` to do path expansion when

[2022-08-16 05:59] viktormalik commented on #2324
Hi @nekopsykose, this should be fixed by #2328, could you give it a try?

[2022-08-16 07:11] nekopsykose commented on #2324
confirmed, fixes the build :)

[2022-08-16 07:29] viktormalik commented on #2322
That would be great. AFAIK, there are currently 3 major parts where we depend on BCC: USDTs, probe attachement, and symbol resolution. I think that at least the first two will be replaced by libbpf as a part of this, so there's hope we could decouple from bcc eventually.

[2022-08-16 13:15] mmisono commented on #2327
Given that the kprobe checks offset and prevents invalid attachment which breaks kernel, I think it is OK to let the check if the offset is within the function or not optional. In other words, if bpftrace finds the symbol, then it will perform checks. Otherwise, it can print some warning messages if -v is given and continue.

[2022-08-16 15:20] danobi commented on #2327
Opportunistic check for function boundaries sgtm. Probably don't need the insn alignment check.

[2022-08-16 15:23] #2324 closed

[2022-08-16 15:23] danobi commented on #2318
ping @caizixian

[2022-08-16 17:09] BurntBrunch commented on #1845
I think this issue is vastly understating how difficult such a backend is.

BPF is not just the bytecode. To use modern features, you need ELF output, BTF output, BTF.ext output, full relocation support, potentially CO-RE support, and even btf_tag support. This is a lot of work to redo from scratch - it _can_ be done but at what (opportunity) cost?

LLVM comes with active developers of the BPF bac

[2022-08-16 18:24] anakryiko commented on #2327
Why not rely on kallsyms for looking up symbols? That will work for both vmlinux and kernel modules. You can only approximate function size because kallsyms doesn't record it, but that's still better than nothing.

[2022-08-17 10:49] caizixian commented on #2318
@danobi thanks for reminding and for the fix. Yes, I can confirm the problem is now fixed.

[2022-08-17 10:49] #2318 closed

[2022-08-17 17:45] #2325 closed

[2022-08-18 08:22] caizixian commented on #954
@remyleone Please see this for a workaround https://bugs.launchpad.net/ubuntu/+source/bpftrace/+bug/1969625

[2022-08-19 23:39] BurntBrunch opened #2334 "libbpf as a main part of program loading"
This is a first draft of the refactoring steps discussed in #2322.

The overall goal is to delegate more of the work to libbpf and gradually stop dealing with details that libbpf can already handle.

## Program and map loading

1. Emit in-memory ELF and build the BpfBytecode map out of it via ELF
1.1. This step remove the ORC usage but keeps the current bag-of-sections approach.
3. Emit global var

[2022-08-19 23:40] BurntBrunch commented on #2322
Closing as resolved.
POR is to vendor libbpf for local builds and clearly state the dependencies, moving libbpf along as it gains features we need.

Let's discuss the actual work/steps in #2334.

[2022-08-19 23:40] #2322 closed

[2022-08-22 03:16] liutingjieni commented on #1855
I also encountered this problem when compiling bpftrace after reinstalling bcc. My solution is to delete the build directory of bpftrace and recompile (cmake, make, make install)

[2022-08-22 20:17] BurntBrunch opened #2339 "Prepare bpftrace for struct arguments to kfuncs"
BPF is gaining support for [struct fentry arguments](https://lore.kernel.org/bpf/20220812052419.520522-1-yhs@fb.com/). These are currently rejected in the verifier or, if you try to use kprobe, you see the argument split across multiple argX values.

The code from bpftrace 0.15 looks reasonable enough:

[code]
(This code blows up at the assertion [here](https://github.com/iovisor/bpftrace/blob/mas

[2022-08-23 21:40] anakryiko commented on #2334
and

are in diagreement. Which one it is? I think, if at all possible, leave loading BPF programs to libbpf and `bpf_object__load()`. Load step performs transformations, CO-RE relocations. Instructions you get with `bpf_program__insns()` before load happened is not a final instructions, you generally can't load them into kernel with `bpf_prog_load()`. With `bpf_program__set_autoload()` you have co

[2022-08-23 23:55] BurntBrunch commented on #2334
It's a bit ambiguously worded. I meant it more as "use bpf_object to discover the maps and programs but do relocation and loading the way it's done today."

There may not be much value in that step other than separating the refactoring of ownership and internal bookkeeping of probe to program mappings, tbh. There are, however, a lot of relationships to clean up and clarify in the code (e.g wildcar

[2022-08-24 06:14] martinetd opened #2340 "cannot build with bcc 0.25.0"
bcc changed the prototype of `bcc_prog_load_xattr` in 0.25.0:

[code]

and bpftrace cannot cope with that yet:

[code]

I'll open a PR to add a cmake check and use either prototype when I can find time for it, but if someone else wants to beat me to it feel free to (I'll repost here when I start, and it likely won't be this week)

[2022-08-24 06:30] viktormalik commented on #2339
Personally, I don't like this too much as we'd basically change the type of the argument (non-pointer to pointer). I'd prefer treating it as the struct (which it is) and accessing the members with `.` (e.g. `args->optval.kernel`). We already support this syntax, e.g. we can do `bpftrace -e 'BEGIN { @ = curtask->thread_info.cpu }'`.

In fact, the only problem I can see here is the way we handle ano

[2022-08-24 15:52] danobi commented on #2327
@anakryiko I believe bpftrace uses `/sys/kernel/debug/tracing/available_filter_functions` to check that the requested symbol exists. Then uses `perf_event_open`'s `config1` to pass in kprobe func as a string. So we don't really need to resolve the addr of the symbol. We use vmlinux symbol table to check that the kprobe offset (eg `kprobe:my_func+0x5`), if provided, is still inside the requested sy

[2022-08-24 17:40] anakryiko commented on #2327
@danobi the first part makes sense, the second -- reliance on having vmlinux image access seems like a complication. kallsyms seems like a better mechanism for the second part as it contains both vmlinux symbols and all the loaded module's ones. But I have no horse in the race, whatever makes most sense to bpftrace maintainers.

[2022-08-24 17:43] anakryiko commented on #2334
yeah, I was trying to understand if that's the plan, thanks! It makes sense to go through intermediate steps to get there, yep.

[2022-08-24 19:09] danobi commented on #2327
@anakryiko which is the second part? Checking vmlinux symbol table to find function sizes?

Just trying to understand better what the options are.

[2022-08-24 23:06] BurntBrunch commented on #2339
Yeah, the store is wrong of course. This assumption needs unwinding, that whole ptrtoint cast would now be wrong:

https://github.com/iovisor/bpftrace/blob/833ca149e8e1f41a0d8b13826f8261c1b75673a4/src/ast/passes/codegen_llvm.cpp#L2090-L2097

I'd like to avoid storing it under the typedef name, if possible, just to keep things similar to btf. Maybe we can internally refer to the type by (btf type i

[2022-08-24 23:11] BurntBrunch commented on #2327
I think @anakryiko is saying we can use the kallsyms addresses to do a binary search on the symbol+offset addr and see if it falls on the same symbol. This would work in most egregious cases but would miss things the current vmlinux approach catches.

Personally, I don't think the overhead of finding a vmlinux image with debug symbols and parsing it is worth this sanity check.

Besides, there migh

[2022-08-25 04:15] viktormalik commented on #2339
So we have `StructManager` that keeps track of all types. It currently has a map which maps struct names to their definitions. I don't think that we can store the types under their BTF id as we don't always use BTF (and, e.g., for userspace probes, we never will).

On the other hand, when using BTF, types can be resolved in `FieldAnalyser` (this is in #2315) and assigned directly to the expr they

[2022-08-25 05:01] danobi commented on #2327
I see, that's an interesting technique.

Is the overhead noticible? I trace w/ kprobe relatively often and I haven't noticed it. I kinda like the extra sanity checks in case I typo and I end up tracing some totally unrelated function. Users are usually not tracing when things are going well -- better to prevent any further issues.

[2022-08-25 05:35] #2300 closed

[2022-08-25 09:28] shapaz opened #2342 "Segfault when dereferencing "ctx" in kprobe"
I'm trying to access the current task's flags through a kprobe hook, but bpftrace crashes with segmentation violation.

### What reproduces the bug?
A minimal crashing example:
[code]
(obviously my real program actually does something, unlike the above)
This crashes no matter what I write in `XXX` and `YYY` (either meaningful or dummy values).

### bpftrace --info
[code]

[2022-08-25 13:02] martinetd commented on #2340
Thanks for the heads up, fc940d31be140d54ceb4c7ae47371785f0b26b65 indeed removes that call to `bcc_prog_load_xattr()` so it does actually fix this problem, and the current master branch builds with bcc 0.25.0!

Unfortunately it's also totally impossible to backport to 0.15.0 -- so I'm not sure what we want to do here...
alpine edge is left with bpftrace not working because they upgraded bcc first

[2022-08-25 13:50] fbs commented on #2340
I wanted to keep a 3 month-ish release cycle for problems like these, so if it helps we can do the 0.16 release soon. Depends on what is currently in flight

[2022-08-25 15:55] #2114 closed

[2022-08-25 23:24] BurntBrunch commented on #2327
Only one way to find out! :smiley:

I profiled startup and it looks like the kprobe attachment with offset is dominated by the `available_filter_functions` parsing and the verification part is tiny in comparison.
The vast majority of the cost is in the kernel but there's some minor (~5% of cycles) STL usage improvements we can do too.

[2022-08-26 02:39] anakryiko commented on #2327
the issue with expecting to find symbol in vmlinux is not so much performance rather that kernel module symbols are not found there and cause unnecessary failures. I thought we were trying to fix that?

[2022-08-26 05:35] viktormalik commented on #2342
Ah, a typo :-( Thanks for finding this, should be fixed by the attached PR.

[2022-08-26 05:40] viktormalik commented on #2340
We have two bigger features (#2315 and #2321) but they may still take some time, so I wouldn't block a release with them. Also, we haven't released the `join` fix which blocks one of the tools, yet, so let's wait for #2322 and #2343 to land (which should be quick) and release 0.16.

[2022-08-26 05:48] martinetd commented on #2340
Thanks! It would be great -- I'll let you handle it then :)

(master branch builds fine with bcc 0.25.0 so this issue could technically be closed, but it'll be slightly easier to follow if we close it when release is made -- no hard preference though, please close if appropriate...)

[2022-08-26 06:55] #2342 closed

[2022-08-26 14:46] danobi commented on #2327
The linked PR does fix it, doesn't it?.

[2022-08-26 16:57] anakryiko commented on #2327
Didn't see the PR. It alleviates the problem, yes. It will still emit invalid claim about failure to resolve the symbol, but that's guarded by verbose option, so I guess it's fine.

The point, though, is that kernel modules are not supported at the same level as vmlinux in this case. But I'll let you guys decide what and whether you want to do anything about that.

[2022-08-27 23:26] kobi-ca commented on #2168
@zhihaop  - how did you install `bpftrace-dbgsym` on ubuntu 22.04? I'm unable to find it in the repos.

[2022-08-29 04:48] martinetd commented on #2322
Chiming in late here (thanks to the link from the bcc issue), but I can also add the nixos and alpine packager hats for not liking vendoring.

for nixos it's ok as last resort, but I don't think I've ever seen any alpine module with one yet (explicitly looking right now I see libcamera has some, but I see more patches that remove them than packages using one)

I think it's ok to only support libbp

[2022-08-29 15:49] zhihaop commented on #2168
@kobi-ca You can install `bpftrace-dbgsym` after setting up  the debugging symbol packages, and this [link](https://wiki.ubuntu.com/Debug%20Symbol%20Packages) may be helpful.

In short, the following script may help to install `bpftrace-dbgsym`.
[code]

[2022-08-29 15:53] kobi-ca commented on #2168
thanks @zhihaop  - I'll give it a shot!

[2022-08-29 16:46] anatol commented on #2340
Arch Linux hit the same issue with bcc 0.25 vs bpftrace https://bugs.archlinux.org/task/75718

[2022-08-30 09:13] martinetd commented on #2340
FWIW since alpine also already had bcc 0.25 in the repos and bpftrace was unusable I went with my compatibility patch on 0.15 for now: https://gitlab.alpinelinux.org/alpine/aports/-/merge_requests/38080

We'll upgrade to bpftrace 0.16 as soon as it's released.

(for my nixpkgs hat, we'll either keep both versions around until bpftrace 0.16 is released or just delay the upgrade of the whole stack a

[2022-08-30 09:15] viktormalik commented on #2340
@fbs I think that we're good to do a release

[2022-08-30 15:29] #2327 closed

[2022-08-30 15:30] danobi commented on #2168
FWIW you will no longer need debug syms (really just symbols) after the next release. See https://github.com/iovisor/bpftrace/pull/2264

[2022-08-30 16:42] fbs opened #2345 "0.16 release"
time for the next release!

TODO:

- [x] changelog update, release tag
- [x] release artifacts
- [x] changelog update in master

optional:

- clean up our milestones, set new ones

[2022-08-31 06:15] fbs commented on #2345
Created two milestones and added some of the work that seems to have traction to it

[2022-08-31 06:27] martinetd commented on #2340
Thanks! 0.16.0 looks good :)

[2022-08-31 06:27] #2340 closed

[2022-08-31 09:13] fbs commented on #2345
All steps should be done but it would be nice if anyone feels like doublechecking.

https://github.com/iovisor/bpftrace/releases/tag/v0.16.0

[2022-08-31 18:09] chutz opened #2349 "0.16 fails to build"
Trying to package for Gentoo, and it fails to build. This is reproducible even if all local patches are dropped.

Installed dependencies:
bcc-0.25.0
libbpf-1.0.0
gcc-12.2.0
llvm-14.0.6
clang-14.0.6
binutils-libs-2.38

Building with these cmake options:
[code]

[code]

[2022-09-01 09:42] TanCharles opened #2350 "./build"
### What reproduces the bug?

### bpftrace --info
 Using cache
 ---> 1a3247018652
Step 12/12 : ENTRYPOINT ["bash", "/build.sh"]
 ---> Using cache
 ---> e5cdbdd29fab
Successfully built e5cdbdd29fab
Successfully tagged bpftrace-builder-focal:latest
/mnt/test/bpftrace
CMake Error at /usr/local/share/cmake-3.20/Modules/FindPackageHandleStandardArgs.cmake:230 (message):
  Please install the libbpf deve

[2022-09-01 15:59] danobi commented on #2349
I'll take a look. But it might be a few days before I get a chance.

[2022-09-01 16:03] danobi commented on #2350
Can you try with this patch applied?
[code]

[2022-09-01 16:14] miwojcik commented on #2350
I have the same problem. Unfortunately the patch doesn't solve it.

[2022-09-02 01:02] BurntBrunch commented on #2334
#2321 got a little stuck on dealing with old libbpf versions, so I decided to hurry up and do the import into the repo. Uhm, that hasn't gone according to plan.

https://github.com/BurntBrunch/bpftrace/commits/vendor-libbpf has my work in progress. I've opted to import as a submodule, so it's easier to navigate, but I'm open to just using ExternalProject and letting cmake check it out.

The proble

[2022-09-02 01:12] TanCharles commented on #2350
Thank you. Maybe it has something to do with my operating system. My operating system is Euler

[2022-09-02 01:13] TanCharles commented on #2350
Maybe it has something to do with my operating system. My operating system is Euler

[2022-09-02 05:16] viktormalik commented on #2350
The problem is that you're missing the libbpf package. If Euler is not packaging it, you have to install from source (which is exactly what the above patch does).

@miwojcik could you try installing libbpf manually from https://github.com/libbpf/libbpf?

[2022-09-05 08:38] michalgr commented on #1338
Hi all.

Thanks to @anakryiko [libbpf already has some logic to determine whether to use debugfs or not](https://github.com/libbpf/libbpf/blob/master/src/libbpf.c#L9908) and I opened pull requests to mirror it in [bpftrace](https://github.com/iovisor/bpftrace/pull/2351) and [bcc](https://github.com/iovisor/bcc/pull/4216).

[2022-09-07 05:50] jschwinger233 commented on #1763
Just figured out for uprobes the syntax `uprobe:library_name:address` is misleading, and the correct statement should be `uprobe:library_name:offset`.
We know a symbol's address is different from its offset, generally speaking, one's offset = one's address - text.Address + text.Offset, where "text" is the ELF section header `.text`.
Once I'm using the offset, the bpftrace works as expected. Thanks

[2022-09-07 06:01] jschwinger233 commented on #1763
I opened a PR https://github.com/iovisor/bpftrace/pull/2352 to clear the air.

[2022-09-08 02:51] kobi-ca commented on #2168
@zhihaop  - thank you again, it worked great. I can run `opensnoop.bt`

[2022-09-08 13:34] liutingjieni opened #2353 "ustack error"
### What reproduces the bug?

Printing the stack of a thread, there will be an occasional error( I confirm that I have not called any kernel functions in the function of this thread). But if the function is called by the main thread to print its stack, there will be no error.

<img width="413" alt="image" src="https://user-images.githubusercontent.com/46086382/189134514-5e7be9b8-a9f3-4cd7-89e0-bba

[2022-09-09 07:14] viktormalik opened #2356 "Improve kernel feature detection in runtime tests"
At this point, we use `MIN_KERNEL` and `MAX_KERNEL` to limit runtime tests to some kernel versions only. This may cause trouble with kernels that do not follow the upstream version numbering.

For example, GitHub Actions env is currently on  5.15.0-1029-azure which clearly has code from 5.17+ as it broke our [test](https://github.com/iovisor/bpftrace/blob/master/tests/runtime/variable#L48-L53) lim

[2022-09-12 21:49] #1763 closed

[2022-09-15 14:07] sm00th commented on #1821
Hi, I was looking into adding support for recently merged [crash_kexec() kfunc](https://lore.kernel.org/bpf/20220810065905.475418-1-asavkov@redhat.com/) to bpftrace. So I would love to help out with getting general kfunc support into bpftrace as well. Was there any work already done on this? Were you planning on just adding general kfunc support or adding specific kfuncs as builtins the same way i

[2022-09-21 06:06] lenticularis39 opened #2362 "probe builtin breaks interval and profile probes"
When using the `probe` bultin within an interval or profile probe, the program fails to compile:
[code]
This happens because SemanticAnalyzer always sets `need_expansion` when `probe` builtin is encountered, regardless of whether it actually contains a wildcard or not.

[2022-09-22 13:53] #1688 closed

[2022-09-23 17:55] toppk opened #2365 "bpftrace segfaults when using llvm-15 "Attempting to get element type of opaque pointer""
### What reproduces the bug?
running this on fedora 37 beta segfaults:
`bpftrace  -e 'BEGIN { printf("hi\n") }'`

fedora is shipping with LLVM 15.0.0
here is the stack trace:
[code]

### bpftrace --info

[code]

[2022-09-24 16:06] fbs commented on #2365
can you get the actual crash out of it as well?

[2022-09-24 19:39] toppk commented on #2365
What are you looking for?  output to the console or the core file?
The only output is: `Segmentation fault (core dumped)`

[2022-09-25 15:27] caringi commented on #2365
I'm reproducing this crash here...

backtrace with debuginfo:

[code]

[2022-09-25 16:28] hhoffstaette commented on #2349
The above is slightly misleading since *another* problem precedes it.
When running a `cmake .. -DSTATIC_LINKING=OFF -DBUILD_TESTING=OFF -DBUILD_FUZZ=OFF -DENABLE_MAN=OFF` on master against libbof-1.0/bcc-0.25 we get:

[code]

which is due to underlinking and/or wrong detection of LIBBPF_BTF_DUMP_FOUND [here](https://github.com/iovisor/bpftrace/blob/master/src/CMakeLists.txt#L129).
Adding the link

[2022-09-25 16:50] hhoffstaette commented on #2349
Aha! Of course the method is missing. In `btf.cpp` we find:

[code]
and that second bpftrace namespace does **not** contain a definition for `get_btf_id`.
So that explains the linker error. Unfortunately I have no idea how to fix this ifdef mess, but I hope this analysis helps.

[2022-09-25 17:50] hhoffstaette opened #2366 "bpftrace-0.15.0 asserts with LLVM-15: `NumContainedTys && "Attempting to get element type of opaque pointer"' failed"
On Gentoo we had bpftrace-0.15.0 working fine with LLVM-14. Since 0.15.0 contains commit https://github.com/iovisor/bpftrace/commit/f94e0188ace7fe999f5032e6bbf696b5078f6918 we bumped the permitted LLVM version to 15, but that seems to have been a bit overly optimistic:

[code]
Lowering the max. LLVM version to 14 makes it work again:
[code]

[This commit](https://github.com/llvm/llvm-project/commi

[2022-09-26 01:28] toppk commented on #2365
I'm did a fresh debug build and now I'm getting this llvm error message before the segfault.

[code]

[2022-09-26 02:08] toppk commented on #2365
Tracking this down a bit, I see this guide.  https://llvm.org/docs/OpaquePointers.html

I was able to confirm this workaround allows me to continue to use bpftrace, but it there is some non-trivial porting that needs to be done to avoid the direct pointer access.

[code]

[2022-09-26 08:02] viktormalik opened #2368 "Handle LLVM opaque pointers"
LLVM is moving towards opaque pointers (i.e. pointers that do not feature information about the pointed type). More information can be found [here](https://llvm.org/docs/OpaquePointers.html). The upcoming version support is:
- LLVM 15: Opaque pointers are enabled by default. Typed pointers are still available, but only supported on a best-effort basis and may be untested.
- LLVM 16: Only opaque po

[2022-09-26 08:04] viktormalik commented on #2368
If no one has already started, I can have a look into this.

[2022-09-26 08:57] chengshuyi commented on #2350
[code]
Can you try with this patch applied?

[2022-09-26 13:15] miwojcik commented on #2350
It looks to be a move in good direction, because libbpf build is now started in `docker/build.sh` script, but it fails to create `/src` directory:
[code]

[2022-09-27 22:36] BurntBrunch commented on #2353
Do you have a way to reproduce this? Have you tried running with `bpftrace -kk` to verify the kernel side program is not emitting errors?

[2022-09-27 23:06] BurntBrunch opened #2373 "Improvements to CI"
I've spent quite a few hours dealing with bpftrace's CI and the matrix of supported builds.

As a result, I have some thoughts on possible improvements and would like to open the floor to a discussion on where to take things.

## Current setup

1. Base distros are focal, bionic, xenial, and alpine. The ubuntu flavors can run against multiple llvm versions thanks to llvm-X packages.
2. Some of the

[2022-09-28 05:20] hhoffstaette commented on #2366
Closing as duplicate of https://github.com/iovisor/bpftrace/issues/2365

[2022-09-28 05:20] #2366 closed

[2022-10-08 18:03] filbert14 commented on #1285
Hi! Is this issue still active? I'd like to contribute, could I claim this issue/get some pointers on where to start?

[2022-10-09 02:06] danobi commented on #1821
Hi, sorry about slow response.

Not that I'm aware of, but I've been a bit out of the loop lately.

I think bpftrace needs some infra under the hood. But we'll definitely want to audit each kfunc we enable so that it fits in well w/ the rest of the language and doesn't violate any of the guarantees we expose (eg `--unsafe`).

[2022-10-09 02:26] danobi commented on #1285
Hi @filbert14 , thanks for the interest!

My memory is a little hazy, but it looks like I ended up implementing this a while ago: https://github.com/iovisor/bpftrace/blob/720bbd086a2da5c8a2915a4cdb8687c666378d31/.github/workflows/ci.yml#L154-L167

[2022-10-09 02:26] #1285 closed

[2022-10-10 08:34] Qiaijueqing opened #2383 "Could not find bpf llvm target, does your llvm support it?"
What is the cause of this, and how can I troubleshoot it?
![EH3( PT2%P7CM A}3~BBC83](https://user-images.githubusercontent.com/87099269/194826757-de79feac-1086-4213-8239-6da405edfcaf.png)

![7F4 %}8WNW8R8IP(RROSX%Y](https://user-images.githubusercontent.com/87099269/194827424-0351c72b-8800-43ba-a08c-5d5194e633cd.png)

[2022-10-10 10:08] caizixian opened #2384 "Support iterating and checking the key of associative arrays"
### Is your feature request related to a problem? Please describe.
1. If I have an associative array with integer value, I could just use `if`, because querying a non-existing key returns 0. But if I have an associative array that has `count`s, I couldn't find a way to check whether a key is in the array, and using them as boolean operand in `if` is a type error.

2. I have some USDT probes that c

[2022-10-10 10:43] sm00th commented on #1821
I have a rough sketch of how it might fit: https://gist.github.com/sm00th/eb65efcc10059782bf8db9fac1a84c34

It doesn't generate proper code though as src part of the call instruction needs to be set to BPF_PSEUDO_KFUNC_CALL (0x02) and I am not sure how to achieve that.

[2022-10-10 18:23] #2383 closed, assigned to nobody

[2022-10-11 00:35] BurntBrunch commented on #2373
I would rather not, that's literally what distrobox does (it's a series of shell scripts around podman/docker). If you read through it, there's a bunch of gotchas you need to get right.

Yeah, that's more or less what I had in mind. Modulo not building the kernel but using a prebuilt mainline one.

I'm not sure nix is the answer either but let me explain my thinking:

We are currently relying on d

[2022-10-11 06:32] viktormalik commented on #2373
Right, it's probably quite complicated. Perhaps we could at least document somewhere which volumes need to be mounted to run bpftrace properly in a container.

Thanks for the explanation, this is useful. If I understand correctly, we basically need a distro offering two things: (1) reproducible (and shareable) env builds and (2) a way to build/install various combinations of package versions. Nix/

[2022-10-12 10:03] stevenjohnstone opened #2388 "Attaching uprobes with special characters in function names fails"
### What reproduces the bug?

Using version ```bpftrace v0.16.0-20-g720b``` try to attach to a uprobe to a golang function e.g.

[code]

This fails with
[code]

With strace I see
[code]

It looks like there are symbols in ```prog_name="crypto/rand.(*d``` which will be rejected.

The last working revision seems to be 5ab53fad2d748e9cf7ec60a45e799134c2db9633, just before changes to replace bcc loadi

[2022-10-12 17:50] BurntBrunch commented on #2373
Someone internally pointed me to [this blog post](https://blog.galowicz.de/2019/04/17/tutorial_nix_cpp_setup/) which, apart from the FP constructions that twist your brain, does exactly the type of matrix build that we want. There are some details to figure out (overriding fetch vs overriding nixpkgs versions) but overall this looks pretty doable with nix. We could even copy the [bpftrace nixpkg](

[2022-10-13 06:47] viktormalik commented on #2388
Your patch looks good, could you submit it as a PR? Thanks!

[2022-10-14 02:03] haomi123 commented on #1855
The bcc with -DENABLE_LLVM_SHARED=1  doesn't solve my problem

: CommandLine Error: Option 'filter' registered more than once!
LLVM ERROR: inconsistency in registered CommandLine options

[2022-10-14 06:31] #2388 closed

[2022-10-14 18:03] BurntBrunch commented on #2373
I spent some time messing around with Nix. Once you wrap your brain around its world view, our model becomes easy to express. E.g., this uses the upstream nixpkgs (should be pinned to a commit in the final version) version of the bpftrace package, overrides the source, removes unneeded patches, and compiles against a different LLVM.

[code]
This works just fine and produces a working bpftrace.

Th

[2022-10-15 11:26] NirLevy98 commented on #1855
The bcc with -DENABLE_LLVM_SHARED=1 doesn't solve my problem

: CommandLine Error: Option 'help-list' registered more than once!

[2022-10-17 23:44] BurntBrunch commented on #2384
I wouldn't call the reasons _good_, just limitations :)
Upstream bpf has `bpf_loop` and `bpf_map_for_each_elem` and I have some work in #2321 to use the latter to implement `delete_filter`, which can match on tuple sub-fields.

In my opinion, this wouldn't be a language construct (for .. in) but a function call with a custom callback. E.g. `iterate(@map, cb_fn)` where `cb_fn` is a local function,

[2022-10-18 03:41] sigmonsays commented on #1693
i'm curious of a solution to this, i'd like to use bpftrace to watch dns queries in both udp and tcp. Thanks!

[2022-10-18 06:34] #2368 closed

[2022-10-18 06:34] #2365 closed

[2022-10-22 11:44] collectrobot opened #2394 "fedora36 Segmentation fault when print ipheader pointer"
### What reproduces the bug?
when I run the following command,
[code]
I got a error: Segmentation fault (core dumped);
what I  expect is to print ipheader pointer;

#### gdb backtrace
I use gdb to print the backtrace
[code]

### bpftrace --info
[code]
### my environment
![image](https://user-images.githubusercontent.com/48012058/197336946-53827967-d1f2-4a2f-bcec-f1711b36c2f4.png)

[2022-10-24 16:55] ajor opened #2395 "Replace LGTM.com with GitHub Code Scanning"
LGTM.com is being shut down in December 2022 and is recommending users of it move to GitHub Code Scanning: https://github.blog/2022-08-15-the-next-step-for-lgtm-com-github-code-scanning/

[2022-10-25 09:02] viktormalik commented on #2394
Should be fixed by #2397

[2022-10-27 20:57] zmitchell opened #2400 "Build from source succeeds, program fails on startup"
### What reproduces the bug?

On Ubuntu 22.04, followed the installation instructions (copied from INSTALL.md):
[code]

The problem:
[code]

### bpftrace --info
See above

[2022-10-28 07:54] xh4n3 opened #2402 "flaky usdt test"
### What reproduces the bug?
Trigger CI on the master branch.
https://github.com/iovisor/bpftrace/actions/runs/3343605763/jobs/5536998903
https://github.com/iovisor/bpftrace/actions/runs/3341593002/jobs/5532960039

[code]

[2022-10-28 16:40] zmitchell commented on #2400
It's my understanding that `bpftrace` vendors `libbpf` via submodules, is that not that case? It looks like I have 0.5.0, but if I don't have it on my system before following the build procedures for `bpftrace` I would expect this to be the version built from the vendored sources.

There was a time in the past that I tried to build `bcc-tools` from source, so it could be that this version is from

[2022-10-28 21:40] zmitchell commented on #2395
Is there any historical data that needs to be downloaded from LGTM or is the scope as narrow as "turn off LGTM, turn on GitHub Code Scanning"?

[2022-10-28 22:35] BurntBrunch commented on #2373
#2396 also has the story of needing to pin bpftool versions - something that nix would make easy in any environment. Alternatively, we can vendor bpftool I guess.

[2022-10-28 22:41] BurntBrunch commented on #2400
Ugh, I didn't catch that vendored builds cannot be make installed (well, they can, but they point to the vendored libraries in the build directory). I'm not sure what the correct solution is here.
1. We can enforce vendoring to always statically bundle the vendored libraries, which will allow `make install` to work.
2. We can install the libraries in the path that bpftrace is installing itself int

[2022-10-28 22:46] BurntBrunch commented on #2402
I'm fighting with it in https://github.com/iovisor/bpftrace/pull/2370/commits/4eb280b07ee683f62176e06bdbb594c146a72379 but I can't make it stable yet. Now the pidof invocation to get the child pid after it has started is failing. I may just make that logic only run if the test needs BEFORE_PID.

[2022-10-29 13:15] fbs commented on #2400
Static linking the dependencies we vendor seems like the only workable approach to me, we either use the system one or grab our own but mixing them is risky.

[2022-10-29 14:08] fbs commented on #2395
Don't think there's anything valuable there

[2022-10-29 19:09] danobi commented on #2395
Yeah. Should be as easy as the latter.

LGTM didn’t catch too much anyways.

On Sat, Oct 29, 2022, at 3:08 PM, bas smit wrote:

--
  Daniel Xu
  ***@***.***

[2022-10-31 02:28] tanjianfeng opened #2403 "invalid func unknown#111"
### What reproduces the bug?

$ docker run -ti -v /usr/src:/usr/src:ro -v /lib/modules/:/lib/modules:ro -v /sys/kernel/debug/:/sys/kernel/debug:rw --net=host --pid=host --privileged quay.io/iovisor/bpftrace:latest bpftrace -v --include linux/skbuff.h -e 'kprobe:napi_gro_receive { $skb = ((struct sk_buff *)arg1); $ret = skboutput("receive.pcap", $skb, $skb->len, 0); }'

INFO: node count: 16
Attachi

[2022-10-31 02:40] xh4n3 commented on #2403
Hi @tanjianfeng , what kernel version are you on? The skboutput function relys on `bpf_skb_output`, which is only available after kernel 5.5
https://github.com/iovisor/bcc/blob/master/docs/kernel-versions.md#helpers

[2022-10-31 03:08] tanjianfeng commented on #2403
Thanks for the timely reply. Will close this issue.

[2022-10-31 03:08] #2403 closed

[2022-10-31 08:35] fbs commented on #2403
Shouldnt the run time feature checking check whether this call is available?

[2022-10-31 08:50] xh4n3 commented on #2403
@fbs Ah you're right, let me fix that #2404

[2022-10-31 13:38] zmitchell commented on #2400
What makes you say there's something weird in my setup (just so I can debug on my own in the future)?

Commit: f78d1cb5
[code]

[2022-10-31 17:23] BurntBrunch commented on #2400
It's actually more subtle than that. If the build folder still exists, the system-installed bpftrace will work. It's only after you remove the build folder (or make it inaccessible e.g. in a container with path rewriting) that it starts looking at the system libraries

I think I misunderstood how building against binaries specified by full path works.

I thought it would expect those exact paths t

[2022-10-31 21:24] deliciouslytyped commented on #516
What is the current status of this?

[2022-11-01 11:06] xh4n3 commented on #2323
Just tried moving the data to per-cpu map, it works for issue #2083

[2022-11-01 14:42] #2400 closed

[2022-11-01 15:49] #2232 closed

[2022-11-01 16:19] zmitchell commented on #2400
I just pulled `master` and rebuilt, but I'm getting the same error.
[code]

I didn't know about `rpath` before, so I tried looking for it, but I don't actually see it listed in the `bpftrace` binary:
[code]

[2022-11-01 17:13] BurntBrunch commented on #2400
Did you delete your build folder before rebuilding? At the very least you should delete CMakeCache.txt.
You shouldn't see libbpf or bcc as a DT_NEEDED library in the bpftrace-with-vendored-libraries binary:
[code]

[2022-11-01 18:30] zmitchell commented on #2400
Ah, no I didn't (I'm not super familiar with C build systems). I have it working now. Thanks!

[2022-11-02 00:27] zmitchell commented on #2395
Looks like at least the initial step will need to be done by a maintainer, I suspect the "Set up code scanning" button (one of the first steps here: [Setting up code scanning manually](https://docs.github.com/en/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/setting-up-code-scanning-for-a-repository#setting-up-code-scanning-manually])) is only visible t

[2022-11-02 01:25] BurntBrunch commented on #2395
I think you can set it up in your fork and then make a PR to this repo with the produced files, it's all GH Actions after all.

[2022-11-02 06:40] #2394 closed

[2022-11-03 06:44] viktormalik commented on #2402
I think that this should be resolved by #2370

[2022-11-03 07:48] kebe7jun opened #2408 "Many of the bpftrace subcommands will read the vmlinux file multiple times"
### What reproduces the bug?

[code]

By looking at the output of strace, it is confirmed that the entire contents of the vmlinux file are read multiple times.
This may be caused by BTF class initialization.

### bpftrace --info

[2022-11-03 13:22] Rtoax opened #2409 "Compile Error: USE_SYSTEM_BPF_BCC=ON"
When i set USE_SYSTEM_BPF_BCC=ON, like:

[code]
update submodule with `git submodule update --recursive`, AND run `./build-libs.sh`, then, compile:

[code]

I got lots of error:

[code]

Do i miss some thing?

[2022-11-03 13:37] Rtoax opened #2410 "Compile Error: USE_SYSTEM_BPF_BCC=OFF"
Procedure:

[code]

ERROR:

[code]

[2022-11-03 13:53] Rtoax commented on #2410
I know what happen:

[code]

[2022-11-03 13:53] #2410 closed

[2022-11-03 17:56] BurntBrunch commented on #2409
Yes, the minimum required versions of libbpf and bcc are now very high (effectively latest versions right now - 0.8.1 for libbpf and v0.25 for bcc) and few if any distros have those prepackaged. This is why we have them vendored in the repo.

[2022-11-03 17:59] BurntBrunch commented on #2402
Unfortunately, I don't think it was fully fixed, just made a bit better. I still don't fully understand how this happens (and why it happens on _that_ test specifically) but here's a run after that PR that timed out again - https://github.com/BurntBrunch/bpftrace/actions/runs/3381817256/jobs/5616467787

[2022-11-03 18:42] BurntBrunch opened #2412 "Codegen tests have been failing for a while and no one noticed"
If a ~~tree~~ test ~~falls~~ fails in a forest, does it ~~make a sound~~ matter? :smiley:

codegen tests have been failing (i.e. scripts/update_codegen_tests.sh fails) since f9dbbc8f076947f11c774aeef8080eb35137a8b0 and no one noticed.

I think something or other needs to be mocked but more to the overall point - do we actually think these tests matter? I'm firmly on the "no" side - there's nothing

[2022-11-03 20:32] fbs commented on #2412
`update_codegen_tests.sh` itself is not a test right? It's just a helper.

The value of the codegen tests has been up for debate before. I think they are shitty but they're the best we have at the moment. They do help to spot if changes cause unexpected codegen changes

[2022-11-03 20:37] BurntBrunch commented on #2412
Yeah but it fails on the tests themselves - the tests just don't get run in CI on 12 I guess? Idk how the failures got missed, they're straight-up parsing/semantic failures.

[2022-11-04 18:13] BurntBrunch commented on #2323
@xh4n3 yeah, not surprised, this is similar to an internal use case we had that hit this issue. There we split the printfs into multiple calls but that's not a viable workaround in #2083.

Ringbuf with a fallback to per-cpu map is the way to go imo.

[2022-11-04 19:53] michalgr commented on #2412
I am sorry about that, I'll put up a fix

[2022-11-04 20:10] BurntBrunch commented on #2412
Actually, @michalgr, I'm not sure what's going on here. I see the tests running and passing [here](https://github.com/iovisor/bpftrace/actions/runs/3383589871/jobs/5619628660). I can no longer reproduce the failure above either.

I'll chalk it up to something weird in my local setup and close this issue.

[2022-11-04 20:10] #2412 closed

[2022-11-04 20:16] michalgr commented on #2412
Depending on your distro tracefs might be located either under "/sys/kernel/debug/tracing" or ""/sys/kernel/tracing". My change added some static state keeping track of whether it's accessible via debugfs or not. I expect those tests fail when "/sys/kernel/debug/tracing" is not present.

[2022-11-04 21:18] BurntBrunch commented on #2402
Okay, I give up.  #2414 doesn't help either, so this is not about the test runner racing the BEFORE calls. Maybe it's something to do with --usdt-file-activation and whatever kernel the GH runners run?

[2022-11-04 21:56] BurntBrunch commented on #2373
Here's a fun one! `bpftrace_test` tests can be **dramatically** faster:

Without root:
[code]

There's one failure from a cgroup access that we can make a skip. Compare with the root version:
[code]

Yes, `gtest-parallel` is doing a lot of heavy lifting but that's because I don't have time to wait around for it. The delta is almost *50x* - there's clearly **a lot** of work we can skip that's root-

[2022-11-05 09:56] fbs commented on #2373
I thought we had a root check in there as root is indeed a lot slower. Maybe we lost it ?

The parallel stuff looks good!

[2022-11-08 02:22] tiny1990 commented on #1304
It's working for me.
[code]

docker run   -ti   --rm   -m 10m   polinux/stress stress     --cpu 1     --io 1     --vm 1     --vm-bytes 128M     --timeout 1s     --verbose

[2022-11-08 03:35] tluo-github commented on #329
@fntlnz can work on cgroups v1?

[2022-11-08 08:48] tfc commented on #2373
Hi, i am the author of that blog post. What you say is pretty doable indeed. Also, the blog post is relatively old and there's so much more goodness that you can unlock after you made the step to nix. If you need help evaluating options, figuring out how to implement it or how to shard it etc. - just drop me a message, i work as a consultant.

[2022-11-09 07:55] viktormalik commented on #2408
#2315 reworks BTF parsing - `sys/kernel/btf/vmlinux` is no longer used and BTF is parsed using libbpf.

[2022-11-11 04:13] larsks opened #2420 "bpftrace segmentation fault for version > 0.14.1"
### What reproduces the bug?

I am trying to run the following:

[code]

But doing so fails with a segmentation fault:

[code]

This code works as expected with bpftrace 0.14.1, but fails with both 0.15.0 and 0.16.0.

### bpftrace --info

[code]

### Platform

This is RHCOS for OpenShift 4.11 (aka RHEL 8):

[code]

[2022-11-11 08:19] viktormalik commented on #2420
Sadly, I cannot reproduce on my Fedora. Could be libbpf/bcc versions - which ones do you have?

[2022-11-11 08:45] viktormalik commented on #2420
Ah, got it. You need commit d470220bcd2d07eeeca6e118aeb0f71be52ee864 which is in `master` (not yet released, though).

[2022-11-11 13:05] larsks commented on #2420
@viktormalik thanks, I'll try building from source rather than using a release build. Is the bug platform specific (kernel/llvm/something else)?

[2022-11-11 13:08] viktormalik commented on #2420
IIUC, it's Clang-specific. The problem has always been in bpftrace, just newer Clang/LLVM (14+ I think) started to segfault on it.

[2022-11-11 14:05] larsks commented on #2420
Thanks for the help; running a recent build seems to have fixed things!

[2022-11-11 14:05] #2420 closed

[2022-11-16 08:19] yangxingwu opened #2430 "`printf` shows mismatched info"
### What reproduces the bug?

[code]

run `sudo bpftrace ./test.bt` works NOT as expected

[code]

### bpftrace --info

[code]

[2022-11-17 13:33] fbs commented on #2430
Can you make sure both print statements include a newline?  This to avoid line buffering

[2022-11-18 05:57] yangxingwu commented on #2430
@fbs it still not works even if we include a newline in both `printf` statements.

[2022-11-19 10:58] simpzan opened #2436 "get all arguments values of a function as a string in uprobe and kprobe. something like $$parms in systemtap do."
### Is your feature request related to a problem? Please describe.
I want to print all argument values of many traced functions with uprobe and kprobe.

### Describe the solution you'd like
provide api to get function's all argument values as a string. some like $$parms in systemtap. https://sourceware.org/systemtap/SystemTap_Beginners_Guide/targetvariables.html

### Describe alternative solutions

[2022-11-20 17:42] fbs commented on #2436
Don't you need the type as well? If you just know the number of arguments you have to treat everything like an int and hope it prints ok.

BTF provides us with all the info we need, guess what you want is something like:

[code]

`args` would then be formatted like any other struct and we can use BTF to fill in field names and properly format each type

[2022-11-21 07:43] simpzan commented on #2436
Yes, you are right. It's a downgraded implementation.

Yes, it will be great if bpftrace support this for both uprobe and kprobe.

[2022-11-21 11:35] fbs commented on #2436
The thing with kprobes is that we don't have the type info so the implementation is mediocre at best. I'm worried its going to be a useless footgun instead of being helpful. Even if you print it as integers the different bit widths can confuse the data, depending on the architecture. If its stack based its worse than register based.

For uprobes it should be doable, assuming we have dwarf or other

[2022-11-22 10:48] viktormalik commented on #2436
Agreed with @fbs, but we could support it for kfuncs (via BTF) and uprobes (via DWARF). Would that be sufficient?

[2022-11-22 12:47] simpzan commented on #2436
Yes, it will be sufficient. Thank you!

[2022-11-22 15:37] matthew-olson-intel commented on #1855
Using Arch with LLVM version:
[code]

Recompiling `bcc` with `-DENABLE_LLVM_SHARED=1` fixed it for me, as well.

[2022-11-23 22:45] nickolaev commented on #954
On Ubuntu, I followed the guide to install the dbgsym packages as described here: https://wiki.ubuntu.com/Debug%20Symbol%20Packages

Then:

[code]

[2022-11-25 08:29] lenticularis39 commented on #2430
The print statements in the output are from the interval probe, they just have mismatched printf format string, e.g.:
[code]
produces
[code]
The issue is triggered by the `unroll` statement, more specifically by its `reset_ids()`, with that commented out, it works as expected.

[2022-11-27 19:45] vtronko commented on #1686
Unfortunately, still happens on ubuntu 20.04 distributed bpf-tools
[code]

[2022-11-28 07:47] #2430 closed