[2018-08-31 20:11] brendangregg opened #1 "lhist truncate zero ranges"
lhist() currently works like this:

[code]

Outside the range of values, we don't need to print all those zero lines. The output should be this:

[code]

I imagine this involves fixing BPFtrace::print_lhist() in bpftrace.cpp.

[2018-08-31 20:16] brendangregg opened #2 "lhist human readable units"
Compare this (lhist):

[code]

To this (hist):

[code]

Note that the hist() version uses "k" once it gets to 1024. Perhaps we want the same behavior for lhist(). But, for hist(), k == 1024, so for consistency we may want to keep that.

Hmm.

Perhaps the behavior should be to only use "k" and "m" if the range value is divisible by either 1024 (k) or 1024*1024 (m).

[code]

Is already working as in

[2018-08-31 20:42] brendangregg opened #3 "add kaddr() call (bpftrace internals tutorial)"
Since I was half way through coding this, it would be a good starting point for anyone else to learn some bpftrace internals.

The aim is to have a call, kaddr(), that takes a kernel symbol name and returns the address. For example, `kaddr("avenrun")` should return 0xffffffff8dd0bcd0 on my system, because that's its address:

[code]

So in bpftrace, this program should work (and not print zero):

[2018-08-31 20:47] brendangregg opened #4 "add uaddr() call"
This is the same as kaddr() from ticket #3, but for user-level symbols and variables.

For example:

[code]

Ok, let's say I want to print the contents of `ps1_prompt`. This ticket is to make the following one-liner work:

[code]

Here's a demonstration by copy-n-pasting the address manually (this actually works):

[code]

[2018-08-31 21:18] brendangregg opened #5 "print BPF bytecode for debugging"
A failed program will print the BPF bytecode. But this doesn't appear with either the "-v" or "-d" debugging flags for a working program. It should.

Here's an example:

[code]

I induced this failure by introducing the following error in ast/codegen_llvm.cpp (I'm modifying the `(call.func == "reg")` block):

[code]

I include that diff just so you can temporarily introduce this error and see what

[2018-08-31 21:24] brendangregg opened #6 "add username builtin"
This works (UID):

[code]

This doesn't (username):

[code]

Here's my guess on how to implement it (this could be wrong, or there could be a better way):

1. Add "username" to this line from lexer.l:

[code]

2. Also add username to enum class Type from types.h, and to types.cpp.

3. Now ast/semantic_analyser.cpp can have:

[code]

What that's doing is really saying we're only going to use 8 byte

[2018-08-31 21:45] brendangregg opened #7 "add system() call"
This ticket is to add a system() call (like awk's), so that you can do this:

[code]

I'd study how printf() is currently implemented, and base it on that.

printf() currently works by turning its format string into an identifier, the `printf_id`, which is generated in ast/codegen_llvm.cpp. That integer printf_id is passed back to the user-level bpftrace program, which can turn it back into the st

[2018-08-31 22:01] brendangregg opened #8 "if-else statements"
bpftrace currently supports ternary operators:

[code]

But it could also support if-else statements: `if () { ... } else { ... }` and `if () { ... }`.

These should work:

[code]

See how ternary operators are implemented in parser.yy:

[code]

This will be different since the if-else statements are dealing with `stmt` and not `expr`.

There's plenty of examples of if-else parsing in lex/yacc out

[2018-08-31 22:18] brendangregg opened #9 "add unroll() loops"
Sometimes we'd like to run the same block of code a small number of times. This ticket is to add an `unroll()` loop operator for this purpose.

Eg, this:

[code]

Should run the block of code 5 times, and print:

[code]

(It may print out-of-order if do_nanosleep() executes on different CPUs simultaneously.)

I imagine this will involve editing lexer.l and parser.yy, and the codegen may call "acce

[2018-08-31 22:23] brendangregg opened #10 "stack/ustack per-event printing"
This works, which frequency counts stack traces:

[code]

But neither of these work, which should just print out each stack trace as it happens:

[code]

Maybe they should both work? Maybe just the printf() one? Maybe printf() needs a different format code, like %S for stack trace? See printf_format_types.h.

This ticket is to make at least one of these work.

It might involve adding a %S, then ha

[2018-08-31 22:26] brendangregg opened #11 "stack/ustack to accept limit argument"
stack and ustack are currently implemented as builtins, and return the full kernel and user stack traces. This ticket is to change them to accept an argument: the top number of frames to print. So instead of "stack" for the full stack, we can use "stack(3)" to print the top three frames only, and "stack()" to print all frames.

This should work:

[code]

So that's showing the traced function (deca

[2018-08-31 22:34] brendangregg opened #12 "probe type short names"
The following aliases for the full type names can be implemented:

- t: tracepoint
- k: kprobe
- kr: kretprobe
- u: uprobe
- ur: uretprobe
- p: profile
- h: hardware
- s: software
- i: interval

(Note that I didn't include an abbreviation for "usdt" yet. We can add one later.)

So both of these should work:

[code]

Note that these are referred to as either probe types, probe libraries, or probe p

[2018-08-31 22:39] brendangregg opened #13 "add rand builtin"
`rand` should return BPF_FUNC_get_prandom_u32.

[2018-08-31 22:41] brendangregg opened #14 "Sting comparisons in filters always return true"
[code]

That should only be matching "sshd".

I'm guessing something is wrong when strings are used in boolean operations. You can dump the llvm instructions using -d. Also check how string comparisons were done in bcc (eg, I think trace.py has an implementation).

[2018-08-31 22:44] brendangregg opened #15 "filter make '/' optional"
Filters (aka predicates) are wrapped in "/"s, like awk. But awk was using them to identify string comparisons, and they weren't needed for int comparisons. I'm wondering if we can make them completely optional, since we already have a type system.

Eg:

[code]

The first works, the second doesn't. Could the second work? This is a nice-to-have if it's easy, but not that important.

I imagine it'd i

[2018-08-31 22:45] brendangregg opened #16 "Multiple map failure"
[code]

Why does this fail? -v doesn't help that much. Maybe -d is more useful, but I still don't see it.

If you delete one of the maps, it works. So it sounds like it's hitting a limit: like the BPF instruction limit or BPF stack limit. What's the issue, can it be fixed, or can the error message be more meaningful?

[2018-08-31 23:06] brendangregg opened #17 "scripts should be stand-alone executable"
test.bt:

[code]

(Modify `/mnt/src/bpftrace/build/src/bpftrace` to be your location of bpftrace.)

This should work:

[code]

I guess bpftrace needs some lexer.l/parser.yy to identify when the program starts with '#!'?

This should continue to work, also:

[code]

[2018-08-31 23:18] brendangregg opened #18 "scripts should accept positional parameters"
Fix #17 beforehand.

We should be able to provide parameters to the script:

[code]

They should be available as the variables `$1`, `$2`, etc.

I see this could be processed in at least one of two ways:

### A) type detection

In this case, "10" would available as the integer `$1`, and "file1" would be available as the string `$2`. Integers can be identified as those that match the regexp `/^[0-9

[2018-08-31 23:24] brendangregg opened #19 "script --custom options"
See #18 first.

For advanced scripting, this should be possible:

[code]

I picked the double dash ("--") so that these can be differentiated from bpftrace's own options which use a single dash (and so far are "-d", "-e", "-l", and "-v").

These custom options could then be provided in the script as `$verbose` (0 or 1), `$file`, and `$minlatency`.

See #18 for a discussion on type detection. If ap

[2018-08-31 23:32] brendangregg opened #20 "improve bpftrace -l"
The current bpftrace -l implementation does partial matches only, and ditches wildcards. It should to wildcards properly, based on file globbing (not regular expressions).

For example, currently:

[code]

That's probably not doing what people expect.

Since we have multiple fields colon delimited, it's a bit trickier than it might look. Here's my proposed solution:

"sleep\*" would match any fiel

[2018-08-31 23:40] brendangregg opened #21 "all abort()s should print an error message"
[code]

To simulate one of these, you can try:

[code]

Then:

[code]

Oh, right, I forgot -- this abort() was so annoying that I already added that error message!

Without it, you'd just get the abort:

[code]

Then you'd need to:

[code]

Just to find out where it came from.

All abort() paths should have an error message, however that makes most sense to implement in C++ (you can do it much bet

[2018-08-31 23:42] brendangregg opened #22 "TODOs in the code"
This is a placeholder ticket to cover all the `TODO`s in the code, and will require several pull requests to clean up. These (so far):

[code]

[2018-08-31 23:48] brendangregg opened #23 "add ppid builtin"
ppid for parent process ID.

This may require a kernel addition to do in a sane way: a ppid version of BPF_FUNC_get_current_pid_tgid(). Without it, we'd be digging the ppid from the curtask builtin (is there a sane way to know the right offset?).

[2018-08-31 23:51] brendangregg opened #24 "add kill() call"
A `kill()` call (could also be called `raise()`, which sounds less alarming) can be used to send a signal to the current process. I imagine it would be used by security teams in some situations, as a zero-day workaround. Eg, to issue a kill(9) after a certain kprobe/uprobe program.

I don't see a kernel function for this[1], so this probably involves adding the BPF kernel function first.

[1] http

[2018-08-31 23:55] brendangregg opened #25 "add join() optional delimiter"
Currently join() will take a **char argument and print the array of strings:

[code]

Note that kprobe:sys_execve no longer works in the most recent kernels (~4.18), as the syscalls changed. We'll switch this example to tracepoints:syscalls:sys_enter_execve when we have argument support.

This ticket is to add an optional second argument, that is the delimiter. The delimiter is currently a space,

[2018-08-31 23:58] brendangregg opened #26 "join() as a printf() argument"
This doesn't work:

[code]

(See #25 for notes about kprobe:sys_execve going away.)

Is it possible to have join() be used as a printf() argument? This may be more trouble that it's worth.

[2018-09-01 00:00] brendangregg opened #27 "improve cast errors"
Just to simulate one of these, I used:

[code]

and then:

[code]

This error message is not very readable. Is there any way to improve this?

[2018-09-01 00:08] brendangregg opened #28 "user address space writes"
Perhaps we should have a way to call BPF_FUNC_probe_write_user()

https://git.kernel.org/cgit/linux/kernel/git/torvalds/linux.git/commit/?id=96ae52279594470622ff0585621a13e96b700600

This could either be a call, eg, `write()`, or it could just happen if you write to a user address. As an example of the latter, imagine if this worked (needs #4):

[code]

So your bash prompt becomes "BPF-says-hi> "

[2018-09-01 00:14] brendangregg opened #29 "add path() call"
prototype:

[code]

So that this would work:

[code]

(or trace kprobe:__vfs_read) and it would print the full path.

For this to work, it may require a new BPF function added to the kernel to make this sane.

[2018-09-01 00:22] brendangregg opened #30 "add inet_ntop() call: IPv6 support"
This will be useful for all networking one-liners/scripts. See the man page for inet_ntop(3), but maybe we should just call it `ntop()` for short (or something else).

Both of these should work, and print "127.0.0.1" and "::1":

[code]

IPv4 should be shown as a dotted-quad, and IPV6 as a most-shortened address representation:   https://tools.ietf.org/html/rfc5952

[2018-09-01 00:22] brendangregg opened #31 "struct support"
@ajor is working on this. This will be used by tracepoint, usdt, and kprobe arguments.

[2018-09-01 00:24] brendangregg opened #32 "tracepoint arguments"
@ajor is working on this. This depends on #31.

These should work:

[code]

`args` should be the tracepoint argument struct from /sys, eg:

[code]

[2018-09-01 00:29] brendangregg opened #33 "usdt arguments"
USDT probes have arguments that should be made available as arg0, arg1, etc.

You can see the arguments using readelf, eg:

[code]

Last time I discussed this in detail was here: https://github.com/iovisor/bcc/issues/327

Since usdt argument support was add to bcc, and bpftrace uses functions from bcc, that's how we should do it here. Eg, see bcc/src/cc/usdt/usdt_args.cc

Struct support will depen

[2018-09-01 00:35] brendangregg opened #34 "kprobe arguments"
This depends on #31. One of these should work:

[code]

Or both. The first, where the kernel is self-aware of the arg0 type, may depend on the presence of BTF or debuginfo. In their absence, with kernel headers only, it may be required to specify the type.

This is likely a significant amount of work, and may involve sources struct information from these locations, if any are present:

- kernel he

[2018-09-01 18:24] brendangregg opened #35 "runtime test suite"
The /tests currently test parsing and BPF code generation, but does not test tracing functionality at runtime (actually running bpftrace and tracing an event). This is necessary to ensure everything actually works. It's a little tricky, as any given event (kprobe, tracepoint, etc) may or may not fire on its own, and may need to be triggered by the test suite.

I could imagine using the tracepoint:

[2018-09-02 02:25] brendangregg opened #36 "update install instructions"
@ajor's structs patch doesn't build on the Ubuntu servers I've tried, I think due to a problem with how llvm is currently packaged.

This ticket is to update the install instructions for Ubuntu. A follow up can be to see if we can get the official Ubuntu packages fixed as well.

Here's my notes from my last install:

[code]

[2018-09-02 20:21] brendangregg opened #38 "test failures: LLVM 5 vs 6"
From bpfrace_test:

[code]

they all look like a minor change in llvm, inserting "nonnull":

[code]

maybe this changed because of the llvm/clang version I'm using? I usually use 5.0, but looks like I'm on 6.0 on this system:

[code]

[2018-09-03 16:00] #13 closed, assigned to brendangregg

[2018-09-04 05:09] brendangregg opened #42 "Add support for kprobe at custom offsets"
(from https://github.com/ajor/bpftrace/issues/44)

New option added to libbcc

Possibly something like: `kprobe:sys_open+8 { ... }`

[2018-09-04 05:15] brendangregg opened #43 "add hardware:branch-misses:"
From attached_probe.cpp:

[code]

Oops. I missed PERF_COUNT_HW_BRANCH_MISSES by mistake -- it should be after branch-instructions. It should have the probe name "branch-misses", and the same defaultp of 100000. ast/semantic_analyser.cpp also needs it added.

[2018-09-04 05:17] brendangregg opened #44 "bpftrace -l should list software and hardware types"
The software and hardware probe types are not listed in -l. They should be.

This might also be a chance to refactor code like this, from attached_probe.cpp:

[code]

Perhaps there should just be one lookup table that had the types, paths, and counts, and all other code (including the new listing code) can refer to that one lookup table.

[2018-09-04 05:30] brendangregg opened #45 "hardware custom PMC probes"
The Linux perf commands allows custom PMCs (performance monitoring counters) to be specified. For example, CPU_CLK_UNHALTED.THREAD_P, which is accessed via Event Select = 0x3c and Umask = 0x0:

[code]

Flags can also be added, eg:

[code]

All the PMCs are listed in the _Intel 64 and IA-32 Architectures Software Developer's Manual Volume 3B: System Programming Guide, Part 2_ and the _BIOS and Kern

[2018-09-04 23:04] #31 closed, assigned to nobody

[2018-09-04 23:50] brendangregg opened #47 "print buffer issue with type sizes"
With #46, the following script, biocompletion.bt:

[code]

produces the following output:

[code]

So the middle line (when passing all struct members to printf) is messed up, but the others are fine. I guess something is going wrong when packing those types into the perf buffer.

[2018-09-04 23:54] brendangregg opened #48 "not resolving dev_t type properly"
In the #47 issue, I had modified types to get that far. Here's the real types from /sys:

[code]

If we use those:

[code]

we get:

[code]

I suspect it's not resolving `u64` or `dev_t` etc, so is returning offset zero for everything, and therefore returning the internal "\_\_do\_not\_use\_\_" member in all locations.

[2018-09-05 19:07] #1 closed, assigned to nobody

[2018-09-05 20:09] brendangregg opened #50 "hist missing ASCII histogram bars"
[code]

What happened to the ASCII bars? ("@"s) Here they are in lhist()?

[code]

[2018-09-05 20:11] brendangregg opened #51 "hist to truncate zero range"
Ignore the missing ASCII bars (that's #50), this ticket is about trimming the zero range:

[code]

should be:

[code]

Similar to the lhist() changes. See #1 and #49

[2018-09-06 18:11] #2 closed, assigned to nobody

[2018-09-06 18:23] brendangregg opened #53 "compound assignment operators"
This should work:

[code]

as a shortcut for `$x = $x + 1;`.

The same for `-=`, `*=`, `/=`. This might be doable just from additions to parser.yy.

A separate ticket can track pre- and post-increment (`++$x`, `$x++`), if we want them too.

[2018-09-06 23:32] brendangregg opened #56 "Custom map printing: printf() for maps"
This ticket is to support custom ways to print maps. Perhaps by enhancing either `print()` or `printf()` or both.

Consider this one-liner, and how the output has extra new lines now and then:

[code]

The extra newlines are due to `std::endl`'s in `BPFtrace::print_map()`, and its behavior when the map is unpopulated. There's also the "@" which is unnecessary to print in this case.

I might fix th

[2018-09-07 00:40] brendangregg opened #58 "name vector::_M_range_check error with multiple events and printf()"
This fails:

[code]

But a single event works:

[code]

Or, as a map, it also works:

[code]

So something is wrong with the combination of: multiple events + `printf()` + `name`

[2018-09-07 18:31] brendangregg opened #59 "64-bit int constants become 32 bit"
I had something weird with a script that I've resolved to this:

[code]

The first should print the full 64-bit number, right?

Looking at the -d output for the first shows it's only keeping 32 bits (decimal 305419896):

[code]

Here's a different, and I think related, issue:

[code]

I think it's keeping 0x89abcdef, but then treating it as a signed 32-bit int, hence the output of 0xffffffff89abcd

[2018-09-07 18:48] mmarchini opened #60 "USDT probes are not firing"
The USDT example below is not working:

[code]

[code]

...and it never fires.

Using bcc's `trace` tool it works:

[code]

Am I doing something wrong?

[2018-09-07 18:54] mmarchini opened #61 "./build.sh only works the first time"
Running `./build.sh` the first time works, but if we try to run it again the script throws a git error on the bcc repository:

[code]

A workaround I'm using is running `rm -rf build-release/bcc-prefix/` before running the script.

[2018-09-07 21:36] brendangregg opened #63 "lhist() 0 entry has 0M"
extra "M" on 0:

[code]

[2018-09-08 17:03] #3 closed, assigned to nobody

[2018-09-08 17:03] #50 closed, assigned to brendangregg

[2018-09-08 17:14] #60 closed, assigned to nobody

[2018-09-08 22:28] brendangregg opened #67 "uprobe/uretprobe to support wildcards"
[code]

Works with kprobes.

[2018-09-09 00:55] brendangregg opened #68 "func only matches kretprobe_trampoline on kretprobes"
[code]

Would be nice if `func` could match the function on kretprobe, intsead of only ever returning `kretprobe_trampoline`. If that's not possible, it should be documented in the reference guide.

[2018-09-09 13:57] mmarchini opened #71 "Tracking Issue: Compatibility with libstapsdt"
Opening this issue to remind us to check if bpftrace plays nicely with [sthima/libstapsdt](https://github.com/sthima/libstapsdt) and to remind us to take dynamic USDT probes into consideration when introducing USDT arguments (#33) and struct support for user-space tracepoints (#31).

[2018-09-10 16:07] #36 closed, assigned to brendangregg

[2018-09-10 21:15] brendangregg opened #73 "support sizeof"
Add support for sizeof().

[code]

It will be handy to have, but not critical.

[2018-09-10 21:16] brendangregg opened #74 "support shift-left, shift-right"
It would be nice (but not crucial) for bpftrace to support the `<<` and `>>` operators. We can use `*` and `/` as workarounds.

[code]

[2018-09-11 00:40] brendangregg opened #75 "uaddr(), usym(), ustack to support PIE ASLR"
Ubuntu 18.04 Bionic (and other OSes) have switched to randomizing the address space layout, which breaks simple approaches for symbol resolution. From https://wiki.ubuntu.com/BionicBeaver/ReleaseNotes#Security_Improvements:

The bpftrace uaddr() call needs to work on both normal executables, as well as PIE executables (gcc -pie -fpie). Here's how to tell the difference:

[code]

From the above out

[2018-09-11 00:50] brendangregg opened #76 "fix Ubuntu llvm/clang packages"
This ticket is to (somehow) get the ubuntu/debian llvm/clang packages updated.

INSTALL.md has instructions for adding apt.llvm.org as a repository. If you don't do that, and use the default Ubuntu ones, you get this:

[code]

Someone should fix that so the default repository works. At least we have the apt.llvm.org workaround.

[2018-09-11 05:10] #4 closed, assigned to nobody

[2018-09-11 16:11] brendangregg opened #79 "csw map name doesn't print"
This is an odd one. If I use a map name `@cs`, I can print it in a per-second interval probe, but `@csw` doesn't work.

[code]

Perhaps `csw` is a reserved keyword for llvm/clang? What other names don't work? If there's such a list, we should reject them in the semantic analyser.

-d output for `cs`:

[code]

-d output for `csw`:

[code]

[2018-09-11 20:44] brendangregg opened #81 "support negative integer constants"
I don't have an urgent use case, but I guess at some point we may hit this:

[code]

[2018-09-11 21:46] brendangregg opened #82 "uaddr() to work on non-bash"
I missed this in bpftrace.cpp #4 :

[code]

Instead of hardcoded "/bin/bash", it should pass the path to the binary. It's quite tricky, but I've been down this path before with the `name` builtin, so I'll submit a quick fix.

[2018-09-11 21:51] #59 closed, assigned to brendangregg

[2018-09-11 22:00] brendangregg opened #84 "struct definitions that end with semicolons"
[code]

@ajor does this make sense to add?:

[code]

As a follow on, we could also support typedef structs, eg,

[code]

[2018-09-11 23:12] #82 closed, assigned to brendangregg

[2018-09-11 23:31] brendangregg opened #86 "multi-line comments break parser line numbers"
This works:

[code]

Line 9 is correct.

This does not work:

[code]

Line 5 is incorrect.

I must have missed something in https://github.com/iovisor/bpftrace/commit/8f2c6691520c6cadb4fef0f9ffe5200e1f7100ae

[2018-09-12 18:28] #5 closed, assigned to nobody

[2018-09-12 19:57] brendangregg opened #90 "make install should install"
[code]

This should install bpftrace. The destination can be set as it is with github.com/iovisor/bcc, where `cmake` takes an argument like `-DCMAKE_INSTALL_PREFIX=/usr` to install into /usr, or `-DCMAKE_INSTALL_PREFIX=/usr/local` for /usr/local.

At least these files should be installed:

- build/src/bpftrace -> ${CMAKE_INSTALL_PREFIX}/sbin
- tools/* -> ${CMAKE_INSTALL_PREFIX}/share/bpftrace/tool

[2018-09-12 21:12] #74 closed, assigned to brendangregg

[2018-09-12 22:54] #86 closed, assigned to brendangregg

[2018-09-13 15:44] #58 closed, assigned to brendangregg

[2018-09-13 15:45] #79 closed, assigned to brendangregg

[2018-09-13 21:27] #6 closed, assigned to nobody

[2018-09-14 21:26] brendangregg opened #97 "multiple identical probes fails"
Tracing kprobe:do_nanosleep twice:

[code]

But -v is not helpful:

[code]

Maybe it shouldn't say "try -v" if it knows the log buffer would be zero length? Maybe it should say "try -d" instead? Just something extra to look at.

-d is helpful:

[code]

It's declaring two sections with the same name, which I'd guess is the problem: `"s_kprobe:do_nanosleep"`. We need to track that somehow, and give

[2018-09-15 21:56] #81 closed, assigned to brendangregg

[2018-09-16 02:17] #97 closed, assigned to mmarchini

[2018-09-16 18:43] brendangregg opened #101 "stack broken on kretprobe"
May be broken on uretprobe as well. For example:

[code]

The stack shouldn't change between the kprobe (entry) and kretprobe (return). But on the return we just get this kretprobe_trampoline.

[2018-09-17 20:19] #7 closed, assigned to nobody

[2018-09-17 22:23] brendangregg opened #103 "regression: tracepoint no such file or directory"
[code]

This used to work. Hopefully a simple fix. I'm guessing it broke with #100.

[2018-09-19 16:07] #103 closed, assigned to nobody

[2018-09-21 20:10] #33 closed, assigned to mmarchini

[2018-09-24 17:04] #51 closed, assigned to mmarchini

[2018-09-24 18:54] #14 closed, assigned to mmarchini

[2018-09-27 15:02] mmarchini opened #121 "Create man page for bpftrace"
We have man pages for our scripts, but not for `bpftrace`.

[2018-09-27 15:27] #16 closed, assigned to mmarchini

[2018-09-27 15:39] #32 closed, assigned to ajor

[2018-09-27 17:21] brendangregg opened #122 "googlemock build failures"
A make on my system (linux 4.18, llvm 6.0) currently throws the following errors when it builds the test suite:

[code]

A workaround is to just do `make bpftrace`, which skips the tests.

The real issue sounds like https://github.com/google/googletest/issues/1865

And I've been able to "fix" it by editing build/tests/gtest-prefix/src/gtest/CMakeLists.txt , and adding:

```set(CMAKE_CXX_STANDARD 1

[2018-09-27 17:24] #90 closed, assigned to nobody

[2018-09-27 22:20] #48 closed, assigned to nobody

[2018-09-27 22:25] brendangregg opened #124 "tracepoint 32-bit args issue with pid_t"
While issuing a `kill -2 12345`:

[code]

I got +16 from:

[code]

It's believed that the kernel headers resolve pid_t to 32-bit, and bpftrace generates offsets based on that. bpftrace probably needs to respect the offsets from the tracepoint file.

[2018-09-27 22:30] #122 closed, assigned to nobody

[2018-09-27 22:36] #47 closed, assigned to mmarchini

[2018-09-29 16:56] brendangregg opened #125 "rename name builtin to probe"
I realized I probably should have called the `name` builtin `probe` instead, so we can reserve `name` for something else in the future. It's this builtin:

[code]

If people agree, fixing this ticket will mean search-n-replace across the code and docs, making the "name" builtin be "probe" instead.

In the future we may want `name` to be just the last component of the probe name. Eg, for `tracepoin

[2018-09-30 20:18] ajor opened #127 "Tests should not require root to run"

[2018-09-30 20:20] ajor opened #128 "Remove dependencies on objdump and grep"
Maybe can use libelf instead?

[2018-09-30 20:21] ajor opened #129 "Better semantic analyser error messages"
Give line numbers + context

[2018-09-30 20:22] ajor opened #130 "Set up CI + code coverage"

[2018-09-30 20:29] #124 closed, assigned to nobody

[2018-09-30 20:52] ajor opened #131 "More granular debugging options"
Rather than having the "-d" flag to print debug output, it would be nicer to have options to print only the debug output you're interested in.

Current types of debug output:
- AST
- LLVM IR
- BPF bytecode
- Tracepoint argument structs

Maybe this could be done as an argument to "-d", e.g. to only show AST debug output:
`bpftrace -d ast input.bt`

[2018-09-30 22:58] brendangregg opened #132 "tracepoint args with multiple attach points"
Perhaps one, or both, of these should work:

[code]

(Ignore the "No such file or directory" warning on wildcards; I'll file a separate bug for that: #133 )

There's multiple workarounds: you can list the probes one by one with the same code block for each. Or, you can use `ctx` and its offset from the /sys/kernel/debug/tracing/events/.../format file, eg:

[code]

So... should `args` work with mul

[2018-09-30 22:59] brendangregg opened #133 "tracepoint wildcard throws warning"
[code]

The warning is unnecessary in this case. This is related to #132, but can be fixed separately.

[2018-10-01 17:09] drzaeus77 opened #135 "cmake: Arch linux fails on libelf, gtest"
In my Arch Linux laptop, I get the following errors:

[code]

The first looks like a warning, but the second is blocking compilation. I believe the root cause is a name conflict of `gtest`.

[2018-10-01 18:32] #135 closed, assigned to nobody

[2018-10-01 22:22] drzaeus77 opened #137 "cannot build with latest LLVM"
I currently have upstream LLVM built from source, and see the following compilation errors:

[code]

[2018-10-03 17:54] mmarchini opened #138 "struct declaration and usage are not documented"
While debugging https://github.com/iovisor/bpftrace/pull/114 I noticed there's no documentation regarding how to use structs.

[2018-10-03 19:00] brendangregg opened #139 "make struct keyword optional when casting"
first works, second doesn't:

[code]

I tried some quick hacking but couldn't fix it, eg:

[code]

or

[code]

Neither work, maybe it's clashing with lexer.l's struct definition.

[2018-10-07 14:31] #34 closed, assigned to nobody

[2018-10-07 18:47] brendangregg opened #143 "-I for includes on command line"
This should be doable as a one-liner:

[code]

But we need a way to specify those includes at the command line. Eg, these should work

[code]

[2018-10-08 00:09] brendangregg opened #144 "error: redefinition of tracepoint"
It's not really an error, since bpftrace still works. Just a needless warning that should be removed:

[code]

[2018-10-08 14:50] #8 closed, assigned to williangaspar

[2018-10-08 19:14] Earnestly commented on #61
Please don't clone stuff during the build at all.  Can this project instead let us refer to an external build and installation of bcc instead?

[2018-10-09 07:35] myllynen opened #147 "RFE: bpftrace exporter"
Consider adding bpftrace exporter in the spirit of stap-exporter (see https://www.mankier.com/8/stap-exporter) that would allow providing bpftrace results to Prometheus and other such tools capable consuming the exported data.

From the `stap-exporter` man page:

[code]

Thanks.

[2018-10-09 08:42] alban opened #150 "Implement filter for cgroups"
According to the [documentation](https://github.com/iovisor/bpftrace/blob/master/docs/reference_guide.md#2--filtering), filters can be on arguments (`/arg2 < 16/`) or on comm (`/comm == "bash"/`) but there is no filtering on cgroup. I would like to have a filter like `/cgroup == cgroupid("/sys/fs/cgroup/mycgroup")`.

I'm new to bpftrace, I am not sure where to start looking. Are the filters implem

[2018-10-09 08:57] mlen commented on #137
@drzaeus77 see #149

[2018-10-09 13:14] cyphar commented on #101
I've also seen this if you manually instrument `kprobe_events` -- `$stack` on a `kretprobe` results in a garbage stack (with only the entry `[unknown/kretprobe'd]` -- which is `kretprobe_trampoline`). Is there any particular place that you would recommend looking at if I wanted to help fix this issue (I've needed the ability to get a stack trace from a `kretprobe` in the past so this is quite usef

[2018-10-09 14:46] brendangregg commented on #147
Something simple, sure. I think for daemons/agents many may end up done in bcc, if they need many customizations beyond bpftrace. bpftrace would be a good version one of deamons, and then they move to bcc when needed.

[2018-10-09 16:05] brendangregg commented on #150
see #152 (I added it just for you!) -- I'd try following the "2. Codegen: curtask" section for adding the cgroup builtin. You can do that as a first PR to get the hang of bpftrace, then follow up with cgroupid().

As for cgroupid(), look at the implementation of uaddr or kaddr (and I wrote some initial docs on kaddr here https://github.com/iovisor/bpftrace/issues/3). So codegen would call a bpftra

[2018-10-09 16:09] brendangregg commented on #150
Don't forget to add docs: README.md, and docs/reference_guide.md.

[2018-10-09 16:24] brendangregg opened #153 "allow TASK_RUNNING and other #defines"
sched.bt:

[code]

[code]

Looks like it's treating `TASK_RUNNING` as a bpftrace call, and so is expecting it to be followed by a '('.

I can workaround it by just including the TASK_RUNNING value (0x0) for now.

[2018-10-09 18:07] netoptimizer opened #156 "Hello World fails on Fedora 27"
Hi

I compiled bpftrace on Fedora 27, but the [hello-world example](https://github.com/iovisor/bpftrace/blob/master/docs/tutorial_one_liners.md#lesson-2-hello-world) fails, as below:

./bpftrace -e 'BEGIN { printf("hello world\n"); }'
terminate called after throwing an instance of 'std::bad_cast'
  what():  std::bad_cast
Aborted (core dumped)

**Some version info:**
- LLVM version 5.0.2
- clang ve

[2018-10-09 20:13] alban commented on #150
@brendangregg thanks for the detailed documentation! I started with the first part: https://github.com/iovisor/bpftrace/pull/158

[2018-10-09 21:39] yonghong-song opened #159 "compilation failure with gcc5.x"
I hit a compilation error with the following error:
[code]
maybe we should be relaxing -std=c++14 to allow old distro to use the tool?

[2018-10-09 22:12] brendangregg commented on #156
What's the stack trace in that core? gdb bt...

[2018-10-10 00:05] yonghong-song commented on #159
Correction for myself. The above -std=c++14 is not due to gcc 5.x. It is due to my setup whether cmake chooses an old version of gcc 4.8.5.

But even with correct 5.5.x gcc/g++ compiler, I still get the following compilation erros:
[code]
I am using latest llvm trunk (8.0), so I suspect this is due to the latest llvm issue.

It would be good if you can fix this issue since I am often running with

[2018-10-10 04:01] brendangregg commented on #159
Yes, this sounds like llvm API changes. #149 shows the kind of work to fix this. What I don't know is how exactly: should we ifdef for the llvm versions, switch to the C API, or would an llvm engineer tell us there's a better way? (know any llvm engineers other than @4ast?)

I guess we could start by ifdef'ing the llvm versions.

[2018-10-10 10:28] mlen commented on #76
This appears to be an upstream bug [from debian packaging](https://groups.google.com/forum/#!topic/linux.debian.bugs.dist/g2S4E-QvmWA).

[2018-10-10 15:44] williangaspar commented on #9
Should it accept variables (`unroll($i)`) as input or just integers (`unroll(5)`)?

[2018-10-10 15:49] brendangregg commented on #9
try both, and if there's a problem, just start with integers and have semantic analyzer say that variables are not yet supported.

[2018-10-10 16:21] netoptimizer commented on #156
The strange thing is that no core is being generated!?!?
And yes, I have used 'ulimit -c unlimited'
Hmm... this smells like systemd wrapper...

$ sysctl kernel.core_pattern
kernel.core_pattern = |/usr/lib/systemd/systemd-coredump %P %u %g %s %t %c %e

`# coredumpctl gdb 2770`

`(gdb) bt`
`#0  0x00007fda1f4f569b in raise () from /lib64/libc.so.6`
`#1  0x00007fda1f4f73b1 in abort () from /lib64/libc

[2018-10-10 17:55] danobi opened #161 "CMake builds download from github by default"
It seems like gtest and bcc are updated from github every build. It can be turned off with the right environment variables, but it seems like using git submodules would be a better idea. Does this seem reasonable?

[2018-10-10 18:40] danobi commented on #161
Yes, as far as I'm aware, the only option is to pin a submodule to a specific commit.

[2018-10-10 20:05] brendangregg commented on #133
fixed by #163

[2018-10-10 20:05] #133 closed

[2018-10-10 20:30] danobi commented on #127
Do the tests require root? I'm having luck doing this:

[code]

The failed tests are another issue.

[2018-10-10 20:41] ajor commented on #127
I think it's just codegen.builtin_name and codegen.builtin_name_wild which require root - they'll fail if you run them without it.

I've not looked into what they're doing, but I do see code which tries to read "/sys/kernel/debug/tracing/available_filter_functions". This should be mocked out like in the tracepoint_format_parser tests.

[2018-10-10 20:46] brendangregg opened #164 "definitions.h error expected identifier"
[code]

It's an unnecessary error, and can be removed.

Maybe related to #163 /CC @danobi . Debug output:

[code]

Note the empty struct.

Once that error is removed, there's another thing to improve:

[code]

For now, we might want that last error to say "args is not yet supported with probe wildcards". Later on we should investigate making it work (it'd have to check that args->XXX is valid for

[2018-10-10 20:46] danobi commented on #127
Sounds good, I'll give this a shot if that's ok.

[2018-10-10 20:50] danobi commented on #164
Yeah I think I broke some stuff with the other patch. I'll go fix that.

[2018-10-10 20:51] ajor commented on #127
Go for it!

[2018-10-10 20:52] danobi commented on #164
I think I can try to take on the other bits as well.

[2018-10-10 21:01] danobi commented on #164
#165 should fix the empty structs.

[2018-10-10 21:28] brendangregg commented on #164
fixed by #165

[2018-10-10 21:28] #164 closed

[2018-10-10 21:53] bobrik commented on #76
BCC also depends on Clang parts, but it manages to avoid this problem somehow.

[2018-10-11 00:08] jasonkeene opened #168 "Attach to Golang functions"
All go functions are compiled to symbols that have a period in them to delimit what package they are defined in. For example:

[code]

I would like to be able to attach to these with uprobe/uretprobe however I get the following error:

[code]

I tried escaping the period and using a wildcard but that doesn't work with uprobe/uretprobe:

[code]

Do you know how I might go about attaching to Golang

[2018-10-11 02:18] brendangregg commented on #168
also see #166

[2018-10-11 08:01] ajor commented on #161
I’m not familiar with all the options, but we should also look into allowing people to point bpftrace to an already cloned repository they’ve got on their computer

[2018-10-11 13:14] cneira opened #169 "clang_parser.integers fatal error: 'generated/autoconf.h' file not found"
Under Debian stretch, not all tests are passing due to a missing header, but the header is present, is there a symlink missing?

[code]

[code]

[2018-10-11 13:34] caringi commented on #161
Hi folks,

I am starting to think about the creation of a bpftrace package for Fedora, but there are these constraints in the Fedora Packaging Guidelines:

"Packages in the Fedora buildsystem are built in a mock chroot with no access to the internet. Packages must not depend or or use any network resources that they don't themselves create (ie, for tests). In no cases should source code be downloa

[2018-10-11 14:01] mskarbek commented on #161
@caringi I have created a package that uses default cmake behavior with only `man` path fixed with `sed` on the fly during the build: https://copr.fedorainfracloud.org/coprs/mskarbek/bpftrace/

Right now it would be good to be able to build against `bcc-devel` package without internet access. Without that there is no chance to go further than personal repo on COPR.

[2018-10-12 04:44] #121 closed

[2018-10-12 11:02] cyphar commented on #101
I looked into this a bit more. It's actually quite conceptually easy to do with the current `kretprobe` design -- all you have to do is save the stack trace inside `pre_handler_kretprobe` (`kretprobes` are actually `kprobes` that set up a `kretprobe` once they get triggered -- which means that we can just get a stack trace during the code which sets up the `kretprobe` and then we can return that i

[2018-10-12 14:14] williangaspar commented on #9
The only issue I'm having with variables is a way of blocking values above 20. I'm trying to cast a `Value` to an `Integer` but I idk if it's possible.

[2018-10-12 16:56] caringi opened #172 "Strange values probing tracepoint:syscalls:sys_exit_read using sum(args->ret)"
Running the following one-liner in my system for a few seconds:

bpftrace -e 'tracepoint:syscalls:sys_exit_read /args->ret/ { @[comm] = sum(args->ret); }

I get:

@[TaskSchedulerSe]: 1
@[systemd-logind]: 8
@[rtkit-daemon]: 8
@[QThread]: 8
@[systemd-machine]: 8
@[goldendict]: 16
@[nm-applet]: 16
@[firewall-applet]: 24
@[atom]: 31
@[Media]: 32
@[mate-sensors-ap]: 33
@[abrt-dump-journ]: 63
@[gdbus]:

[2018-10-12 17:01] brendangregg commented on #172
args->ret can be negative with errors (-ERRNO). To start with, I'd change the predicate to be /args->ret > 0/

[2018-10-12 19:48] cneira commented on #169
@ajor
Thank you, I have added BPFTRACE_KERNEL_HEADERS environment variable for this purpose.
Could you review https://github.com/iovisor/bpftrace/pull/171 ?

[2018-10-12 21:06] caringi commented on #172
@brendangregg understood, thanks!

[2018-10-13 11:29] #169 closed

[2018-10-13 21:06] ajor commented on #61
I'm not actually getting this error when I do a Docker build anymore - is anyone else still seeing it?

@Earnestly See #161 for discussion on changing this behaviour.

[2018-10-13 21:16] ajor commented on #9
I'm not sure if it is possible to unroll based on a variable value. Wouldn't it just be a regular loop at that point rather than an unrolled loop?

I couldn't find info on the new BPF support for unrolled loops though - @brendangregg have you got any links?

[2018-10-13 21:32] ajor opened #174 "resolve_kname, resolve_uname match more than they should"
Seems to do a prefix search. e.g. searching for `xen_vcpu` actually returns the address of `xen_vcpu_info` as that symbol appears first in my kallsyms:

kallsyms:
[code]

[code]

[2018-10-13 21:39] mmarchini commented on #9
I think we should start with static values first.

[2018-10-15 15:07] abhinav-upadhyay opened #179 "Not able to build on Ubuntu 18.04"
I am trying to build on Ubuntu 18.04 following the instructions provided in install.md. But I am getting configure errors from cmake. I already had most of the dependencies installed (including llvm-5.0, clang-5.0). Initially it was complaining about not able to find `ClangConfig.cmake`, I provided its location by setting `CLANG_DIR` but afterwards it failed at not being able to load `ClangTargets

[2018-10-15 15:32] zoidbergwill opened #180 "HDRHistogram Support"
I've been looking at adding support for this, after being inspired by someone mentioning it on Twitter https://twitter.com/elazarl/status/1049337646835748864

I've been looking at  https://github.com/iovisor/bpftrace/commit/6bdd1198e04392aa468b12357a051816f2cc50e4 and [`hdr_histogram.c`](https://github.com/HdrHistogram/HdrHistogram_c/blob/master/src/hdr_histogram.c), but I'm pretty much a complete

[2018-10-15 16:57] brendangregg commented on #179
This looks like #76, and the install.md has the workaround: it installs llvm/clang from llvm.org repos, rather than the default ones. If you miss a step, like `sudo apt-key add -`, then it will install from the default and not llvm.org, and you'll hit this issue. Can you try again and make sure it's installing llvm/clang from llvm.org?

[2018-10-15 17:10] #172 closed

[2018-10-15 21:37] #9 closed

[2018-10-15 21:46] brendangregg commented on #137
#149 just merged, which supports llvm 7. Not sure about latest LLVM yet.

[2018-10-15 21:49] brendangregg commented on #101
Thanks for digging in @cyphar . Sounds like a kernel change, and you know more about fixing this right now than anyone, so if you can I'd try it out! I'm guessing the patch would be submitted via BPF https://github.com/torvalds/linux/blob/master/MAINTAINERS#L2810 , depending on what changes.

[2018-10-15 21:52] danobi opened #182 "Create a clang-format config"
Is there any interest in commititng a [clang-format config][0]? Most big projects have one to enforce a consistent coding style.

[0]: https://clang.llvm.org/docs/ClangFormat.html

[2018-10-15 22:00] brendangregg commented on #182
I haven't used that, but yes, it would be nice to have a tool to check for consistent style (can it be used to verify and throw warnings?). It would be ideal if it could be based on something close to @ajor 's style (eg, 2 character space indent) to minimize the amount of change we need to do to the existing codebase.

[2018-10-15 22:17] danobi commented on #182
Yeah, I think we can play around with it and see which settings cause the least churn. It not only checks style, but can do in-place modifications of source files to match the configured style. Most projects add a automatic build job that errors out if there's a delta between the submitted patch and the clang-formatted patch.

[2018-10-15 23:42] brendangregg commented on #137
I just did an llvm build from source, and the latest bpftrace, and here's what I hit:

[code]

[code]

line 440 in codegen is:

`b_.CreateStore(b_.getInt64(printf_id_), printf_args);`

[2018-10-16 01:22] rvl opened #184 "CMake option for not using ExternalProject"
Would it be possible to add an option to the CMake build so that gtest and bcc can be integrated in the "normal" way, rather than downloaded through ExternalProject? By the "normal" way I mean `find_library(LIBGTEST "gtest")` and `pkg_check_modules(BCC libbcc)`. Cheers.

[2018-10-16 06:11] ajor commented on #184
See #161 for discussion on how we want to do this

[2018-10-16 06:11] #184 closed

[2018-10-16 06:31] ajor commented on #180
Thanks for taking this on!

It looks like there quite a lot of C code necessary to implement HDR histograms and converting that all to assembly like we’ve done for the other histogram types sounds really painful. It might be worth investigating if we can use clang to compile the C to BPF for us and link to the newly compiled histogram symbols in BpfOrc. Just an option to consider.

[2018-10-16 12:28] bastianbeischer commented on #156
How did you compile bpftrace? I had the same problem on Arch Linux, I then realized that Arch has this value for CXXFLAGS automatically set when using makepkg to build the bpftrace package:

"... -O2 -pipe -fstack-protector-strong -fno-plt"

I then changed those into:

"... -O0 -pipe -fstack-protector-strong -fno-plt -g -fvar-tracking-assignments"

after which the problem is gone. Are there any kn

[2018-10-16 13:35] mmarchini commented on #182
Sounds good to me. We use clang-format on llnode (V8 also uses it) and it decreases the number of nit comments on PRs about coding style as well as enforces one style on the entire code base :)

[2018-10-16 17:33] brendangregg commented on #184
#161 is for git submodules (right?)

I'm not an expert in packaging, but I'd guess there was value in also supporting a way to use bcc from a previously installed and packaged bcc (just like the bpftrace build uses a bunch of other things, like cmake, flex, bison, llvm, etc, which it's using via packages).

[2018-10-16 17:58] ajor commented on #184
The first comment was suggesting submodules, but there is also talk about using installed packages later on. I do think that'd be a good idea

[2018-10-16 18:12] brendangregg commented on #137
I think I can fix that codegen line by using a CreateGEP (I was also trying a cast):

[code]

It's untested, since it then crashes on the CreateCall:

[code]

It's crashing on this in irbuilder.cpp:

[code]

Stack trace:

[code]

This sounds like another API change, this time to CreateCall(). Any way to look up older llvm docs? I think this is reflecting the latest, and it'd be helpful to see the

[2018-10-16 19:14] ajor opened #186 "strcmp crashes on statically compiled bpftrace"
[code]

[2018-10-16 19:38] ajor opened #187 "Fix codegen tests"

[2018-10-16 19:45] ajor commented on #156
`fatal error: './include/linux/kconfig.h' file not found`
bpftrace can now support custom kernels - try setting the environment variable `BPFTRACE_KERNEL_SOURCE` to point to your kernel source

[2018-10-16 20:10] brendangregg commented on #156
@bastianbeischer should the "-g -fvar-tracking-assignments" parameters be put in INSTALL.md? Would you like to do a PR? :)

[2018-10-16 20:19] bastianbeischer commented on #156
@brendangregg I don't think that's relevant. I learned by now that if I unset CXXFLAGS before following the INSTALL.md instructions I also don't see any problems.

So something in "-O2 -pipe -fstack-protector-strong -fno-plt" is causing this bug to occur, and my guess is that it's the -O2 (at least with GCC 8.2.1), which is why I wanted to know whether there is any specific reason that the INSTALL

[2018-10-16 21:38] psanford commented on #10
I'm going to try to tackle this. Making printf("%s", stack) work doesn't look too bad.

[2018-10-16 23:21] #10 closed

[2018-10-16 23:25] brendangregg opened #191 "Tidy USAGE message"
[code]

It shouldn't warn about -h, and there's an extra new line after the -d line that can be removed.

[2018-10-16 23:27] brendangregg commented on #19
Something to bear in mind for: the objective should be to support basic scripting. Tools that are 10 to 50 lines long, and need an option or two. Anything really advanced, the user should be switching to bcc, where they can use argparse.

[2018-10-16 23:43] brendangregg commented on #56
The zero keys behavior I described would be desirable in other cases, such as, doing comparisons with count() maps. Eg:

[code]

[2018-10-16 23:47] brendangregg commented on #84
the optional struct keyword is a separate ticket, #139

[2018-10-16 23:49] brendangregg opened #192 "if statement semicolon"
It should be removed or made optional. Eg, from the current runqlat.bt tool:

[code]

I don't think programmers will expect to need the ";" at the end of each if statement. When fixing this, please make sure that else statements still work.

FWIW, there's another ticket, #84, for allowing semicolons on struct definitions.

[2018-10-17 04:08] cneira commented on #20
@brendangregg
I tried to improve probe listing using file globbing semantics, but it does not match your proposal.
PR for this is https://github.com/iovisor/bpftrace/pull/193. Let me know if this works for you in this state or rework must be done to match your search pattern proposal.

[2018-10-17 06:33] ajor opened #194 "Use after free from BPFtrace::get_arg_values"

[2018-10-17 11:59] cneira commented on #174
@ajor
I created PR https://github.com/iovisor/bpftrace/pull/195 to fix this.

[2018-10-17 13:43] jeromemarchand opened #196 "Type mismatch error when running runqlen.bt"
I received the following error when running runqlen.bt:

# bpftrace  /usr/local/share/bpftrace/tools/runqlen.bt
Type mismatch for $len: trying to assign value of type 'integer'
	when variable already contains a value of type 'integer'

As it turned out the faulty line is this one:
$len = $len > 0 ? $len - 1 : 0;	// subtract currently runing task

It seems that the same variable can't be on both si

[2018-10-17 16:55] brendangregg commented on #196
Thanks for debugging, this is a bpftrace bug -- that tool should work as is. What's your kernel and llvm version? I developed the tool on llvm 5, and my guess is that llvm has extra checks by the later versions.

[2018-10-17 18:04] ajor commented on #196
This was a bug in the semantic analyser introduced after runqlat was written. Fixed in 4efac77775229def94b97c9ef804423baa497dc8

[2018-10-17 18:04] #196 closed

[2018-10-17 21:10] brendangregg commented on #20
fixed by #193

[2018-10-17 21:10] #20 closed

[2018-10-17 21:11] brendangregg commented on #179
Was this still an issue? We can close the ticket if it isn't.

[2018-10-17 22:05] brendangregg opened #197 "bash command completions"
Completions were discussed on the iovisor call (thanks @4ast for the idea).

This could be done a number of different ways: bash, editors, custom tools.

This ticket is for bash command completions, to make one-liners easier to type. Imagine:

[code]

Make sense?

A bash completion file could be include in the bpftrace repo, with instructions on how to install it as a separate section in INSTALL.m

[2018-10-17 22:13] brendangregg commented on #11
I raised this on the call today and @4ast wasn't sure there was a way but maybe there was (other than setting it system wide using the sysctl kernel.perf_event_max_stack). We're going to have to study the kernel source know for sure if it's doable now or not.

[2018-10-17 22:37] 4ast commented on #11
@brendangregg when stackmap is created value_size gives the limit (in bytes) on number of elements in the stack trace.

[2018-10-17 22:40] brendangregg commented on #11
Great, thanks @4ast !

[2018-10-17 23:43] brendangregg commented on #137
My current guess is that this is the breaking change:

"[IR] Straighten out bundle overload of IRBuilder::CreateCall"
https://gitlab.kitware.com/third-party/llvm/commit/6222ba6ec43474896e341f41b786647a7da7b24c

I still don't know how to fix it.

[2018-10-17 23:59] brendangregg commented on #137
Set to priority as it's blocking multiple people.

If anyone wants to help, I'd start by trying to get this to work:

[code]

it likely needs the code in src/ast/irbuilderbpf.cpp changed:

[code]

Here's my LLVM build instructions, to test on latest (make sure you remove all llvm/clang packages first):

[code]

[2018-10-18 04:14] abhinav-upadhyay commented on #179
I didn't get around to try it. Will do today and let you know. Thanks

On Thu, Oct 18, 2018 at 2:43 AM Brendan Gregg <notifications@github.com>
wrote:

[2018-10-18 13:21] abhinav-upadhyay commented on #179
Installing clang and llvm from llvm apt repo fixed it.

In the past I remember installing llvm from the llvm apt repo but it seems during dist upgrades at some point those repos were disabled in my apt sources list and I ended up installing llvm from Ubuntu's repos.

Thanks for the pointers.

[2018-10-18 13:21] #179 closed

[2018-10-18 16:10] #12 closed

[2018-10-18 18:33] brendangregg opened #198 "strings in predicates failures"
There's two invocations here that fail differently, but I think one bug may be responsible.

To start with, this works:

[code]

That's the PID of a bash shell. Matching on the process name, and including -v:

[code]

Ok, looks like an alignment issue of the "bash" string.

Now changing the action performed:

[code]

This time it compiles, but no events fire.

[2018-10-18 18:39] brendangregg opened #199 "str() to accept optional length"
Tracing the PID of a bash shell and printing the written string:

[code]

The output looks messed up because it's printing the full buffer, and not truncating to the actual length of the write.

This is why Gianluca added bpf_probe_read_str(): https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=a5e8c07059d0f0b31737408711d44794928ac218

This ticket is to add an optional se

[2018-10-18 21:50] JorgenRask opened #200 "Tools examples does not start some tools correctly"
The example text for some of the tools does not have "bpftrace " in front of the tool bt-file, so it looks like the bt-file is directly executable. This is the case for these tools:
  biolatency.bt
  capable.bt
  cpuwalk.bt
  dcsnoop.bt
  ./mdflush.bt
  pidpersec.bt
  runqlen.bt
  xfsdist.bt

The tools should be run like this:
  bpftrace biolatency.bt
  bpftrace capable.bt
  bpftrace cpuwalk.bt

[2018-10-18 21:55] brendangregg commented on #200
We'll fix #17 first, and then update all the examples to ensure they don't have bpftrace (although it doesn't matter if they do).

[2018-10-18 22:06] brendangregg commented on #17
Here's a starting point:

[code]

script test.bt:

[code]

running it:

[code]

It works, but it shouldn't print that invalid preprocessing directive line.

[2018-10-18 22:07] brendangregg commented on #200
I took a quick look at #17 and added a starting point diff. Maybe you or someone would like to finish it? :-)

[2018-10-18 22:12] brendangregg commented on #17
ok, here's a first pass. I'll file a PR:

[code]

[2018-10-18 22:18] JorgenRask commented on #200
I'm afraid that's a little too daunting for me :-)
I just struggled a little trying to understand how to use the examples...

[2018-10-18 22:21] caringi opened #201 "bpftrace crashes during finalization with specific one-liner (probably related to lhist function)"
The following one-liner works but crashes during finalization:

    bpftrace -e 'kretprobe:vfs_read { @bytes = lhist(retval, 0, 2000, 200); }'

Output:

    Attaching 1 probe...
    ^C

    @bytes:
    (...,0M]             858 |@@@@@@                                              |
    [0M, 200)           6801 |@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@|
    [200, 400)             4 |

[2018-10-18 23:15] brendangregg commented on #174
fixed by #195

[2018-10-18 23:15] #174 closed

[2018-10-18 23:43] cneira commented on #192
@brendangregg
Just tested this change and created PR https://github.com/iovisor/bpftrace/pull/203.
Let me know if you have any issues.
[code]

[2018-10-19 06:27] #17 closed, assigned to brendangregg

[2018-10-19 06:28] #200 closed

[2018-10-19 06:29] ajor commented on #200
All tools are directly executable now - closing

[2018-10-19 19:10] brendangregg opened #206 "Error loading program, with no details (kern version)"
This is due to bpftrace being compiled on one kernel, then run on another. Errors like this:

[code]

with -v:

[code]

with strace:

[code]

See the kern_version numbers above (266002, 265984, 0). Now compare them to a working bcc invocation, which uses 266001:

[code]

We should switch to bcc's scheme for determining the kernel version.

And add a better error message.

[2018-10-19 19:38] brendangregg commented on #206
If we can call bcc's `kern_version()`, this would work. We could insert it as the first attempt, and leave the other 3 methods around for now until we're sure we don't need them. Eg:

[code]

This doesn't compile though, as I'm not sure how to call kern_version from bcc_module.

[2018-10-19 20:17] williangaspar commented on #206
I changed `kern_version()` to `kernel_version(4)` and it compiled. Idk if the parameter value is correct though

[2018-10-19 22:06] brendangregg commented on #206
`kernel_version()` is from bpftrace, `kern_version()` is from bcc. We need a way to be able to call `kern_version()` from bpftrace (or something with the same effect).

[2018-10-20 10:49] ajor commented on #206
Was that BCC compiled on the same Linux version as bpftrace? I think we do use the same version as BCC initially (LINUX_VERSION_CODE) and then fall back to these other methods to try and determine the version at run time. We can't entirely get rid of the runtime checks or the Docker builds would break.

[2018-10-20 20:18] mmarchini commented on #137
Please try the patch below:

[code]

I tried `./src/bpftrace -e 'kprobe:do_nanosleep { printf("sleep\n"); }'` as well as some tools and everything seems to be working. I'm using LLVM 8 (latest) from apt.llvm.org:

[code]

[2018-10-20 20:58] brendangregg commented on #206
bcc currently does this: https://github.com/iovisor/bcc/blob/master/src/cc/bpf_module.cc#L803

I'm able to install bcc-tools, from the ubuntu repos, on a variety of different minor kernel versions and it works. But if I build and package bpftrace, it only works on the exact same kernel version.

[2018-10-20 21:04] brendangregg commented on #137
trying on my build-from-source llvm 8:

[code]

[2018-10-21 03:50] yujinqiu opened #207 "cannot run opensnoop.bt"
Hi there,

I try to run  opensnoop.bt and  failed.
[code]

Test on CentOS Linux release 7.3.1611 (Core) and  kernel 4.11.2

[2018-10-21 22:49] mmarchini commented on #137
Build LLVM inside a virtual machine is not fun :(

In case my build doesn't finish today, which llvm and clang commits did you build?

[2018-10-22 12:43] #125 closed

[2018-10-22 12:44] brendangregg commented on #125
fixed by #208

[2018-10-22 12:46] brendangregg commented on #207
I haven't seen this error before. Maybe the kernel is missing a BPF config? Can you try: `grep BPF /boot/config-*`

Also try `bpftrace -v opensnoop.bt`, and `strace -febpf bpftrace opensnoop.bt`

[2018-10-22 13:49] caringi commented on #207
I'm facing a similar problem (possibly related)...

I have tested a lot of different one-liners and all of them worked for me, except this one:

    bpftrace -e 'tracepoint:syscalls:sys_enter_open { printf("%s %s\n", comm, str(args->filename)); }'

It doesn't show any error, but also doesn't show the expected output:

    Attaching 1 probe...
    ^C

The opensnoop also doesn't work (and doesn't sh

[2018-10-22 14:16] brendangregg commented on #207
@caringi did you get the `ioctl(PERF_EVENT_IOC_SET_BPF): Invalid argument` message? If not, I think you're hitting a different error.

If args->filename isn't working for the open tracepoint, maybe the following directories are not mounted (where it gets that info):

[code]

In particular, this file should be readable:

[code]

[2018-10-22 14:35] caringi commented on #207
@brendangregg no, I'm not getting this `ioctl(PERF_EVENT_IOC_SET_BPF): Invalid argument` error message...

About the  debug/tracing mounts in my system (Fedora 28):

    # mount | grep sys/kernel/debug
    debugfs on /sys/kernel/debug type debugfs (rw,relatime,seclabel)
    tracefs on /sys/kernel/debug/tracing type tracefs (rw,relatime,seclabel)

The file `/sys/kernel/debug/tracing/events/syscalls

[2018-10-22 19:31] mmarchini commented on #137
Ok, after a few attempts I got a LLVM build from source. bpftrace compiles with [this patch](https://github.com/iovisor/bpftrace/issues/137#issuecomment-431614901), but it fails to execute:

[code]

Will try to debug this now.

[2018-10-22 19:49] myllynen commented on #197
This would be very helpful. But perhaps this ticket should be renamed as 'shell completions support' as such to cover zsh as well?

FWIW, the Stratis storage project recently added support for both bash and zsh, that might give an idea how the differences between these two look like: https://github.com/stratis-storage/stratis-cli/tree/master/shell-completion.

Thanks.

[2018-10-22 22:04] Birch-san opened #209 "`sym()` resolves symbols in aggregations, but not in printf"
I'm on commit dac74162bce7a941a90cf97b85b341c636c0530c, Ubuntu 18.04 LTS.

I tried to resolve kernel symbols. Aggregations seem to behave differently than do printf()s.

### Aggregation (successfully prints symbol)

[code]

### printf() (prints empty string)

[code]

For reference, this is what the guide says about symbol translation:

[2018-10-23 05:30] yujinqiu commented on #207
@brendangregg  I list some info below and hope that will help.

[code]

[code]

[code]
so I use `-f` instead, hope that will help.

[code]

[2018-10-23 14:59] mmarchini commented on #137
These aborts are happening because of extra checks present in debug builds of LLVM. With a Release build of LLVM things seems to be working with [this patch](https://github.com/iovisor/bpftrace/issues/137#issuecomment-431614901). To do a Release build of LLVM: `cmake -DLLVM_TARGETS_TO_BUILD="X86;BPF" -DLLVM_BUILD_LLVM_DYLIB=ON -DLLVM_ENABLE_RTTI=ON -DCMAKE_BUILD_TYPE=Release ../llvm`

So the quest

[2018-10-23 18:39] mmarchini commented on #137
I'm on G++ 7

[code]

Are you building LLVM and clang on the latest commit? I'm in llvm-mirror/llvm@ca81ba500b01cd713c491104cbd4e8262223d915 and llvm-mirror/clang@ef01f7fbf3d553dea10333f00818ad7e0104509c.

Also, I built LLVM and clang together (following llvm/clang documentation). My build steps were:

[code]

[2018-10-23 19:17] brendangregg commented on #207
@yujinqiu Thanks, I see in the strace output where it failed. On a working system:

[code]

Can you try this?

[code]

That should work without error. Eg:

[code]

If it fails, it'll tell us that there's a problem on your system with this tracepoint.

[2018-10-23 19:21] brendangregg commented on #137
Ok, thanks, I was on llvm 6712561e1900fcf553d66bb73f90759319ef17f8 and clang 726b0ec4982cd872ba4577900f4d6adb2b1753b6. I'll look into getting g++-7 (it's not in the repos on my system), and building clang in llvm (which I wasn't doing).

[2018-10-23 19:41] brendangregg commented on #137
In trying to switch to g++-7, my system has switched to clang-8. So, FWIW, clang-8 hits something similar:

[code]

[2018-10-23 19:57] brendangregg commented on #137
And with g++-7:

[code]

I'll now try the llvm+clang build.

[2018-10-23 20:16] brendangregg commented on #209
Thanks for the issue. It seems that other builtins have broken as well, eg, username. I think the issue is in bpftrace.cpp, in BPFtrace::get_arg_values(), with these code sections:

[code]

But I don't know the fix yet, or what broke it. These used to work...

[2018-10-23 21:15] brendangregg commented on #137
With the llvm+clang build, it works (finally!).

I also switched back to g++-5, and it still works. So the only problem I think was the way I was building llvm & clang separately, instead of together.

[2018-10-23 21:16] brendangregg commented on #137
@mmarchini I'd add you llvm+clang from source instructions to the end of the INSTALL.md, as some people will want to go this path.

[2018-10-23 21:30] sig1nt opened #211 "Building With Multiple Versions Of Clang Installed"
I'm currently attempting to build `bpftrace` on Ubuntu 18.04, and I'm getting a `LLVM Unsupported` error, despite having followed the PPA add instructions in INSTALL.md. Upon further investigations, I realized this is stemming from the fact that I had already installed clang version 4, and now that I had clang version 5, it was being renamed to `clang-5.0`. Can we add some kind of suffix flag to c

[2018-10-23 23:37] caringi commented on #207
@brendangregg my problem is not the same, but just to let you know... I decided to test the perf command and it worked without problems...

[code]

But when I tried to see the report it showed "The perf.data file has no samples!"

So I think that for some unknown reason this specific tracepoint is not triggering in my system (it's strange because it is just this one, all the others that I tested d

[2018-10-24 09:14] caringi commented on #207
@brendangregg results:

[code]

Also tested:

[code]

Strange... Could the reason be that in my system for some reason `sys_enter_openat` is being always used instead of `sys_enter_open`?

[2018-10-24 11:12] caringi commented on #207
@brendangregg I think that this is the explanation...

"in recent glibc, the open(2) wrapper function actually uses the more general openat"

https://lwn.net/Articles/739104/

[2018-10-24 14:29] brendangregg commented on #207
@caringi thanks; so that's just my mistake -- I should have traced openat as well, in opensnoop. Can you check this works?

[code]

I'll fix opensnoop.bt...

[2018-10-24 14:57] brendangregg commented on #209
If I avoid the resolved_symbols.emplace_back() and just do this:

[code]

it works. I don't know why the emplace_back()/back().get() stopped working (@ajor ?), plus I'm not sure we're even using resolved_symbols yet (looks like it was meant to be a cache, but it is incomplete).

[2018-10-24 16:15] caringi commented on #207
@brendangregg yes, this one-liner works for me... thanks!

[2018-10-24 21:40] Birch-san commented on #209
Here's the original commit which introduced `resolved_symbols`:

https://github.com/iovisor/bpftrace/commit/0e82af015b22e4c7d7d33c8815102285b182d558#diff-d231d684666d47519cd093494342e228R52

It's just to keep in scope the `std::string` returned by `resolve_sym()`, so that the memory that `.c_str()` points to doesn't get deallocated before we print `arg_values`.

[2018-10-24 23:15] Birch-san commented on #209
Oh, I just noticed that (as of a month ago) we `return arg_values`:

https://github.com/iovisor/bpftrace/commit/7d490e547281e6c7a4600abfc814b01c6260dc42#diff-d231d684666d47519cd093494342e228R390

That's surely the problem. `arg_values` holds raw pointers to our copied strings. Our copied strings will get deallocated when we return from the function (final reference to unique_ptr is lost).

[2018-10-26 04:41] yujinqiu opened #218 "BEGIN probe cannot printf message"
Hi,
I cannot get the BEGIN probe printf message

[code]
"Hello, World!" message does not show up.
For further investigation, I also  list the verbose info below.

[code]
[code]

[code]
"Reading load averages... Hit Ctrl-C to end."  message does not show up too.

[2018-10-26 11:42] cyphar commented on #101
Okay, I have a working patch. You can see it in [my tree](https://github.com/cyphar/linux/tree/kretprobe-stack). The basic idea is that we stash away the stack trace on `kprobe` entry and then use it within the tracing code if the tracing code is executing from within a `kretprobe`.

[2018-10-26 12:21] yujinqiu opened #219 "different libc.so.6 path in CentOS 7 distro"
Hi,
In CentOS 7 distro the libc.so.6  is  /lib64/libc.so.6  not  /lib/x86_64-linux-gnu/libc.so.6.
I wonder how can we make it compatible between different Linux distro ?

[code]
change to `/lib64/libc.so.6:getaddrinfo` it work as expect.
[code]

[2018-10-26 14:45] brendangregg commented on #63
fixed by #216

[2018-10-26 14:45] #63 closed

[2018-10-27 01:38] brendangregg commented on #191
fixed by #220

[2018-10-27 01:38] #191 closed

[2018-10-27 07:28] cyphar opened #221 "aggregation over "stack" has duplication"
While playing with fixing #101, I noticed that stacks appear to not aggregate completely. I'm not exactly sure what is happening, but I would imagine that it has something to do with the asynchronous symbol resolution (just a guess).

Here's an example:

[code]

All of these stack traces are identical but they appear to be aggregated separately. This screws up counts (and is actually making it ver

[2018-10-27 12:44] ajor commented on #161
Feel free to switch bpftrace over to using Git submodules if anyone wants to btw.

I'll keep this ticket open for enabling building bpftrace against packages as well though.

[2018-10-27 14:03] mmarchini commented on #218
Hi, thank you for sharing bytecode and IR outputs. Could you please also provide details about your environment? Especially LLVM/Clang versions, Kernel version, and distro name/version.

[2018-10-27 20:17] cyphar commented on #221
I've figured it out, and have a patch. It's aggregated by `tid` -- and this is because of a bug (we accidentally handle `ustack` and `stack` the same way -- we should not do our pointer stuffing for kernel pointers because it actually does make sense to compare them between processes).

I also note that currently we also don't aggregate userspace pointers across different processes that have the s

[2018-10-27 20:47] caringi commented on #161
@ajor, @brendangregg I'm analyzing the possibility of building bpftrace using bcc-devel rpm package provided by Fedora (or libbcc rpm package provided by iovisor project), but as far as I can see there is one problem:

bpftrace is using header files (private?) from bcc which are not part of these rpm packages nor installed through bcc "make install", for example: common.h, syms.h

So, my question

[2018-10-28 02:06] williangaspar commented on #35
Should it run with the other tests or separated? The test suite takes about 20s to run.
Right now I'm running them with:

```cd tests/python```
```sudo python -m unittest discover --pattern=*.py```

[2018-10-28 19:59] ajor commented on #35
I think it should have it's own separate way of running the tests as these new ones will require root and probably won't work in the CI

[2018-10-28 21:04] #221 closed

[2018-10-28 23:33] jasonkeene commented on #168
Closing this as it was solved by #166 I will open another issue about supporting Go's calling convention.

[2018-10-28 23:33] #168 closed

[2018-10-29 08:12] yujinqiu commented on #218
Hi  @yujinqiu  thank you for reply.  The bpftrace binary  was build from  Docker Image (Image ID: b5b4010cf744) followding the [doc](https://github.com/iovisor/bpftrace/blob/master/INSTALL.md#using-docker) ,

[code]
and then  I  copy the bpftrace binary  to  CentOS Linux release 7.3.1611 (Core) with kernel version: 4.11.2.

[2018-10-29 15:31] lollipopman opened #223 "Unable to retrieve a userspace struct"
I am attempting to profile wait4 syscalls and retrieve the rusage data, but the structure appears to point to an invalid memory segment:

[code]

Output:
[code]

Is this a bug, or am I failing to understand how to access the data correctly with bpftrace?

Thanks for the help!

[2018-10-30 00:18] williangaspar commented on #35
There is a couple of functions and variables printing random characters.

ex: `bpftrace -e 'uprobe:/bin/bash:readline { printf("%s\n", usym(reg("ip"))); }'`

Can someone check whether  it is a problem with pbftrace or just my environment?
maybe https://github.com/iovisor/bpftrace/issues/194 has something to do with it

[2018-10-30 16:34] cyphar opened #224 "building for distributions is difficult"
Within openSUSE we don't allow internet access during builds, and currently bpftrace will try to download bcc in order to build (even with `-DOFFLINE_BUILDS:BOOL=ON`). I have some patches to fix this, though now I'm wrestling with some really weird errors:

[code]

I'm not really a C++ guy so this `vtable` stuff is just really odd. I'm mostly opening an issue to ask for help (if you can give it) a

[2018-10-30 17:05] dth0 opened #225 "Error to retrieve the probe name"
Hello,

I'm trying to use the built-in variable "name" but for some reason, it is failing.

bpftrace -e 'tracepoint:syscalls:sys_exit_openat { printf("%-2d: %-10s \n", pid, comm); }'
Attaching 1 probe...

**440: vminfo
370: dbus-daemon
370: dbus-daemon
370: dbus-daemon
454: tuned**

bpftrace -e 'tracepoint:syscalls:sys_exit_openat { printf("%-2d: %-10s %s\n", pid, comm, name); }'

**1.81: syntax e

[2018-10-30 17:11] brendangregg commented on #225
We recently renamed it to "probe" (so we could reserve "name" for something else). Did we miss some docs that still call it name?

[2018-10-30 17:19] mskarbek commented on #224
Duplicate of https://github.com/iovisor/bpftrace/issues/161

[2018-10-30 20:48] dth0 commented on #225
Yeah, it worked

Only these 2 places below still call it name.

[builtins](https://github.com/iovisor/bpftrace/blob/master/docs/reference_guide.md#1-builtins)
[syncsnoop.bt](https://github.com/iovisor/bpftrace/blob/master/tools/syncsnoop.bt)

Thanks

[2018-10-30 20:52] cyphar commented on #68
#101 is a separate issue -- currently `func` is implemented by fetching the `pc` and unlike with `kretprobe` stacks I think it would be quite *ugly* to fake `pc` as well in-kernel (maybe it's not even practical to do this). So maybe `bpftrace` should instead get the stack but only the first entry? I'm not sure how much of an impact on the BPF code size this would be though...

[2018-10-30 20:54] cyphar commented on #68
I think `bpf_get_stack` (as opposed to `_get_stackid`) would let us just fetch the top-most entry of the stack...

[2018-10-30 23:29] cyphar commented on #161
Yeah, that looks nice -- though of course the changes to `bpftrace`'s CMakeLists.txt are probably a bit more drastic.

[2018-10-31 19:41] caringi commented on #161
@cyphar the changes aren't so drastic... :)

https://github.com/iovisor/bpftrace/pull/227

For that to work my previously mentioned bcc tools modification is needed (just the installation of some extra bcc headers files)...

[2018-11-01 10:39] mmarchini commented on #24
This is possible today with `{ system('kill -9 %d\n', pid); }`, but I'm guessing in the security example you gave this should be a synchronous operation, right?

[2018-11-01 17:28] tyroguru opened #228 "exit() function bypasses END probe processing"
END probe processing is bypassed when the tracing session is terminated with a call to the exit() function:

[code]

As expected, if I terminate the session with a `<Ctrl-C>` then the END probe is processed and nothing is printed.

The documentation isn't explicit on the behaviour of END processing in this case but I think it feels more natural for END probes to be processed on a controlled exit r

[2018-11-01 21:32] Birch-san opened #229 "`make -j8` fails with "virtual memory exhausted""
I suspect the refactor https://github.com/iovisor/bpftrace/commit/029717bfd62265659993d5fc8e6847828b827fcb has resulted in a more parallel compile.

The downside is that I can no longer build bpftrace with `make -j8`.
Error:
**virtual memory exhausted: Cannot allocate memory**

`make -j4` seems to work, though.

[code]

[2018-11-02 12:33] tyroguru opened #231 "regression: segv with invalid probe names"
It looks like the fix for #12 introduced a fairly serious regression when parsing invalid probe names:

[code]

We walk off the end of the array when we don't match a probe as 'sizeof(PROBE_LIST)' returns the size in bytes of the PROBE_LIST array and not the number of elements as was intended.

The fix is to either simply do 'sizeof(PROBE_LIST) / sizeof(*PROBE_LIST)' or, preferably, use a containe

[2018-11-02 15:07] tyroguru opened #232 "segv when maps keyed with 1 or 2 byte integers"
If a map is keyed with either a 1 or 2 byte integer value then we segv when printing the map:

[code]

We are attempting to fetch a stack trace when we are keying by an integer! The reason is that `MapKey::argument_value()` only handles integers that are 4 or 8 bytes in size and as there is no break statement in the switch we fall through to call `get_stack()`.

An initial fix is to simply handle

[2018-11-04 12:20] alban opened #233 "Documentation: explain how to get out parameters"
Some syscalls have "out" parameters:
- the "addr" parameter in `accept4()`

It's not easy to capture them in a kretprobe or in a return tracepoint. We could have an example to show how to save the address of the out parameter in a BPF hash map, indexed by the tid.

[2018-11-04 22:46] #61 closed

[2018-11-04 22:46] ajor commented on #61
I believe this is no longer required - reopen if that's not the case!

[2018-11-06 13:44] tyroguru opened #234 "probes should have a default action if none are specified"
Probes should have a default action if one isn't specified as it's super convenient when you just want to see if a particular probe site is being hit. At the minute if no actions are given we get an error:

[code]

We should be able to do something like DTrace does:

[code]

[2018-11-06 16:07] brendangregg commented on #234
Yes, I'd already been thinking of a few things to do.

Here's ftrace's default fields:

[code]

And `perf script`'s default fields (on 4.15):

[code]

I'd like to see something like:

[code]

Which would be very similar to ftrace/perf. I'm not suggesting this because it's ftrace/perf, but rather, ftrace/perf have evolved for years and I know their default outputs are proven for addressing a variet

[2018-11-06 21:03] brendangregg commented on #234
I should add: since we're using the perf_event_open ring buffers to pass per-event data from kernel to user, perf may already have most of these fields in the metadata for each event. If so (I haven't dug in), it'd be more efficient to use whatever we can from the metadata that's already included, before fetching things in BPF.

[2018-11-07 17:19] tyroguru opened #236 "Buffer mechanism required"
I think some thought needs to go into designing a buffering mechanism for trace output and I'm logging this issue as a placeholder for thoughts and ideas on this.

Currently it looks like we just throw output to stdout and are therefore at the mercy of terminal disciplines and output buffering. Take the following trivial example:

[code]

We never see the "Hello, World!" output until the bpftrace

[2018-11-08 15:50] tyroguru opened #238 "SIGABRT generated when args contains members with bool type"
If we try keying a map using any `args` member whose type is a`bool`  a SIGABRT is generated:

[code]

The top few frames:

[code]

In we look at the `stype` struct in frame 2 we see its size is 0 which leads to the abort:

[code]

This reason for this is because `clang_parser.cpp/get_sized_type()` is missing handling the clang `CXType_Bool` type so we default the type size to be 0.

I'll push a f

[2018-11-08 17:16] tyroguru opened #240 "enforce_inifinite_rlimits() needs tidying up"
This is a small task and a simple fix.

`main.cpp:enforce_infinite_rlimit()` has a few issues that need tidying up:

* The `getrlimit()` call is not needed and can be removed (at least I can't see a reason for its existence in the current form of the code).
* If it was to stay then the error message needs changing - 's/set/get' in that error string.
* Do the `struct rlimit` initialisation when it

[2018-11-08 22:10] ajor commented on #240
What was this code needed for anyway? I thought BCC handled the rlimit stuff for us

[2018-11-08 22:14] ajor commented on #236
Not sure if this would come under the same ticket, but some kind of rate limiting on output would be good too. If I run a script like `tracepoint:sched:sched_switch { printf("hi\n") }` then the printfs are happening so frequently that my `^C` isn't registered and I have to `kill` bpftrace manually.

[2018-11-08 22:34] ajor commented on #238
Fix merged

[2018-11-08 22:34] #238 closed

[2018-11-08 23:00] ajor commented on #229
Build times have also noticeably increased after that change. I just wanted the tests in separate files - they don't necessarily have to be in separate compilation units as well.

One possible solution would be to have a master `codegen.cpp` test file which just looks something like:
[code]
to bring them all back into a single compilation unit while remaining in separate files.

Other ideas welcom

[2018-11-09 01:30] Birch-san commented on #229
Certainly that'd fix the build speed and the memory exhaustion.

But it'd be nice to find a way to salvage it in its current state, so we get concurrency and so that less output gets invalidated when we edit a single test.

Presumably it's really heavy to pull in common.h, and the work is redone for every single test. I wonder if there's a way to extract a smaller subset of that header for the tes

[2018-11-09 19:07] jasonkeene commented on #234
I am in favor of this but are you worried at all that someone might forget to add a comma with multiple probes?

[code]

Many examples put each probe and filter on their own line. If this were the case forgetting the comma would be a valid program where `highFrequencyProbe` fires for each event and outputs data that is written to stdout. That seems like a land mine waiting to blow up on someone.

[2018-11-09 19:17] jasonkeene opened #242 "Allow USDT probes to specify PID vs path"
It seems a lot easier for the user to specify the PID for USDT probes vs the path to the binary. This is especially relevant with containers where often it is difficult to resolve the path to the binary from the host and from what I can tell you have to be in the same mount namespace as well.

There is a function in libbcc for this:

https://github.com/iovisor/bcc/blob/ec3fe90b9f8116cb6d8eec940015

[2018-11-09 19:46] mmarchini commented on #242
USDT needs a lot of usability improvements. We should make them work similarly to [bcc/trace](https://github.com/iovisor/bcc/blob/master/tools/trace.py). Another limitation we have today is that USDT providers must have the same name as the binary today, which doesn't make sense.

[2018-11-09 20:52] jasonkeene commented on #242
Ah, that would explain why I wasn't able to get `libstapsdt` demo to work, I didn't call the provider `demo`.

[2018-11-10 01:53] bolinfest opened #243 "Document unroll()?"
Support for `unroll()` was added in https://github.com/iovisor/bpftrace/issues/9, but I can't find any mention of it in https://github.com/iovisor/bpftrace/blob/master/docs/reference_guide.md. Is it just not ready to be advertised yet?

[2018-11-10 02:48] bolinfest opened #244 "TextMate grammar / VS Code extension?"
I started to create a VS Code extension for bpftrace files. Currently the only thing it includes of any significance is a TextMate grammar:

https://github.com/bolinfest/bpftrace-vscode/blob/master/syntaxes/bpftrace.tmLanguage.json

This is my first TextMate grammar, so I'm sure it's terrible, but at least `.bt` files look much nicer in VS Code now:

![image](https://user-images.githubusercontent.

[2018-11-10 16:03] dalehamel opened #245 "Networking tracing limitations"
I noticed that there is already an issue for https://github.com/iovisor/bpftrace/issues/30, which I believe would help some here, but isn't the whole solution.

A number of the network tracing tools implemented in bcc have not been implemented in bpftrace (tcpaccept, tcplife, etc). It looks like there are two issues here:

1. Obtaining the data in the first place, given limitations of bpftrace's s

[2018-11-10 19:36] jasonkeene commented on #242
It seems like this issue was already mentioned here: https://github.com/iovisor/bpftrace/blob/c0dbeaf50b94b15167ab291546be0862c5b7578d/src/main.cpp#L151

[2018-11-10 22:25] ahupp opened #246 "ustack not symbolicated if traced process exits first"
I have process that allocates once and then sleeps:

    #include <unistd.h>
    #include <stdlib.h>

    int main() {
      void* a = malloc(2);
      sleep(1000);
      return 0;
    }

And I trace it with this command:

    sudo bpftrace -e 'uprobe:/lib64/libc.so.6:malloc /comm=="test_malloc"/ { @[ustack] = count(); }'

If I exit test_malloc first before exiting bpftrace, I get unsymbolicated o

[2018-11-11 22:47] #225 closed

[2018-11-12 13:10] cyphar commented on #101
Saving the stack trace was NACKed by upstream. However, I've figured out how to make the unwinders produce reasonable stack traces... but unfortunately this doesn't produce identical traces to syscall entry (my original idea was flawed but with the new code could be useful).

So yeah, this requires a bit more work.

[2018-11-13 17:10] tyroguru opened #250 "Intermittent abort generated from find_empty_key()"
I haven't been able to characterise this problem very well yet but the following script intermittently generates a SIGABRT owing to find_empty_key() throwing an exception:

[code]

The stack is:

[code]

We throw in `perf_event_printer()` but this is just rippling up the exception thrown in  `find_empty_key()`.

[2018-11-13 19:22] brendangregg commented on #245
Looks like it's an issue with union parsing. Trying to reduce this to something simpler to test:

[code]

That hits:

[code]

But should work. I think only @ajor so far knows how the struct parsing works.

As for #30, that's straightforward to add. I'd start with how, say, `usym()` is implemented: which stores the binary data, then userspace identifies that Type::usym needs to be run through resol

[2018-11-13 19:24] brendangregg commented on #245
BTW, I like your tool. We should definitely get it working. It's so nice to see all the probes, arguments, and logic in one screen. Would even fit on a slide.

[2018-11-13 21:22] brendangregg opened #251 "CommandLine Error: Option 'help-list' registered more than once!"
Just did git pull and build, and got:

[code]

llvm-5.0 system.

[2018-11-13 21:53] brendangregg commented on #223
I see the same thing. But check this out (switching to `perf`):

[code]

ru is NULL. Which, looking at the man page, is allowed for wait4().

So I think my and your script is dereferencing junk at NULL.

I'd like to add a test for this:

 /args->ru != 0/

but bpftrace can't treat casts as ints yet (if there isn't already a bug on this, we should file one).

Here's a workaround -- accessing the arg

[2018-11-13 21:59] brendangregg opened #252 "casts should be ints if needed"
From #223 , we wanted a way to test whether args->ru was NULL. But casts can't currently can't be treated as ints.

Either these should work:

[code]

Or, these should work:

[code]

[2018-11-13 23:16] dalehamel commented on #245
Thanks, I'll be happy to share the completed version once it is done, of course. We were able to use it to detect some issues today even without the connection info, so seems to be working.

Yeah, my initial guess was that some pretty special handling is required when importing headers and that unions weren't being handled correctly, but I don't know where this code is so can't confirm.

I'll take

[2018-11-14 06:39] Leo-Yan commented on #251
I got another LLVM error as below:

root@debian:/mnt/linux-kernel/bpftrace# ./build/src/bpftrace
: CommandLine Error: Option 'disable-inlined-alloca-merging' registered more than once!
LLVM ERROR: inconsistency in registered CommandLine options

[2018-11-14 07:12] dalehamel commented on #245
It looks like these are actually getting parsed here:

[code]
I notice right away that the struct fields i'm looking for are showing up as anonymous, where as the ones that work (skc_family, skc_state) show up without this. It seems that this is showing up as the actual string identifier, so maybe these idents are getting attached to a struct with a key based on `sock_common::(anonymous at include

[2018-11-14 07:36] dalehamel commented on #245
So the name is being overridden [here](https://github.com/iovisor/bpftrace/blob/master/src/clang_parser.cpp#L238)

And the name is coming from [clang_getTypeSpelling](https://github.com/iovisor/bpftrace/blob/master/src/clang_parser.cpp#L234)

The definition for this function [calls getLangOpts()](https://github.com/llvm-mirror/clang/blob/8bf07130276f736f15ff2bd346c604a17cd6cc85/tools/libclang/CXTy

[2018-11-14 09:06] dalehamel commented on #245
I have a hack that does the above (see gist) but the values that it returns are empty. I would expect that if I look at `skc_portpair` and print it as hex, I should see the integer representation of the port pair, but I don't see anything.

It might be that the values just can't be read for a reason I don't understand, I'll need to understand how this `structs` dictionary is used by bpftrace, but

[2018-11-14 09:38] tyroguru commented on #245
Hey Dale - BTF is the new type subsystem for BPF that merged in 4.18. I've yet to have a good look at it but I expect it's a compact type representation suitable for the kernel (similar to the goals of Solaris' CTF type subsystem I would think). Obviously, having an first class type subsystem available for use will be fabulous.

(On a side note, we need DWARF support for userland but that's a whol

[2018-11-14 15:29] dalehamel commented on #245
thanks for the overview @tyroguru, I'll see what I can find to read about it. Do you have any familiarity with the current struct parsing limitations? Why is the DWARF support needed? It looks like the BTF comment in the reference doc is from Brendan Gregg, and that @ajor has been the only one to touch the current `clang_parser` code.

I'm trying to determine if this is something that can / should

[2018-11-14 18:08] mmarchini opened #253 "Allow running bpftrace with an optional command"
Running bpftrace with an optional command is useful when tracing an application in development environments and you want to trace only a specific process since it started. We could either receive the pid of the process as an argument (also related to #18), or it could filter the probe as if `-p PID` was given.

For example: `sudo ./bpftrace -e 'kprobe:do_nanosleep { printf("[%d] tick\n", pid); }'

[2018-11-14 18:12] mmarchini opened #254 "kprobe/tracepoints don't take `-p` into account"
When running `sudo ./bpftrace -p 1234 -e 'kprobe:do_nanosleep { printf("[pid] tick %d\n", pid); }'`, a user would expect only process 1234 to be traced, but all processes are being traced when attaching to kprobes and tracepoints. Not sure if this is a feature limitation (in which case we should warn users when they use -p with kprobes and tracepoints) or a simple fix.

[2018-11-14 18:17] dalehamel commented on #245
I have a more complete theory as to why this is not working based on my debugging / reading through the code.

I believe the issue with getting these values is that, because they are anonymous structs / unions, they do not actually have a 'field' value associated with them.

For this reason, the type 'struct' isn't ever detected, and they are being handled incorrectly as if they are integer types

[2018-11-14 18:55] tyroguru commented on #245
@dalehamel - sounds like you're having fun with this anyway :-) . No, I can't provide any authoritative appraisal of the current situation you find yourself in so sorry about that. BTF only merged in the 4.18 kernel so it's very new but that will hopefully provide full typing for the kernel that can be integrated into bpftrace. DWARF support is needed for userland type support. It is the de-facto

[2018-11-14 18:59] dalehamel commented on #245
Ah i see, so this would make it possible to say, deal with various userspace types / get values from userspace code in a similar way to how it is done in the kernel, if I understand you correctly.

No worries, I think I've got a decent grasp of the problem now - that anonymous unions/structs are the issue with the current parsing approach. I believe that this is a legitimate bug in the parsing, an

[2018-11-14 19:10] brendangregg commented on #245
Just a comment on user-land type support (not kernel):

- DWARF works, and we could support it at some point
- BTF will probably change this space
- USDT probes may allow type support in the future (@mmarchini will talk about this at LPC on Thursday)
- I think a practical workaround in many cases would be people declaring a few structs in their script that they use, or create a header file for the

[2018-11-14 19:21] tyroguru commented on #245
I completely agree @brendangregg that the workaround of including structs in scripts works but that is exactly that, a workaround. That becomes pretty untenable in big userland code bases where the code is more complex (at least in layout) and much larger than kernel code bases. Importing header files becomes a gigantic pain in the butt and past experience shows that just doesn't work.

Not sure w

[2018-11-14 19:30] dalehamel commented on #245
Ditto, found out about it just yesterday and was quite disappointed, looks like there's lots of really cool eBPF talks this year. Hope they record them!

To the actual problem at hand in this issue though, I'm quite convinced I understand the problem, but I've run up against this foreboding warning in the dev docs:

That seems to be the problem here, I believe that GetElementPointer is returning t

[2018-11-15 02:52] mmarchini commented on #251
Introduced by 56fdbc0ac5ac4a92cea2f9aab5cc246b33498964. Trying to find a fix, otherwise, I suggest we revert it.

[2018-11-15 03:04] mmarchini commented on #251
`find_library(found_LLVM LLVM)` is returning not found, thus we're taking the wrong path when building and we're not linking against LLVM correctly.

[2018-11-15 05:11] dalehamel commented on #245
After all this... I believe this might actually be a simple fix.

It would appear that the offsets are just calculated incorrectly for anonymous structs, because they have a different parent than the other members of the "root" struct. Using `clang_getCursorSemanticParent`, followed by the existing mechanisms to resolve this to a printable name, I can see the relative distance to the `sock_common`

[2018-11-15 20:36] #251 closed

[2018-11-16 02:59] dalehamel opened #257 "Anonymous struct members cannot be traced"
As I discovered while trying to debug https://github.com/iovisor/bpftrace/issues/245, the current bpftrace implementation cannot trace any fields of a structure whose membership is defined as part of an anonymous structure.

The expected behavior of C is that a structure defined as such:

[code]
Should be able to be accessed such as:

[code]
That is, that despite being a member of an anonymous str

[2018-11-16 03:01] dalehamel commented on #257
@ajor as you've written most of the struct parsing code, I'll ping you here - sorry for the multiple pings. I tried to distill the rather long and mostly unrelated discussion in #245 to something specific to the struct handling.

I hope i'm missing something or that you'll be able to provide some insight in how to tackle this problem of not being able to reference members of an anonymous struct, a

[2018-11-16 21:34] dalehamel commented on #257
Edit to the above - it appears the 0'd out fields were just due to the function I was trying to trace, i switched from `inet_accept` to `inet_csk_accept`, and the fields are now populated.

The problem of the offset calculation still remains, but at least I now know that we *can* access this data.

[2018-11-18 17:00] caringi commented on #250
@tyroguru I think this PR https://github.com/iovisor/bpftrace/pull/256 fixes this problem, right?

[2018-11-18 18:31] #243 closed

[2018-11-19 12:09] tyroguru commented on #250
@caringi - no, this is a different issue. This one is quite sporadic - it just took me several minutes of running the original test I gave to hit this with todays master (which includes your fix for #256
- commit 8f7f8214d7dd7bc25b7740a3c0e9a580a89e0244). Periodically, find_empty_key() fails and that's at the bottom of this.

[2018-11-19 13:50] tyroguru opened #259 "zero() carnage"
There are a few problems when applying the zero() builtin to maps with different aggregating functions.

if you try and zero() a stats() or lhist() map, bpftrace hangs indefinitely in the following stack and has to be killed:

[code]

If you try and print() a previously zero()'d map (obviously not stats() or lhist() because of the above) then we get garbage in the map. The following output example

[2018-11-19 16:31] tyroguru opened #260 "Error with BEGIN probe containing a map"
If we use a BEGIN probe that contains a map we fail to attach/compile the probe and generate an incorrect error message:

[code]

[2018-11-19 17:35] tyroguru opened #261 "min() doesn't handle negative values"
The min() builtin function doesn't handle negative values:

[code]

[2018-11-20 16:55] navytux commented on #252
yesterday I got confused by jumping to wrong semaphore declaration in `linux/rwsem-spinlock.h`. The generic rw_semaphore is in `linux/rwsem.h` and there count is `atomic_long_t` which is a structure. The following bpftrace program thus works:

[code]

sorry for the noise.

[2018-11-21 14:10] dalehamel commented on #245
I've figured out the issue with anonymous structs / indirect fields and have a PR up for review (https://github.com/iovisor/bpftrace/pull/262).

I'm also taking a look at fixing https://github.com/iovisor/bpftrace/issues/30 now that I have an easy way to get ipv4 addresses, and want to see them printed nicely instead of in hexadecimal. I'll see about getting a PR up for that as well.

Unfortunatel

[2018-11-21 17:49] caringi commented on #219
Same problem for Fedora...

[2018-11-22 22:15] #257 closed

[2018-11-23 04:19] dalehamel commented on #30
With https://github.com/iovisor/bpftrace/pull/262 merged, I now have a practical reason to implement this support so I'm going to take a crack at it. My early attempts are crashing, I suspect a bug in codegen. Down the rabbit hole I go :rabbit: .

I noticed that bpftrace supports bitwise operations, but not hex literals (as far as I can tell). A quick and dirty way to translate the existing (now p

[2018-11-23 04:53] dalehamel commented on #30
I noticed in https://github.com/iovisor/bpftrace/issues/59 that hex literals are permitted, I guess they just have to be declared as a variable explicitly.

I was able to put together a way to print ipv4 addresses, but uses up 4 printf fields, so it'll mean using multiple printfs per line, but it'll get the job done in the meantime as a reasonable workaround:

[code]

Sample output:

[code]

[2018-11-23 05:14] dalehamel commented on #245
Using a hex/bitshifting workaround, I was able to do a proof-of-concept for `tcpdrop`:

[code]

So now that #262 has been merged, more basic network tracing tools like `tcpaccept` should be able to be implemented in bpftrace using a workaround like this, until #30 has been implemented.

[2018-11-24 01:48] dalehamel commented on #245
I've done some basic ports of several of the tcp* utils from iovisor/bcc using the recently merged indirect struct fields patch, and the hex/bitshifting approach to ipv4 parsing.

https://gist.github.com/dalehamel/2b34a12e66c1975345b7582911db6a0f

Currently implemented:

* tcpacceptqsnoop.bt (tcpaccept.py + backlog info)
* tcpdrop.bt (tcpdrop.py, ipv4 only)
* tcpconnect.bt (tcpconnect.py, ipv4 onl

[2018-11-24 16:06] ajor commented on #30
Hex literals are meant to be fully supported in bpftrace - this program works for me without first assigning to variables:
`BEGIN { printf("%x\n", 0x4567 & 0xff) }`

[2018-11-24 16:13] dalehamel commented on #30
@ajor hmm yes you seem to be right. I was getting a syntax error earlier but it might have due to the syntax I used for the bitwise operators, and when I switched to variables it was fine. Perhaps I was on an old branch of bpftrace?

Either way, yes you're correct, hex literals seem to be working just fine.

[2018-11-24 16:43] dalehamel opened #266 "Sporadic crashes during header parsing (static bpftrace, alpine linux linking musl)"
There seems to be a bug in header parsing.

Here is the debug output during the crash:

[code]
Note that the code continues, to execute, but it lacks the definition of the struct `sock` since it never seems to be parsed (so the program doesn't crash per-se, it catches the error and continues only to fail execution later).

Here is the backtrace from gdb:

[code]

And here is the script that crashe

[2018-11-24 17:02] dalehamel commented on #266
Interestingly, `input` appears to be the same in both the crashing and non-crashing version:

Crash:
[code]
No crash:
[code]

[2018-11-24 17:42] dalehamel commented on #266
Singe-stepping into `clang::CIndexer::getClangResourcesPath`, It looks like the crash is happening at https://github.com/llvm-mirror/clang/blob/master/tools/libclang/CIndexer.cpp#L74 when trying to access  `info.dli_fname`

Here is the crashing version:

[code]

And here is the non-crashing version:

[code]

[2018-11-24 18:35] dalehamel commented on #266
If i were to hazard a guess here, I'd say that the crash is related to musl's implementation of `dladdr` https://github.com/bpowers/musl/blob/master/src/ldso/dladdr.c

It seems to always return zero... so I'm not sure how this sometimes succeeds and sometimes fails.

Perhaps the memory offset (of something in the bpftrace process image) is affected by the amount of memory allocated to the script b

[2018-11-24 18:44] dalehamel commented on #266
Yes, both ubuntu and alpine it seems to be using libclang. For ubuntu, I [followed the instructions](https://github.com/iovisor/bpftrace/blob/master/INSTALL.md#ubuntu) precisely.

Ok, somewhat glad it's not just me as that should mean it's pretty easily reproduced. I was also a bit worried it might be related to my patch, but now I don't think so.

If my theory is correct, the related code here in

[2018-11-24 18:52] ajor commented on #266
Yeah, looks like you're right about it not being related to the Clang version. It's also only the static CI build that shows these errors, not the dynamically linked LLVM5 one.

[2018-11-24 18:57] dalehamel commented on #266
I'd need to compare the cmake flags vs another distro, but nothing jumps out as me as particularly special about how alpine is building clang https://git.alpinelinux.org/cgit/aports/tree/main/llvm5/APKBUILD#n79

Their patches are also pretty mundane, I don't think any of these add any "secret sauce" to a static clang. The only thing that jumps out is https://git.alpinelinux.org/cgit/aports/tree/ma

[2018-11-24 19:50] dalehamel commented on #76
Related to https://github.com/iovisor/bpftrace/issues/266, it would be great to also run a static build from ubuntu as it would link libc instead of musl, which seems to be the cause of crashes for the bpftrace static binary.

[2018-11-24 21:03] brendangregg commented on #245
Nice work. It'd be good to have these in bpftrace/tools. Although you'll need to write example files and man pages for each. Plus I'd follow the top block comment style from other tools, eg:

[code]

There's also an important line in the man page for these bcc ports:

[code]

That lets us write these nice short bpftrace tools, and defer complex and niche options to the bcc versions.

Plus, it help

[2018-11-24 21:18] dalehamel commented on #245
That's definitely my intention. I'll get a PR started for that and follow your style / doc recommendations. I believe there's also a guide for contributing tools, I'll give that a read as well.

I'll get the initial versions of these tools checked-in as-is, but document that they are waiting on the `inet_ntop` support as described.

Yeah I believe I know where the changes are needed and already st

[2018-11-25 06:22] dalehamel opened #268 "Proposal - "readbuf" builtin or similar"
Some applications require examining kernel state that is not conveniently stored in struct form.

For instance, tcpdrop.py [implements a mechanism](https://github.com/iovisor/bcc/blob/master/tools/tcpdrop.py#L80-L95) to read from the socket buffer, using the struct members of the socket buffer to dynamically compute the offset within the buffer.

For use cases like this, it would be great to have

[2018-11-25 06:55] dalehamel commented on #245
@brendangregg I've added these scripts and ported over their associated examples and docs from bcc, and revised them to (I think) meet the standards you indicated above, I think it's ready for a review at https://github.com/iovisor/bpftrace/pull/267.

I've also opened https://github.com/iovisor/bpftrace/issues/268, which I think is the last piece of the puzzle to be able to close this out, as this

[2018-11-26 11:44] fntlnz commented on #29
This is ultimately useful, I was trying to access `vfs_write` using an inline struct but doesn't seem to be possible to print the full path right now

#include <linux/path.h>
#include <linux/dcache.h>

struct file {
	struct path *f_path;
}

kprobe:vfs_write
{
  $file = (file *)arg0;
  $file_name = str($file->f_path->dentry->d_name.name);
  printf("written file: %s", $file_name)
}

[2018-11-26 12:05] tyroguru commented on #29
@fntlnz - a path() call to print the absolute path of a file would be fantastic. You actually raise something here that I'm looking at now. The `vfs_{read()/write()' calls take a 'struct file' as their first parameter and it looks like its kernel definition isn't exported so what you would really like to do is:

[code]

However, bpftrace currently doesn't let you cast to an integral type. I'm look

[2018-11-26 13:21] tyroguru commented on #29
@fntlnz - your script won't work as it is anyway as you need to pad out the first 16 bytes as explaiend above. Something like this will work:

[code]

[2018-11-26 13:44] fntlnz commented on #29
@tyroguru after some reading of kernel source code I've been able to resolve that struct in this way

[code]

Output:

[code]

[2018-11-26 13:54] tyroguru commented on #29
@fntlnz - sigh... My bad - I was missing the declaration of 'struct file' in fs.h and only picking up the forward declaration provided in file.h. Thanks for the pointer.

[2018-11-26 16:53] caringi commented on #201
Fixed... https://github.com/iovisor/bpftrace/pull/256

Closing it.

[2018-11-26 16:53] #201 closed

[2018-11-26 18:18] caringi opened #270 "bpftrace -l (without search expression) doesn't list tracepoints"
[code]
[code]

[code]

I'll send a fix soon.

[2018-11-26 20:31] dalehamel commented on #268
Related - this is likely also the mechanism we'd want to use to read ipv6 addresses, as it looks like the underlying ipv6 address is stored in an array https://elixir.bootlin.com/linux/v4.14/source/include/uapi/linux/in6.h#L38

Attempting to access it currently doesn't work, as it doesn't resolve to a normal integer type.

Not totally sure what we will want to do for accessing these ipv6 values, b

[2018-11-26 20:32] dalehamel commented on #30
Accessing ipv6 addresses in the kernel is going to be a bit tricky https://github.com/iovisor/bpftrace/issues/268#issuecomment-441787339

[2018-11-26 23:38] dw opened #272 "Negative nsecs"
bpftrace looks it has everything needed to instrument the effects of COW fork on parent and child, but I'm falling down on the basics. This is probably a documentation request more than anything..

The value of 'nsecs' does not seem stable with respect to 'interval:s:1'. If I assigned "@start = nsecs" in BEGIN, "nsecs - @start" from the interval may show a reasonable value, or randomly a negative

[2018-11-27 00:05] dw commented on #272
PEBKAC - integer overflow, %ld solves the problem :) Thanks anyway

[2018-11-27 00:05] #272 closed

[2018-11-27 19:51] dalehamel commented on #30
I've completed an initial implementation of this in my PR #269, which I think is now ready for review.

[2018-11-27 20:54] jasonkeene opened #273 "Allow attaching uprobes to address"
It would be nice to be able to attach uprobes to specific instructions. My use case is being able to disassemble a go binary and attach to the ret instructions to measure function exit. Something like this:

[code]

[2018-11-27 21:38] dalehamel commented on #187
The current approach is basically just fixture comparison, and as I understand it we only see differences because different versions of LLVM may generate different IR.

What if we only ran the codegen tests against a "bespoke" image, so that we could hold the LLVM version constant, and have other pipelines filter out codegen tests. This would also be helpful when generating new tests, as this "bes

[2018-11-28 02:17] dw opened #274 "Kprobe LINUX_VERSION_CODE issue"
I can see what's broken, but I'm not sure how it's supposed to work.

- Start with Ubuntu 18.04 default kernel, install dbgsyms and headers
- Install bpftrace deps per INSTALL.md
- Build bpftrace, observe general success
- Attempt to use 'cgroup' variable, notice it was introduced after 4.15, programs on earlier kernels fail to load.
- Go ferreting for newer Ubuntu kernel, find https://launchpad.n

[2018-11-28 02:27] dalehamel opened #275 "Support for Array type"
The clang parser currently returns type "none" for arrays, which prevents struct fields that are arrays from being accessed.

It looks like eventual support for this is intended, per this comment https://github.com/iovisor/bpftrace/blame/master/src/clang_parser.cpp#L119-L120, made in this commit https://github.com/iovisor/bpftrace/commit/2f0c01dff636255736fb3998c1a20a351507e006, but it's not reall

[2018-11-28 02:37] dw commented on #274
Options seem to be:

- Prefer self-built kernels, problem avoided
- Blame Ubuntu, weird mismatching uname vs. EXTRAVERSION
- Blame bpftrace, shouldn't be trying to synthesize that constant(?). Find a better approach

This might be helped by teaching cmake to add /lib/modules/`uname -r`/build/include to the front of the include search path, assuming that won't cause something else to explode. At le

[2018-11-28 02:38] dalehamel commented on #30
In #275 I indicate a possible approach for handling array types, which is the issue with ipv6 addresses right now.

This would also allow for accepting `Type::array` as the second field to the `ntop` function in the semantic analyzer, which could then just copy the bytes down to `resolve_inet` directly, and I think is the cleanest way to get ipv6 support.

[2018-11-28 04:55] dalehamel commented on #274
Looks very similar to https://github.com/iovisor/bpftrace/issues/206

[2018-11-28 10:48] tyroguru opened #276 "bpftrace -l should support '-e' or supplied script"
bpftrace's list option ('-l') should list the probes that would be enabled if a script is supplied or en enabling with the '-e' option'. Currently it just dumps available probes regardless:

[code]

It would be much more helpful it it worked like DTrace does:

[code]

Knowing what probes are going to be enabled is essential is very important especially with pattern matching.

[2018-11-28 17:26] dw opened #277 "Counting concurrently"
Given a simple Python script that calls `ioctl()` with garbage (so that it sticks out):

[code]

And a bpftrace script using every available means to count those events:

[code]

On an 8 thread machine, we see that:

- With a single thread, all counts appear to more or less agree - roughly 500k calls/sec.
- With 2 threads, runscalar and runcount mostly agree that roughly 800k calls/sec are happeni

[2018-11-28 21:43] dw commented on #277
In the process of hunting for another variant, I found yet more strange behaviour:

[code]

`$acc` has a garbage value unless the `print(@count)` is moved above the `unroll()`.

[2018-11-30 02:13] mmarchini opened #278 "ustack is not translating source position when information is available"
Tried to use uretprobe to find which path a function was taking, but `ustack` is not translating source positions in the stack (my process was running a debug build). It should be possible to translate source position when available (debuggers already do that).

[2018-11-30 05:45] mmarchini commented on #278
Related: https://github.com/iovisor/bcc/issues/1803

We should probably use `libdwarf` for that.

[2018-12-02 08:13] tekumara opened #279 "No ustack symbols for java process"
I don't get any symbols in user stack traces for my java program (I exit bpftrace before closing the program):

[code]

`write.java` looks like this:
[code]

I have a perf map in `/tmp` and java debug symbols installed (`sudo apt-get install openjdk-8-dbg`)

[code]

[2018-12-03 04:34] dw commented on #274
LINUX_VERSION_CODE for the running kernel should be available via /sys/kernel/notes (export of .notes section of running image), however my Ubuntu kernel lacks any such field, possibly some result of reproducible builds?

The .notes section of the vdso however *does* have it:

[code]

Then extract it:

[code]

Is pulling this value out of the in-process VDSO too elaborate? Seems it just needs a li

[2018-12-03 21:32] ajor commented on #244
Thanks, this is really cool! I think it'd be best to keep it in a separate repository from bpftrace, but we could add a link to your repo in the bpftrace readme

[2018-12-04 01:12] mmarchini opened #283 "hist/lhist support for `count` type"
`hist() only supports integer arguments (count provided)`.

[2018-12-04 05:23] dalehamel opened #284 "Support 128 bit types"
I have a working implementation of a solution to #275, but binops in bpftrace force integers to 64 bits, so I can't finish support for ipv6 in #30

In order to support ipv6, i need to have a way of combining the two 64 bit words that comprise the 128 bit ipv6 address to pass it to inet_ntop.

Ideally, I'd like to be able to read the bytes of the ipv6 address and just bitshift them over 8 bytes and

[2018-12-04 05:24] #268 closed, assigned to nobody

[2018-12-04 05:40] dalehamel commented on #245
With #269 and #285, i think much of the dominos are in place to resolve this issue, as I'll be able to finish off #267 to have inet_ntop, supporting ipv6.

In order to do that though, a solution to #284 is needed, as ipv6 addresses are 128 bit types which are currently not handled by bpftrace.

A combination of array indexing and custom struct fields should be enough to allow for casting raw socke

[2018-12-04 06:34] dalehamel commented on #284
For initial support, being able to store a 128 bit type within `Type::integer` would be great.

A minimal script to show this functionality would be:

[code]

[2018-12-04 06:39] dalehamel commented on #284
Technical issues I see so far:

* [ ] Add support for 128 bit types with `getInt128Ty` in src/ast/irbuilderbpf.cpp
* [ ] Add `CXType_UInt128` to `Type::integer` in clang_parser
* [ ] Add support for reading 128 bit segments to bpf probe read codegen, where it is often hardcoded to 64 bits.

To support actual operations on 128 bit types is a whole different ballgame, but this would at least allow p

[2018-12-06 16:55] mmarchini opened #286 "Flaky ustack behavior when process exits"
When trying to trace `libc:exit` and `libc:abort` to get the call stack responsible for a process exit or crash, the result is unreliable.

[code]

Sometimes the stack is ok (perf map symbols were translated, others weren't):

[code]

Sometimes the stack is untranslated (except for the last frame):

[code]

And sometimes we just lose the stack:

[code]

It also happens with other processes as well

[2018-12-06 17:02] mmarchini commented on #198
The problem doesn't seem to be restricted to predicates, using `if (comm == "bash")` doesn't work as well.

[2018-12-07 04:36] tjfontaine commented on #286
Solving this will be a challenge since symbol resolution is done in userspace by `bpftrace`/`bcc` and the process has exited, by the time `bpftrace` goes to resolve the symbols there's not much to be done.

`dtrace` attempts to provide some solutions for you in this space via `-c` and `-p` by attaching to the process -- but even then, in my experience the tracer can fail to resolve the symbols in

[2018-12-14 12:40] tyroguru opened #291 "'probe' builtin has problems with BEGIN/END probes"
[code]

[2018-12-17 19:15] mmarchini commented on #270
Fixed by #271

[2018-12-17 19:15] #270 closed

[2018-12-18 22:12] brendangregg commented on #30
About IPv6: passing a 128 bit integer is one way to do it, but did you try passing it as 2 x 64 bit integers? I did such packing with usym(), for example:

[code]

[2018-12-21 05:58] danobi commented on #198
I'm hitting this as well. Another test case (because more is always better):
[code]

[2018-12-24 22:47] #206 closed

[2018-12-24 22:47] #274 closed

[2018-12-24 22:52] brendangregg opened #293 "Better non-root error"
As non-root:

[code]

This is pretty confusing, and may be a bad first experience for newcomers.

I'd add a check for either geteuid() == 0, or whatever is the equivalent privileges/capabilities (CAP_SYS_ADMIN), and print a message that simply said:

"ERROR: bpftrace currently only supports running as the root user."

and then exiting, before we hit the rlimit errors.

[2018-12-26 11:49] williangaspar commented on #218
I replicated the behavior on my machine. It seems that the release executable is not calling BEGIN at all.
The problem does not happen on debug mode `./build-debug.sh`

[2018-12-27 21:04] danobi commented on #254
From reading the code, it looks like an intentional feature omission. Seems relatively straightforward to add, though.

[2018-12-27 21:12] danobi commented on #254
I take that back, it might be a little more involved. `-p` support for uprobe/usdt is straightforward, but support for kernel probes will probably involve modifying the AST.

[2018-12-27 21:14] brendangregg commented on #254
Yes, it's intentional, hence the usage message:

[code]

Should we change it and make it a kprobe/tracepoint filter? Then you couldn't write some programs: say I want to write a program that showed request latency using some USDT probes, broken down by resource latency types using tracepoints. Should be a great use case for BPF. But those tracepoints may not all fire in PID context (eg, I/O comple

[2018-12-27 21:39] danobi commented on #254
@brendangregg that plan sounds reasonable if we went through with it. After thinking about it a bit more, I'm concerned it might be a bit overkill.

If we were to change the behavior of `-p` to be a global PID filter (vs enable USDT on a PID), we would:
* break API
* support a potentially redundant feature, as users can already add a predicate. Furthermore, it would probably require more code path

[2018-12-28 21:35] brendangregg commented on #18
Added priority flag, as people keep asking. I think option (B) is the way to go.

[2018-12-28 21:43] #253 closed

[2018-12-28 21:43] #293 closed

[2018-12-28 22:53] brendangregg opened #298 "cpid builtin for child PID"
As a follow on from the -c option #297, this should work:

[code]

This will involve adding cpid as a builtin. It should return the child PID of the process launched in -c.

[2018-12-30 19:44] brendangregg commented on #279
I'd profile using perf, and see if Java stacks are visible there. It'll identify if it's a bpftrace/bcc problem or a Java problem.

[2018-12-31 21:02] #229 closed

[2018-12-31 22:00] #67 closed

[2019-01-01 20:54] Birch-san opened #305 "str() to support large strings"
(Discussion extracted from https://github.com/iovisor/bpftrace/pull/299)

This issue is to track "how could str() support kilobyte/megabyte/arbitrary string sizes?"

str() allocates strings on the BPF stack, so we reach the 512-byte limit very quickly (especially since we pay the toll again when printf() composes a perf event output buffer).

In fact, we're currently limited to tracing ~240-byte s

[2019-01-02 07:47] #199 closed

[2019-01-02 07:49] #18 closed

[2019-01-02 11:29] tyroguru opened #306 "Poor handling of incorrect spelling of 'syscalls' provider in probe spec"
This problem may be wider than the as described here. When tracing the exit(2) probe I misspelt the 'syscalls' provider component with 'sysalls' and the outcome is a real mess:

[code]

I would have expected a simple error message about a malformed probe specification or an invalid provider and not a bunch of implementation specific error messages.

[2019-01-02 16:53] #35 closed

[2019-01-02 19:35] brendangregg commented on #306
You're right, providers need better handling. Each needs a clause or a function to do an "is valid name" check. Like tracepoint_is_valid(), kprobe_is_valid(), etc.

[2019-01-02 19:57] brendangregg commented on #19
#18 merged, so we now have basic positional parameters ($1, str($2), $3, etc). I'm not sure we need these custom options, but we'll see if there is demand.

[2019-01-02 22:00] danobi commented on #198
Super annoying bug, working on this now.

[2019-01-02 22:30] brendangregg commented on #259
I think this was fixed by #265, closing.

[2019-01-02 22:30] #259 closed

[2019-01-02 22:34] brendangregg commented on #276
I never used that feature, I always read the script. :)

I'd look at the current implementation of -d, which prints out debug info but doesn't run the script, and create a similar mode of operation when -l is used with a program.

[2019-01-02 22:37] brendangregg commented on #84
Added priority tag as I expect this will be often expected.

[2019-01-03 12:18] mmarchini opened #312 "Supported Kernel versions"
On Travis, our runtime tests suite is broken (`63 tests [fail 49]`). I investigated it and the problem seems to be the older kernel version used by Xenial (which runs on kernel 4.4). This raises a question: which Kernel versions should bpftrace support?

[2019-01-03 14:59] vincentbernat commented on #76
The Debian bug has been fixed. I am able to compile bpftrace on Debian Sid using llvm 7.

[2019-01-03 15:02] vincentbernat opened #313 "Release management"
Hey!

I intend to package bpftrace for Debian. It would be nice if it was possible to get version numbers instead of just using git HEAD. This would ensure we would package a known working version and not something in the middle of a transition or with a known important bug.

[2019-01-03 15:11] vincentbernat opened #314 "Copyright assignment"
Hey!

During the switch from the Expat license to the Apache 2 license (in 4cc2e864a9bb), the only apparent copyright holder was removed. To correctly apply the Apache 2 license, a copyright assignment is needed, ideally at the top of each file, but something in the README would work too:

[2019-01-03 18:52] danobi commented on #313
+1, was just about to file the same issue.

[2019-01-03 18:54] danobi commented on #314
Curious -- would SPDX identifiers work?

[2019-01-03 19:18] brendangregg commented on #314
Sounds like the easiest approach is to put that notice in the README.

[2019-01-03 19:21] brendangregg commented on #312
Good question. A bunch of things, like stacks, tracepoints, and PMCs, won't work on 4.4. I'd go with 4.9 as a minimum. I can update INSTALL.md to point that out, and we can ditch Xenial (4.4) testing.

[2019-01-03 19:21] #306 closed

[2019-01-03 20:20] vincentbernat commented on #314
@danobi AFAIK, SPDX doesn't replace a proper copyright assignment (in each file or in some central place). However, it would help some distributions, including Debian, as the same work needs to be done in `debian/copyright`. However, this may be a burden for the project and, IMO, it is preferable to not have this information than having out-of-date or partial labeling.

[2019-01-03 21:37] brendangregg commented on #314
I can stick the text in the README, but who should the copyright be? Alastair? "bpftrace developers"? "iovisor"?

I took a look at bcc to follow their lead, but I couldn't find a master copyright line in there at all.

[2019-01-03 21:43] brendangregg commented on #314
Looks like bcc is copyright to PLUMgrid, a company that no longer exists:

https://metadata.ftp-master.debian.org/changelogs/main/b/bpfcc/bpfcc_0.7.0-2_copyright

So that's not helpful either. :)

I'm out of ideas. I'll submit a suggested PR with it copyright @ajor .

[2019-01-03 21:46] danobi opened #316 "Build warnings are turned off"
While doing some packaging, I discovered the cmake build has all the build warnings turned off: https://github.com/iovisor/bpftrace/blob/master/CMakeLists.txt#L8-L21 . Any reason for this? Can I turn them back on?

It catches a couple of harmless issues right now. However, we might get lucky in the future and have it catch some trickier bugs.

[2019-01-03 22:03] vincentbernat commented on #314
Change in #315 looks good to me.

[2019-01-03 23:49] gila commented on #209
I was trying to use `usym` today, and it suffers from the same bug I assume. `printf(....)` did not work when doing trying to use `usym(arg0)` (the first argument is a callback function). The workaround by using aggregations did work, however. Added the comment just in case and I was using commit 0a7dcadc8861e9eaa5483fa202bd6155a902dd14 on Ubuntu 18.04.

[2019-01-04 00:37] Birch-san commented on #209
@gila it's fixed in https://github.com/iovisor/bpftrace/pull/301; awaiting review.

[2019-01-04 16:36] gila commented on #209
@Birch-san Thanks. I've checked out your code and checked it out:

before:

[code]

after:

[code]

[2019-01-04 17:00] mmarchini commented on #316
Sounds good to me.

[2019-01-04 19:47] danobi opened #317 "Make `perf_event_printer` more type safe"
`perf_event_printer` currently handles printf-style prints by passing a bunch of `uint64_t`s reinterpret casted from the perf events ring buffer into `printf`. This is wrong for a couple reasons:

First, we have all the information we need to craft a type safe `printf` call (from `std::vector<Field>`).

Second, this will only "work" on 64-bit architectures. 32-bit systems will at best truncate the

[2019-01-04 21:06] brendangregg commented on #314
Should be fixed now.

[2019-01-04 21:06] #314 closed

[2019-01-04 21:21] #194 closed

[2019-01-04 21:23] brendangregg commented on #313
I think I have access to click the release button and create one. I'm hoping to hear from @ajor about his preferences here, but if he's out of touch for a while I don't want to block Debian packaging (it's really important) and I think we can figure something out.

The biggest thing to figure out is the version number. :-) I don't think we are at 1.0, because the dust hasn't settled on the languag

[2019-01-04 21:23] danobi commented on #209
Merged #301

[2019-01-04 21:23] #209 closed

[2019-01-04 22:03] danobi commented on #313
I agree that it should be < 1.0 Perhaps we should start one of those fancy github kanban project things to track what issues need to be resolved for a 1.0 release?

There's a number of things I think should be fixed, the build system downloading bcc for one.

[2019-01-04 22:04] danobi commented on #313
Whichever version number we choose, I think it'd be nice if we could run `bpftrace --version` and get a number spit out.

[2019-01-04 22:41] Birch-san opened #318 "Appetite for C++17"
Any thoughts on whether to update to [C++17](https://stackoverflow.com/questions/38060436/what-are-the-new-features-in-c17)?

We use the visitor pattern in a few places, so it'd be nice to have access to std::variant and std::visit. We had multiple implementations of IPrintable which I suspect could've been expressed as a std::variant (i.e. a type-safe union).

std::optional would be nice (this pr

[2019-01-05 06:48] vincentbernat commented on #313
I can complain here once the only missing thing is a version number. Currently, this is not the case until late next week.

[2019-01-06 07:42] brendangregg opened #319 "socket probe type"
This ticket is to track an idea: we don't have a probe type for attaching BPF to sockets (vintage eBPF style :-). Should we? What would the probe name consist of? The arguments?

[2019-01-06 09:53] brendangregg opened #320 "add uprobe library name lookups"
Instead of the full path to a library, I should just be able to use "libc", or, like what bcc uses with attach_uprobe(), "c".

Currently works like this:

[code]

This should also work as well (it currently doesn't):

[code]

[2019-01-06 23:34] brendangregg commented on #313
@vincentbernat first release https://github.com/iovisor/bpftrace/releases/tag/v0.8

[2019-01-07 12:44] mmarchini opened #322 "Add `--version`"
`bpftrace --version` should output the current version of bpftrace. Right now we're on version [0.8](https://github.com/iovisor/bpftrace/releases/tag/v0.8).

[2019-01-07 13:12] mmarchini commented on #161
Sounds reasonable to me, but as @cyphar pointed out in #227, right now bpftrace depends on several internal bcc symbols, so it might take some time to get to this state.

[2019-01-07 22:13] dalehamel commented on #275
@ajor @brendangregg any thoughts on this? I did an initial proof of concept pass on this in #285, but i think that it probably makes sense to have a bit more of a complete vision around how arrays should be handled before implementing anything, as you can't really take back language features.

[2019-01-07 22:53] brendangregg opened #323 "Add -l -v to list tracepoint arguments"
If I add a -v to -l, it should print arguments. Eg:

[code]

That should print the arg members that are accessible (with args->) from:

[code]

So I can stop cat-ing /sys. :)

Oh, Sasha already did this for bcc:

[code]

That output is perfect (just missing the "tracepoint:" probe type prefix).

[2019-01-07 23:07] brendangregg opened #324 "ksym() alias/replacement to sym()"
`kaddr()` and `uaddr()` are nice and symmetric. `sym()` and `usym()` are inconsistent. I keep wanting to use `ksym()` but mistake.

I'd add `ksym()` as an alias to `sym()`, then replace `sym()` with `ksym()` in all our docs and scripts. We could potentially remove `sym()` in the future.

[2019-01-07 23:08] brendangregg commented on #275
Thanks; I'd like to find a few use cases: some bpftrace one-liners that use some kernel array from kprobes, so we can see how we think it should work. I don't have one offhand.

I just dig into the syscall table, but this example is a bit horrible. The idea was to print more than just the syscall IDs:

[code]

Imagine if we could lookup that id in the syscall table (which seems to be `sys_call_tab

[2019-01-07 23:21] brendangregg commented on #275
LIKE A BOSS

[code]

[2019-01-08 17:16] williangaspar commented on #322
I guess it should print Copyright and License information along with the version. Do We have the version saved somewhere already? Like an environment variable or something.

[2019-01-08 18:54] williangaspar commented on #228
I and @mmarchini had a hack on it. We manage to make it work on kprobes, but intervals are nor working just yet

`bpftrace.cpp`

before
[code]

[2019-01-08 20:13] danobi commented on #161
I've implemented both (1) and (2) in #327.

[2019-01-08 21:32] dalehamel commented on #275
There are two examples that lead me to the want/need this:

1. When I was trying to implement ipv6 support for `ntop`, the bytes that hold the ipv6 address are stored as an array of 32-bit ints. Trying to cast them isn't practical, because the struct that holds them is enormous, and even when you do that they don't actually get dereferenced because the type `Constant Array` is explicitly ignored b

[2019-01-08 21:35] dalehamel commented on #324
Weighing in with my 2 cents - I agree.

It's more consistent with usym and is also more intuitive. bpftrace is also new enough (at least "in the wild") that changing this now won't be too bad in terms of compatibility. Aliasing would handle that concern, and the docs update should prevent `sym` from propagating too much.

This should also be a fairly trivial change codewise.

[2019-01-09 01:32] bobrik commented on #76
I managed to package bpftool with the following patch on llvm-6.0:

[code]

Assuming ephemeral build environment, this can be applied with:

[code]

Build requirements from llvm/clang side:

[code]

Build steps then:

[code]

Resulting binary also depends on `libllvm6.0` and `libclang1-6.0`:

[code]

Still seems like the proper way would be to reuse what BCC does as it seems to work out of the box

[2019-01-09 21:14] DavidVentura opened #328 "Error finding location for probe (usdt)"
I started playing with bpftrace and bcc tools, but I cannot get bpftrace to work with usdt probes. bcc's trace works fine.

Issue:

[code]

bcc on the same binary

[code]

example code from [here](https://lwn.net/Articles/753601/)
[code]

Using an uretprobe on the function works though
[code]

What am I doing wrong? I am on HEAD on both projects..

[2019-01-09 21:21] williangaspar commented on #261
@tyroguru, can you confirm if the bug still happening? I've tested on my machine and it is working.

[2019-01-10 00:37] fntlnz opened #329 "Filter tasks by pid namespace"
Following the idea of filtering tasks by cgroupv2 I'm writing this to explore the idea to add to bpftrace the ability to filter tasks based on their belonging to a specific namespace.

The easiest use case that comes to mind is the ability to use a pid namespace to determine wether a task should or should not be considered, let's see how it looks like when used in `bashreadline.t`

[code]

What I

[2019-01-10 11:44] tyroguru commented on #261
@williangaspar - my pull request #265 fixed this issue. I'll close this.

[2019-01-10 11:44] #261 closed

[2019-01-10 23:16] danobi commented on #323
+1, was just about to file an issue for this.

[2019-01-11 00:03] bobrik commented on #76
I'm still struggling to build a static binary version on Debian Stretch.

I end up with the following while linking `bpftool`:

[code]

[2019-01-11 11:30] mmarchini commented on #38
Closing since tests are passing on multiple LLVM versions now. Feel free to reopen if there is anything left to be done here though.

[2019-01-11 11:30] #38 closed

[2019-01-11 12:14] fntlnz commented on #329
@brendangregg WDYT?

[2019-01-11 16:31] bobrik commented on #76
I patched llvm build to ship with `libclang.a` to work around that already, so that issue is solved. The error doesn't seem to complain about that part.

[2019-01-11 17:48] brendangregg commented on #329
I don't understand the pid() call.

I haven't thought about it enough, but I would have guessed we could do something with positional parameters. Eg:

[code]

Where `nspid` was a builtin that returned the ID, eg 4026531836, and then we can pass that in on the command line:

[code]

So it becomes $1. Then the problem of parsing /proc/PID/ns/pid can be done at the shell.

Adding nspid, and nscgroup,

[2019-01-11 18:10] danobi commented on #161
Patch has landed. Closing out now.

Regarding gtest downloading, I actually think that's ok. In past projects, I've experienced nothing but pain from trying to make tests compile with every distro's outdated gtest package. For packagers, simply skip building tests. For devs, building tests will take a bit longer but it'll be well worth the sanity saved.

[2019-01-11 18:10] #161 closed

[2019-01-11 18:15] danobi opened #332 "RFC: removing docker build"
Purely exploratory issue. Is anyone using the docker build?

From what I can tell, distros prefer packaging without docker. Docker might be more convenient for newcomers to the project, but we're essentially supporting dual build systems. If we remove docker support, it could unify our efforts and make everyone happier in the long term.

[2019-01-11 18:21] fntlnz commented on #329
That makes sense @brendangregg , matching a parameter is really what we want.
I'm upgrading the issue to reflect this and will write some code.

Are you referring to the mount ns guard in bcc? https://github.com/iovisor/bcc/blob/c2e2a26b8624492018a14d5eebd4a50b869c911f/src/cc/ns_guard.cc

[2019-01-11 19:20] mmarchini commented on #332
Out of curiosity, what would change if we remove docker builds? I don't remember anything specific to docker builds in our CMakeList files.

Sometimes I use docker to build bpftrace with different llvm versions, but I wrote my own images. I think @williangaspar and @ajor are using `./build.sh`.

[2019-01-11 20:22] danobi opened #334 "Static builds broken"
#327 broke static builds.
[code]

[2019-01-11 20:22] danobi commented on #334
cc @bobrik

[2019-01-11 20:39] danobi commented on #334
It doesn't look like bcc ships a static library:
[code]

[2019-01-11 20:56] bobrik commented on #334
Some of the issues I've faced are in here: https://github.com/iovisor/bpftrace/issues/76#issuecomment-452525867.

[2019-01-11 21:13] danobi commented on #334
It actually looks like bcc builds a static library: https://github.com/iovisor/bcc/blob/master/src/cc/CMakeLists.txt#L64-L66 .

It would appear fedora is skipping packaging the static library: https://src.fedoraproject.org/rpms/bcc/blob/master/f/bcc.spec#_148

[2019-01-11 21:16] danobi commented on #334
I think you'll have to take it up with the fedora/ubuntu/etc packager. It's out of our control.

[2019-01-11 21:20] danobi commented on #76
@bobrik

What glibc version do you have installed? Best guess at this error is clang is trying to use a versioned symbol your glibc doesn't have.

[2019-01-11 21:38] danobi commented on #332
After looking at it more closely, I don't think much.

Oh yeah that does sound like a good use case.

[2019-01-11 21:38] #332 closed

[2019-01-11 21:41] brendangregg commented on #332
FWIW, I've never used the docker builds.

[2019-01-11 21:59] brendangregg commented on #329
I've since remembered that we do have this interface:

[code]

So my nspid builtin suggestion I think is like that cgroup builtin, and so far I haven't suggested an equivalent of that cgroupid() function (I'm not sure we need one if we pass it in via positional parameters).

I haven't touched ns_guard.cc. It looks like it could fetch namespaces via some user-level library calls, which would be use

[2019-01-11 23:07] brendangregg commented on #76
What's the path forward? Is this correct?:

- llvm7 on Ubuntu: it should now just work from the standard repository, as per @vincentbernat . We could update build instructions to recommend llvm7.
- llvm6 on Ubuntu: requires @bobrik 's patch. Does it make sense to upstream that with llvm6?

[2019-01-12 00:05] brendangregg commented on #139
This is pretty annoying since it is contrary to expected behavior. Adding priority tag.

[2019-01-12 07:43] vincentbernat commented on #76
llvm-7 is available in bionic-proposed. It seems it is scheduled for Bionic 18.04.2: https://bugs.launchpad.net/ubuntu/+source/libdrm/+bug/1798597. It should be available to regular users early February.

[2019-01-12 18:06] DavidVentura opened #336 "Missing libclang.a for static build"
Hello
I am trying to do a static build of bpftrace, but failing to find `libclang.a`

[code]

[code]

I checked on ubuntu's repositories and `libclang.a` is not provided, I even downloaded the 7.0.1 release of clang and the file is also not in the tar.. where am I supposed to get it?

Just as sanity check - I am running the exact same commands that the ubuntu docker image is running..

[2019-01-12 22:17] xbe commented on #322
I like [this approach](https://stackoverflow.com/a/12368262).

It relies on running:
[code]

Presently, that gives me:
[code]

That means that the last git-tagged version was 0.8, which was 9 commits ago. The current git commit hash starts with "c008".

[2019-01-13 01:06] fntlnz commented on #329
I'm exploring those possibilities, the road that seems reasonable to me is to add a `CallInst *IRBuilderBPF::CreateGetCurrentPidNamespace()` in `ast/irbuilderbpf.cpp` and call in it a new exported bpf helper that should look like this.

Not yet sure how to get the pid namespace id from the `pid_namespace` struct in `pid_namespace.h` so here I'm using it directly for reference.

[code]

Then use th

[2019-01-13 08:11] Brother-Lal opened #338 "Arm64: function arguments/register definitions broken"
Hello!

I am currently using bpftrace/bcc on arm64(Yocto, Kernel version 4.14.35), for a small paper to correlate some latency measurements.
It's holding up very nice, and I'm getting some nice data from it, but I encountered some weirdness on my test machine and wanted to report that.

It seems to me that the function argument handling for kprobes/the register definitions for arm64 are not correc

[2019-01-13 21:53] brendangregg commented on #338
Thanks for the workaround. I'm not sure any of us have access to an arm system yet to debug further and work on a fix, so if you or someone else reading this would like to help, please do.

[2019-01-13 21:54] brendangregg opened #340 "tracepoint shortcut t breaks args"
These should both work:

[code]

[2019-01-14 08:17] brendangregg opened #341 "raw tracepoint program type"
Raw tracepoint program types were added in Linux 4.17. At some point we should support them, perhaps with a probe type: rawtracepoint, alias "rt".

https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=c4f6699dfcb8558d138fe838f741b2c10f416cf9

They are faster than normal tracepoint programs, since they skip argument processing and give raw access to the arguments.

[2019-01-14 09:30] brendangregg commented on #340
Here's another inconsistency:

[code]

The second invocation should have the nice error message as well.

[2019-01-14 10:33] mmarchini commented on #336
`libclang.a` is not provided in LLVM official releases or Fedora/CentOS/Debian/Ubuntu repositories. We should contact packagers and LLVM releasers and ask to add libclang.a to the released files as well (I just don't know who to contact in that case).

[2019-01-14 11:16] caringi commented on #336
At least in Fedora, shipping static libraries is strongly discouraged...

"Packages including libraries SHOULD exclude static libs as far as possible (eg by configuring with --disable-static). Applications linking against libraries SHOULD link against shared libraries not static versions."

https://docs.fedoraproject.org/en-US/packaging-guidelines/#packaging-static-libraries

[2019-01-14 12:50] mmarchini commented on #334
FWIW I think this broke [iovisor/kubectl-trace](https://github.com/iovisor/kubectl-trace). cc @fntlnz

[2019-01-14 13:00] mmarchini opened #342 "RFC: alternatives to static build"
During the BPF Microconference at LPC, we got feedback that installing llvm/clang/libbpfcc in production servers just to use `bpftrace` would be overkill and sometimes unfeasible. An alternative would be linking to those dependencies statically, but most distributions don't provide the static library `libclang.a` on their libclang packages.

I started to think about alternatives to a static build,

[2019-01-14 13:56] fntlnz commented on #334
@mmarchini thanks for pointing me tho this, actually kubectl-trace is on 2ae2a53f62622631a304def6c193680e603994e3 from 25 days ago so that one should be still working if a user clones it today.

However I can confirm that if I clone c0084a288eb970ed748a4738e41370f66ae639be the bpftrace binary doesn't compile, same error:

[code]

Here's my dockerfile https://github.com/iovisor/kubectl-trace/blob/m

[2019-01-14 17:35] mmarchini commented on #159
Closing since this is covered by #137 and there's a proposed fix in #210, but feel free to reopen if there's anything left to be done here.

[2019-01-14 17:35] #159 closed

[2019-01-14 17:37] mmarchini commented on #130
CI is working, but we still need to figure out a way to execute runtime tests on it (Travis kernel is too old to execute them).

[2019-01-14 17:45] mmarchini commented on #286
Duplicate of #246

[2019-01-14 17:45] #286 closed

[2019-01-14 17:50] mmarchini commented on #156
Which LLVM version are you using?

[2019-01-14 18:03] mmarchini commented on #260
I'm getting a different error here, but the problem persists:

[code]

[2019-01-14 18:05] mmarchini commented on #219
Would #320 be enough?

[2019-01-14 18:07] mmarchini commented on #187
Codegen tests are fixed on `master`, so I'll close this issue for now. Feel free to reopen if there's anything left to be done.

[2019-01-14 18:07] #187 closed

[2019-01-14 18:12] mmarchini commented on #218
@yujinqiu can you confirm if this issue is still present on the latest version? I just tested it here and it seems to be working now.

(FYI alpine build, and thus `./build.sh`, is not working right now due to #327)

[2019-01-14 20:07] brendangregg opened #344 "kstack alias/replacement to stack"
Similar to #324, for consistency and intuition it would be nice if the stack builtins were called kstack and ustack.

We can put in an alias for stack->kstack that prints a warning that it will be deprecated later.

[2019-01-14 20:11] brendangregg commented on #132
changing to 0.9. I've seen newcomers run into this immediately, since they begin with:

[code]

(Maybe since it's the first one-liner in README.md), then discover it doesn't trace most opens, so then try:

[code]

and run into this issue.

[2019-01-14 21:37] #192 closed

[2019-01-15 00:34] brendangregg opened #346 "hist improvements"
There are a couple of issues with hist() that I think could be improved at the same time. Consider this:

[code]

It's grouping the -5 and the 0 in the same bucket. So hist() is not handling negative values.

Also, the more I use it, the more I'd like to separate 0 and 1. I think the output could be:

[code]

Which we could fix first, and then the negative values later. Or both at the same time, s

[2019-01-15 00:49] brendangregg commented on #346
Just remembered we have this notation from lhist():

[code]

(it's missing a space, plus that should be "[..., 0)" in interval notation, I think).

So, another improvement could be:

[code]

At least it's not misleading. Or even better:

[code]

And best of all would be to support negative ranges.

[2019-01-15 07:00] zlim commented on #338
@brendangregg would it help if we enabled access to arm64 system for bpftrace developers?

[2019-01-15 11:38] brendangregg opened #349 "func and sym regression, only prints hex"
func and sym used to work

[code]

Might this have something to do with #301?

[2019-01-15 14:39] bastianbeischer commented on #156
Arch Linux has LLVM 7.0.1 as of today.

[2019-01-15 15:53] joelagnel opened #350 "Compilation failure with clang 6 or 7"
Hi, I am attempting to build inside a debian chroot on Android.

I get the following build errors when compiling bpftrace with clang:
[code]

My cmake command looks like
[code]

BCC itself builds and works fine with the same clang. Its bpftrace failing to build.

This seems similar to: https://github.com/iovisor/bpftrace/issues/159 . Any thoughts @brendangregg ?

[2019-01-15 18:12] mmarchini opened #354 "CI: add Travis jobs to build using clang"
Should be straightforward and will help avoid issues like #350.

[2019-01-15 18:24] #322 closed

[2019-01-15 19:37] brendangregg commented on #11
This is an api change, from ustack to ustack([int limit]). Adding 1.0 tag.

[2019-01-15 21:03] brendangregg commented on #44
fixed by #352, closing.

[2019-01-15 21:03] #44 closed

[2019-01-15 22:23] danobi commented on #334
Looks like alpine doesn't have bcc packaged: https://pkgs.alpinelinux.org/packages?name=bcc&branch=edge .

Until it gets packaged, you could probably add some steps in your dockerfile to clone and install bcc.

[2019-01-15 22:48] danobi commented on #342
Curious, why?

It sounds like we could even consider taking it a step further and create a custom bpf IR + compiler. FWIW, I've been tossing a similar idea around the last couple months. Clang is a bit heavy weight for the kind of bpf programs that bpftrace enables.

[2019-01-15 23:22] brendangregg opened #356 "print() for non maps"
#56 may extended printf() to support maps as well: a print formatted for maps.

This issue is to extend print() to support non maps as well: a print without formatting for all types. We'd then have:
- printf() to print anything with a format string
- print() to print anything in a default way

Eg, something like this should work:

[code]

Instead of always having to do:

[code]

[2019-01-15 23:43] danobi commented on #334
I'll go and fix all the docker builds this week.

Hopefully this is the last big dependency change we have to make in a while. If we need to do it again, we might want to consider only supporting 1 docker environment.

[2019-01-16 13:34] joelagnel opened #360 "BEGIN/END probes on systems without uprobes"
bpftrace works great, however when I run certain scripts, it looks for uprobe_events in debugfs and fails.
[code]
Could we make uprobe_events optional if a script doesn't need it? `vfsstat.bt` appears to only need kprobe support. Why does it try to open the uprobe_events file?  CC @brendangregg

[2019-01-16 15:03] #350 closed

[2019-01-16 17:09] williangaspar commented on #344
should the deprecated message appear at the start or the end of execution? Sometimes probes will print a lot of data right away

[2019-01-16 19:12] brendangregg commented on #344
Start. That would make logical sense: when it's doing compiling and checking of code, before running.

[2019-01-16 19:21] brendangregg commented on #360
vfsstat.bt uses a BEGIN probe, which I believe is implemented using uprobes: the BEGIN_trigger() function in triggers.h.

The BEGIN and END probes need a way to run some BPF code in kernel context, hence instrumenting its own user-space function that was created for that purpose. If we're to support systems that don't have uprobes, we'll need some kprobe/tracepoint we can trigger to do the same. I

[2019-01-16 19:34] joelagnel commented on #360
Thanks, I am curious why the BEGIN probe is even needed though. Most (all?) BEGIN probes seem to be just printing something. Can the implementation not print the header output directly, like BCC does? BCC doesn't need such probes.

Enable uprobes should be possible, it is not that common at the moment on Android because no one is using it. But kprobes is common. Thanks.

[2019-01-16 20:12] #84 closed

[2019-01-16 20:14] brendangregg commented on #360
The BEGIN probe can do BPF things like initialize BPF map variables, eg, a "@start = nsecs" so that we can do walltimestamp calculations later in the script.

[2019-01-16 20:52] joelagnel commented on #360
Got it, thanks

On Wed, Jan 16, 2019, 3:14 PM Brendan Gregg <notifications@github.com wrote:

[2019-01-16 21:22] brendangregg commented on #11
I've dug into this, and it's more involved. Consider this program:

[code]

The k:vfs_write should fail in semantic analyser because `@vfs` was declared as a 4 frame stack, and it needs to stay that way in subsequent uses. This shouldn't be too hard to enforce.

But the k:do_nanosleep stack presents a problem: `@vfs` wants to hash on 4 frames, whereas `@n` wants to hash on 8. There's only one stac

[2019-01-16 22:18] brendangregg commented on #28
I wonder if an explicit call to probe_write_user() might be desirable, to make it clear that the tool can be destructive.

[code]

write_user() is named after the BPF call. I think it may fit better with other bpftrace builtins/calls if it was called uwrite().

[2019-01-17 09:21] eiiches opened #364 "tracepoint wildcard causes bpftrace to abort"
Hi! I noticed tracepoint wildcards are broken in current master. bpftrace just exits with 1 if wildcards are used.
[code]

bpftrace seems to exit here when wildcards are given:
https://github.com/iovisor/bpftrace/blob/e73f69c90caad71326641918f23cd785a8646f69/src/main.cpp#L229-L230

This conditional were introduced in https://github.com/iovisor/bpftrace/commit/c27566ff06d553f0dc23598a16e84f324f0d6a

[2019-01-17 09:24] eiiches commented on #364
My quick workaround was to ignore `parse()` return value.
[code]

[2019-01-17 09:39] mmarchini opened #365 "Move from Travis to another CI provider"
The latest kernel we can use on Travis is 4.4, which prevents us from running our runtime tests suite there. Since these tests are pretty useful, I think we should consider moving our CI somewhere else.

AppVeyor supports non-containerized Ubuntu 18.04, which means we can run our runtime test suite there: https://www.appveyor.com/blog/2018/09/18/ubuntu-1804-bionic-beaver/

There's also https://bui

[2019-01-17 14:54] fntlnz commented on #365
Subscribing to this issue because kubectl-trace will likely need to follow bpftrace in this decision in order to get consistent results in tests.

[2019-01-17 19:39] brendangregg commented on #132
@boat0 has written some code that begins to fix this issue (from #367):

[code]

That lets tracepoint_format_parser.cpp process wildcards. Further changes needed include only doing this if `args` is used.

[2019-01-17 19:46] #364 closed

[2019-01-17 21:07] mmarchini commented on #360
Ideally, for BEGIN and END we should be able to just run a BPF program without using probes or tracepoints. This might require some kernel work, as I don't think there's a way to do that today.

As an alternative, maybe we could use https://github.com/iovisor/ubpf for BEGIN/END?

[2019-01-17 21:12] #344 closed

[2019-01-17 21:49] brendangregg commented on #360
Right, we need a bpf syscall call to say: run this now.

AFAIK, ubpf will be in its own memory space, and can't coordinate with the kernel one.

[2019-01-18 00:09] brendangregg commented on #342
Discussed that with @4ast ?

Right now I'm hoping to stabilize the API and fix bugs; changing the compiler chain may be worthwhile, but not high on my list at the moment!

[2019-01-18 00:17] brendangregg commented on #132
see #370

[2019-01-18 22:44] danobi commented on #334
#372 fixes the docker build. I fought the static linking battle with cmake and lost. I need some time to let my motivation recover.

As an aside, does anyone need the statistically linked docker builds to work? It's kind of a hassle using docker for me b/c I run with cgroup2 (for another project I work on) and docker doesn't support that yet.

[2019-01-19 00:46] danobi commented on #334
#372 is the fix for the docker builds

[2019-01-21 22:35] #324 closed

[2019-01-22 02:50] vielmetti commented on #338
@brendangregg I am happy to get access to arm64 gear through @worksonarm - https://worksonarm.com/cluster and https://github.com/worksonarm/cluster have resources.

[2019-01-22 19:30] brendangregg opened #376 "probe type aliases don't work with -l"
[code]

[2019-01-22 19:39] brendangregg commented on #44
I'm switching closed 1.0 issues to 0.9, so that we have a neat summary of what's in the 0.9 release:

https://github.com/iovisor/bpftrace/milestone/1?closed=1

[2019-01-22 22:52] pzakha opened #377 "Build broken with latest bcc"
`bpftrace` fails to build with the latest `bcc` bits with the following error:

[code]

I've bisected the issue to this bcc commit: https://github.com/iovisor/bcc/commit/dc1254edbf85ad07c732fca3bb1b4c114a12d3d2.

[2019-01-22 23:10] brendangregg commented on #323
fixed by #375

[2019-01-22 23:10] #323 closed

[2019-01-22 23:17] brendangregg commented on #377
Thanks; yes, bpftrace needs updating.

[2019-01-23 06:59] CavemanWork opened #378 "No output after executing the command "bpftrace -lv tracepoint:syscalls:sys_enter_open" followed by the tutorial."
Environment:
- ubuntu 18.04
- kernel Linux version 4.15.0-29-generic

Follow the guide in [The -v option when listing tracepoints will show their arguments for use from the args builtin](https://github.com/iovisor/bpftrace/blob/HEAD/docs/reference_guide.md#4--l-listing-probes ), no result of the terminal.

`root@Yingyun-VB:~/workspace/bpftrace# bpftrace -lv tracepoint:syscalls:sys_enter_open
trace

[2019-01-23 07:36] brendangregg commented on #378
I wonder if you have debugfs mounted on /sys/kernel/debug. Can you try this cat(1) command?

[code]

[2019-01-23 07:45] CavemanWork commented on #378
The debugfs was mounted, and result of cat() like below:

cat /sys/kernel/debug/tracing/events/syscalls/sys_enter_open/format
name: sys_enter_open
ID: 604
format:
        field:unsigned short common_type;       offset:0;       size:2; signed:0;
        field:unsigned char common_flags;       offset:2;       size:1; signed:0;
        field:unsigned char common_preempt_count;       offset:3;       s

[2019-01-23 07:47] brendangregg commented on #378
Should work then. I only recently merged that feature, so make sure you have that commit in your list.cpp, and you've run a fresh build and install:
[code]

[2019-01-23 08:41] CavemanWork commented on #378
@brendangregg
Ah~ it works after pulled the latest code, Thanks!

[2019-01-23 08:41] #378 closed

[2019-01-23 22:45] #334 closed

[2019-01-23 23:13] danobi commented on #377
I think when bcc tags a new release, it'd be easier for us to ifdef things.

[2019-01-25 16:51] rlarrabe commented on #293
I'm having similar problems running bpftrace on Ubuntu 18.04 with updates.

uname -a
Linux ip-172-31-23-145 4.15.0-1031-aws #33-Ubuntu SMP Fri Dec 7 09:32:27 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

I installed bcc with the following command:

sudo apt install bcc bpfcc-tools

And bpftrace with the following command:

sudo snap install bpftrace

When attempting to run any of the examples I receive

[2019-01-25 17:03] williangaspar commented on #293
@rlarrabe are you running as root? This issue solves only the error message when you try to run bpftrace wichout root privilege. About the error you are getting I recomend you try the ubuntu and compilation sections of the install guide here: https://github.com/iovisor/bpftrace/blob/master/INSTALL.md

[2019-01-25 18:49] rlarrabe commented on #293
Hi Willi,  Yes I am running as root.  But it failed with the same message in either case.  So are you writing that the snap installation is not valid.

Thanks,

Rich

[2019-01-25 19:27] #21 closed, assigned to williangaspar

[2019-01-26 05:53] deeptir18 commented on #76
@brendangregg - I was wondering if you found a way past this installation error?
I tried the patch, but got the same error that you listed above.
Thanks!

[2019-01-26 05:55] brendangregg commented on #76
I'm currently using the instructions from INSTALL.md for Ubuntu: getting llvm/clang from the llvm.org repositories.

[2019-01-26 06:02] deeptir18 commented on #76
I also run into this error (even when using llvm/clang from the llvm.org repos):
[code]

[2019-01-26 06:04] brendangregg commented on #76
No, I don't think I've seen that before. Hmm. I hope there isn't a new package error you are the first to encounter (those llvm.org repose get updated nightly I believe).

[2019-01-26 20:38] brendangregg opened #380 "local variable name reuse: A call to built-in function 'abort' is not supported."
[code]

program:

[code]

If instead of $name in the second probe, I rename that to $name2, it works. The problem is reusing $name across different probes. Each probe should be able to have its own version of $name without clashing. I think the problem is that it's compiled as a global variable when it should be local.

[2019-01-27 19:39] brendangregg opened #381 "tracepoint format string builtin"
This issue is to provide a way to access the tracepoint format strings, or to come up with a more generic default string summary for events.

Here is the tracepoint format string for sched:sched_switch:

[code]

It's the "print fmt" line.

Would be nice to be able to access that from bpftrace. Imagine:

[code]

I imagine the second will be easier (at least to begin with) as we take printf() and us

[2019-01-27 19:45] brendangregg commented on #234
I've had an idea: I don't want per-event output to be the default. Like Jason said, that can be a landmine if you trace something more frequent than you were expecting, or did so by accident. I'm really starting all my ad hoc perf investigations using funccount. Why not make that the default behavior? I'm using it first anyway, and it does a summary, not per-event output.

It would mean these are

[2019-01-27 22:56] dalehamel commented on #76
@bobrik would you mind sharing what you've done in #266 as it looks like you got further than I did towards building a static bpftrace on ubuntu, and I think that a static build based on ubuntu (using static libclang) is probably the best way to solve this problem, as it will link glibc instead of musl.

[2019-01-28 11:58] williangaspar commented on #198
@danobi, do you still working on this?

[2019-01-28 14:45] mmarchini commented on #293
@rlarrabe try running `snap connect bpftrace:system-trace` to enable bpftrace to access system tracing (see http://smackerelofopinion.blogspot.com/2018/11/high-level-tracing-with-bpftrace.html).

(We should probably document that somewhere...)

[2019-01-28 18:41] danobi commented on #198
@williangaspar it's still on my todo list. Feel free to take it from me if you want

[2019-01-28 19:05] brendangregg commented on #234
bpftrace uses perf's buffers, which have capabilities we aren't fully using yet -- they can do dynamic wakeups so that instead of blindly picking a switch rate (10 Hz) it will wake up an appropriate number of times for the workload. See the number of wakeups reported in perf report. So awesome. They also have ring buffers and other capabilities, and a fixed rate of wakeups can be choosen as well.

[2019-01-29 02:12] dalehamel commented on #329
There is code for this in bcc, it can probably be reused. I ran into a similar problem when I was trying to adapt `gethostlatency.py` to work for probing only a specific container, only to realize it already handled this if you specified a pid to it - it figures out that the path is relative to the mountns for the container pid you provided, because it enters that namespace before resolving the sy

[2019-01-29 04:22] dalehamel commented on #329
I struggled with this for a bit, then found someone had already done this in bcc:
https://github.com/iovisor/bcc/blob/b0bf04ac4042a6c004b15dcc5e40e12ae78020f9/tools/runqlat.py#L238

This makes sense to me, I recall reading somewhere that the numbers associated with /proc/PID/ns/* were inode numbers.

So this bpftrace should allow for the necessary struct navigation:
[code]

But I am consistently g

[2019-01-30 15:23] dalehamel commented on #329
So looking at the headers for the task_struct, I think that it's quite possible that bpftrace doesn't understand the `#ifdef` macros (I don't think it parses these at all, and even if it did I'm not sure how it would know what kernel configs are applied). That would basically break how it calculates field offsets, which would make sense for why I am getting such strange values when I try to read e

[2019-01-30 16:09] FooBarWidget commented on #328
I have a similar problem, but instead of tracing my own binary I am trying to trace glibc on Ubuntu 18.04. According to the glibc malloc source there should be a probe called `memory_arena_new`:

     LIBC_PROBE (memory_arena_new, 2, a, size);

Indeed, readelf tells me that it is there:

[code]

And yet:

[code]

Am I doing something wrong? bpftrace commit ccac69c2239.

[2019-01-30 16:35] FooBarWidget commented on #328
@DavidVentura After debugging bpftrace's source code, I found out why your example doesn't work. Your provide's provider name is 'test-app'. However, bpftrace looks for a probe whose provider name equals that of the binary, i.e. bpftrace is looking for your 'testprobe' under the provider name 'a.out'. This is apparent from attached_probe.cpp AttachedProbe::attach_usdt:

[code]

I fixed your issue

[2019-01-30 16:59] dalehamel opened #383 "feature: support to get type information from btf"
It looks like BTF has been merged as of 4.18 into the linux kernel https://github.com/iovisor/bcc/blob/master/docs/kernel-versions.md

What would it take for bpftrace to be able to use type information from BTF instead of parsing headers? I suppose this support should be added to iovisor/bcc first, and then leverage it from there?

I imagine that a lot of the code in `clang_parser` would need to b

[2019-01-30 21:37] brendangregg commented on #383
Yes, I believe @yonghong-song is working on it for bcc, and once we have it all working on bcc we can adopt it in bpftrace too.

[2019-01-31 02:22] mmlb commented on #130
https://cloud.drone.io/ may be an option. I think the underlying host os is ub18.04 and likely that same kernel.

[2019-01-31 04:20] zlim commented on #130
Drone Cloud doesn't support docker build yet.

[2019-01-31 12:14] mmlb commented on #130
Not even with `plugins/docker`?

[2019-01-31 12:15] mmlb commented on #130
Hmm but `/sys/kernel/debug:/sys/kernel/debug` and `--privileged` may be problematic

[2019-02-02 00:15] brendangregg opened #385 "tracepoint arguments are missing __data_loc char strings"
This one-liner shouldn't fail like this:

[code]

I don't think the tracepoint args parser is handling the "__data_loc char[] name" entry.

[2019-02-02 09:59] caringi commented on #385
Running with '-d' I can see the line `field:__data_loc char[] name;` is becoming `int data_loc_name;`:

[code]

[2019-02-02 10:45] caringi commented on #385
But analyzing the code, this is intentional... (tracepoint_format_parser.cpp:99):

[code]

[code]

[2019-02-02 19:20] brendangregg commented on #385
Ah, thanks. So -lv should show that, and not:

[code]

But it also needs special processing:

[code]

I don't think that should be null, and the offsets look suspicious. I think it needs special processing, hence the __get_str() call in the format file, which is in include/trace/trace_events.h.

[2019-02-02 22:43] caringi commented on #385
@brendangregg I can try to implement this...

Fix the "-lv" is the easy part.

The "special processing" is what will be more challenge for me.

Would the idea be to add a new function "str_data_loc()" let's say?

There is a discussion about this __data_loc here:

"Accessing __string fields in tracepoints"
https://lists.linuxfoundation.org/pipermail/iovisor-dev/2017-February/000625.html

[2019-02-03 02:49] AGSaidi commented on #338
This seems pretty straightforward. I'll work on a patch

[2019-02-04 14:34] FooBarWidget commented on #236
Ask and you shall receive. See my pull request.

[2019-02-04 18:09] #376 closed

[2019-02-05 01:37] fgleiser opened #389 "bpftrace fails to build on Ubuntu server 18.04"
I just set up a new VM to try some new ebpf features.
I followed the install.md instructions, installed toolchain from llvm repos but ebpf fails to build, it complains about some missing header file

Scanning dependencies of target ast
[ 46%] Building CXX object src/ast/CMakeFiles/ast.dir/ast.cpp.o
[ 47%] Building CXX object src/ast/CMakeFiles/ast.dir/printer.cpp.o
[ 48%] Building CXX object src/a

[2019-02-05 02:36] fntlnz commented on #329
Yes @dalehamel that's very similar to what I have in mind, however I also wanted to explore a way to implement this completely in bpftrace since that is also how a number of bcc programs do that like:

- https://github.com/iovisor/bcc/blob/b0bf04ac4042a6c004b15dcc5e40e12ae78020f9/tools/solisten.py#L104
- https://github.com/iovisor/bcc/blob/b0bf04ac4042a6c004b15dcc5e40e12ae78020f9/tools/runqlat.py#

[2019-02-05 02:45] fntlnz commented on #329
In the meanwhile, those that can enable cgroupv2 in their kubernetes cluster can do the filtering using the `cgroupid` function:

[code]

kudos to @alban - he wrote that example down for his talk at fosdem, he also has a guide on how to enable cgroupv2 in a kubernetes cluster https://gist.github.com/alban/6b6eee36e042d947c0c550b0dacced52

[2019-02-05 03:58] dalehamel commented on #329
Thanks for the tip regarding the cgroupid, but I was under the impression that cgroups mapped more or less 1:1 to container, and could (and often do) differ within a pod. I'll give this a shot though and check my assumption. I did a quick search of the docs:

But the wording there is "set of namespaces". From my poking around /proc I seem to recall that the pid namespace (and network, unless using

[2019-02-05 08:27] brendangregg opened #390 "stack indentation"
Do people have thoughts about adding indentation to printed stack traces? Here's some mockups:

current:

[code]

1 char:

[code]

2 chars:

[code]

4 chars:

[code]

8 chars:

[code]

I think... 2 characters looks best.

[2019-02-05 10:41] sourabhtk37 commented on #240
@tyroguru I'd like to take this issue up. Added PR #391

[2019-02-05 10:57] sourabhtk37 commented on #316
@danobi Can I take this up? Added PR.

[2019-02-05 13:38] AGSaidi commented on #338
#393 successfully builds in the docker container on an Arm host and the command above works correctly:
[code]

[2019-02-05 15:02] dalehamel commented on #329
FWIW I did a spot check, two containers in the same pod, and they *did* use the same cgroup namespace. This could mean that as long as you default to the first container in the pod that you are ok to use cgroup as the identifier for the pod.

I'm not sure if this is enforced, or is a coincidence / luck for the pod workload I examined. Either way, this seems more promising than I initially thought.

[2019-02-05 17:19] caringi opened #394 "Changes in kprobe names and arguments in latest kernels (4.17 or newer)"
The following line from the reference guide (https://github.com/iovisor/bpftrace/blob/master/docs/reference_guide.md#2-printf-printing) doesn't work in my system (Fedora 29, kernel 4.20):

[code]

There are 2 problems: The first one is very easy to fix, the probe name has changed...

[code]
The Second problem is related to changes in the arguments, that's the reason of the strange characters above

[2019-02-05 21:19] brendangregg commented on #394
Unless you disagree, I'll change this ticket to: change in syscall function names.

Yes, the syscall function names changed, and we need to update the examples. I wrote those before we had tracepoint arguments, so that particular example now can be:

bpftrace -e 't:syscalls:sys_enter_execve { printf("%s called %s\n", comm, str(args->filename)); }'

As much as possible we should switch these to tra

[2019-02-06 00:34] #240 closed

[2019-02-06 07:37] zlim commented on #130
https://github.com/drone/drone/issues/2462 looks relevant. cc @bradrydzewski

[2019-02-06 07:43] zlim commented on #130
For testing, you'll need a VM and mounting debugfs on the host kernel.

Running drone + qemu (system) + etc. could be an option.

Or a collection of VM + drone runtime? :)

[2019-02-06 10:19] jvnn commented on #377
Any suggested good workarounds for this? I had to build bcc myself due to #335 (btw, llvm 7 is already available in Ubuntu so I think using the default packages for that should be okay now) and ran into this issue instead. I'm still very unfamiliar with the whole BPF business, so I'm not sure if I can / should simply select an older tag from bcc and rebuild.

[2019-02-06 13:20] sourabhtk37 opened #395 "fn_name needs to be unique for attaching to same probe"
Note: Creating issue for discussion (from #22 )

https://github.com/iovisor/bpftrace/blob/master/src/attached_probe.cpp#L429

[2019-02-06 18:23] tyroguru commented on #377
@jvnn - Yeah, I have worked around this by branching off the "tag_v0.8.0" bcc branch. This really needs sorting out.

[2019-02-06 18:26] tyroguru commented on #390
@brendangregg - I think 2 or 4 makes it easier on the eyes. My own preference is 4 but I'm easy.

[2019-02-06 18:35] mmarchini commented on #390
I think 4 would be a good number, but maybe we want to consider a way to let the user specify the stack trace format (as suggested in https://github.com/iovisor/bpftrace/pull/287#issuecomment-445189007)?

[2019-02-06 18:36] brendangregg commented on #377
I thought we had a PR that fixed it? #374 not enough?

[2019-02-06 18:41] brendangregg commented on #390
I think #287 is separate: a way to print custom output. This is just tweaking the default.

I really want #287 -- I use the library name for picking color hues in flamegraphs, and can't get that out of the current stack.

Perhaps #287 should introduce the calls: ustackf() and kstackf(), short for stack formatted. Just like printf and print formatted.

[2019-02-06 19:53] tyroguru commented on #377
It doesn't appear to. I've been away from bpftrace for a month or two so needed to install a local libbcc in order to build. I pulled from the master bcc branch yesterday and bpftrace won't build with that (because of Yongong's changes for #2149 I presume - use kernel libbpf in bcc). I therefore had to go back to the last tagged build.

I don't think this is because of any extra hoops I have to ju

[2019-02-06 22:38] brendangregg commented on #390
Just realized that as a string in printf(), the indentation is currently 8 chars:

[code]

It's a different way of printing out though, so I'm not sure we need to follow it here.

[2019-02-06 23:17] tyroguru commented on #15
@brendangregg - I personally don't like this as the second invocation (with the slash '/' removed) is much harder for me to parse. Is there a language that you're thinking of that does this?

[2019-02-06 23:29] tyroguru commented on #198
Yes, this is super annoying so a fix would be good to see soon. We do need more than this though for pattern matching in a predicate. I  often need to do the equivalent of 't:syscall:whatever/comm == "hhvm*" as I am interested in a range of processes whose name begins with "hhvm". In DTrace you could do something like /strstr(execname, "hhvm") != NULL/ if my memory serves me right.

[2019-02-06 23:34] tyroguru commented on #305
This whole issue needs some serious attention as it is a significant limitation. Nice initial exploration @Birch-san says. I have hit this limitation on a number of occasions and for me it is one of bpf(traces) biggest annoyances at the minute.

[2019-02-06 23:44] brendangregg commented on #15
awk.

[code]

So we could support:

[code]

awk only used '/' for regexp comparisons. I still write a lot of awk, and when I'm in bpftrace I keep wondering why do I need to type in the slashes for non-regexps.

I don't feel strongly about losing the '/'s. They could be made optional: we alias t to tracepoint to save typing. I do think we want to think about a few things before 1.0. In another tick

[2019-02-06 23:55] Birch-san commented on #305
@tyroguru out of interest: what kind of script do you have that needs big strings? Clear use-cases are valuable for framing the conversation.

I had another thought…
Ferrying the strings like this:

probe_read_str() -> BPF stack -> BPF map

Has a chance of working, but is high-effort.
I wonder if we could request (of Linux itself) explicit support for the following:

probe_read_str() -> BPF map

A

[2019-02-06 23:57] williangaspar commented on #198
By the error message, it seems `comm` is trying to do a jump too far.

[2019-02-07 00:06] tyroguru opened #397 "Implement progenyof() functionality"
bpftrace should provide a function that gives the same functionality as the DTrace [progenyof() function] (https://docs.oracle.com/cd/E37670) . The Solaris docs specify this as:

[code]

This will require implementing a BPF kernel helper function.

[2019-02-07 00:15] brendangregg commented on #397
Please rephrase: I have a need for X. We are not porting DTrace "just because DTrace had it".

[2019-02-07 00:29] tyroguru commented on #305
Hey @Birch-san - sorry but I was being lazy :-) .

Take this simple example I did a couple of weeks ago for reading /dev/null:

[code]

Obviously, strings much larger than 200 bytes are written to /dev/null.

I need to understand the problem better to make any form of judgement on this but it seems like this is a fundamental problem that needs addressing in the engine room of BPF - to work around

[2019-02-07 01:14] tyroguru commented on #397
@brendangregg - I didn't feel that I needed to mess around with phrasing as it is patently obvious why there is a need for this. If you are trying to capture aggregate work then this is a no brainer. Trying to capture all work done by X and its children is a highly desirable feature.

I merely put it in terms of what DTrace has as it's available and does the job.

[2019-02-07 03:12] siddharthasahu commented on #377
I tried building bcc+bpftrace on Archlinux. Both git master and v0.8.0 gives me this compilation error.

[2019-02-07 04:38] sourabhtk37 commented on #395
Should we go ahead with random alphanumeric suffix?

[2019-02-07 09:48] navytux commented on #218
Debian just packaged bpftrace (https://packages.debian.org/sid/bpftrace) and the issue is present there:

[code]

/cc @vincentbernat

[2019-02-07 14:26] navytux commented on #218
On the other hand, with latest bpftrace (v0.8-68-g90e5443) manually built against the same libbpfcc from Debian and standard LLVM-7 on Debian it works:

[code]

[2019-02-07 15:08] vincentbernat commented on #218
Hum, there seems to be a variation in the build process. If I emit the exact same commands used for building the package with the same sources, I get a working `bpftrace` executable. There must be something subtle with the build environment. I'll investigate more.

[2019-02-07 15:38] vincentbernat commented on #218
Setting `CXXFLAGS` to `-O2` (`export CFLAGS=-O2`) is enough to trigger the bug. I can avoid using such a flag, but maybe it's hiding another bug?

[2019-02-07 16:19] navytux commented on #218
about this I can note that bpftrace travis builds are handled with gcc/g++, see e.g.:

https://github.com/iovisor/bpftrace/blob/master/.travis.yml
https://github.com/iovisor/bpftrace/blob/master/docker/Dockerfile.fedora29
https://github.com/iovisor/bpftrace/blob/master/docker/Dockerfile.fedora28
https://travis-ci.org/iovisor/bpftrace/jobs/490091897

[2019-02-07 16:22] caringi commented on #218
I can confirm the same behavior in my system:

- Fedora 29
- Kernel 4.20.4-200.fc29.x86_64
- bpftrace latest version from git
- llvm 7

If bpftrace is built with -DCMAKE_BUILD_TYPE=DEBUG (no optimization flags are used) the problem doesn't show up.

[code]
Building bpftrace with -DCMAKE_BUILD_TYPE=RELWITHDEBINFO (which uses -O2 flag), the BEGIN probe doesn't work as expected:

[code]

[2019-02-07 17:02] brendangregg commented on #218
I can guess what's going on: BEGIN creates a dummy C function to trace with no contents, and the compiler is optimizing it away.

Either we need a compiler directive on that function, or to use -O0.

[2019-02-07 17:33] vincentbernat commented on #218
We could use `__attribute__((optimize("O0")))` or `__attribute__(used)`.

[2019-02-07 19:38] brendangregg commented on #218
Just fixed by @caringi, closing. #401 . @vincentbernat : if that build re-runs, it should work now.

[2019-02-07 19:38] #218 closed

[2019-02-07 19:41] #390 closed

[2019-02-07 19:55] vincentbernat commented on #218
Just applying this patch (9f2069b2210fc89274350af5d31533f9245d7361) works. I did not push the new release in Debian yet to ensure bpftrace reaches testing before the freeze. Once it's here, I will be able to upload it.

[2019-02-07 20:20] mmarchini commented on #198
@tyroguru this seems like a useful feature. Do you mind opening another issue for it?

[2019-02-07 20:38] navytux opened #402 "string comparision causes silent malfunction"
Hello up there. I've discovered that if I use `==` for strings in a probe, even if it should take no effect, the whole probe starts to malfunction. For example consider the following program:

[code]

if I do `cat </dev/zero >/tmp/aaa` while `bpftrace test.bt` runs, I get something like:

[code]

All as expected. However if I uncomment the block which compares `$file_name` to `"zzz"`

[code]
which

[2019-02-07 21:11] brendangregg commented on #402
This could be #198, which is a priority to fix.

[2019-02-07 21:23] brendangregg commented on #377
I took a look, it's because BPF_FUNC_get_current_cgroup_id was added in 4.18, and we're building on an older kernel.

If BPF_FUNC_get_current_cgroup_id is not defined, we need to print an error from semanticanalyzer. Plus we need to set it to zero or something so that the build succeeds.

[2019-02-07 21:33] brendangregg commented on #377
So if I work past that error, I hit

[code]

I think we need more of this to finish supporting both old and newer bcc: https://github.com/iovisor/bpftrace/pull/374/files

[2019-02-07 21:39] siddharthasahu commented on #377
I am running Linux 4.20.6, but my build still fails with the same error.

[2019-02-07 23:06] brendangregg opened #404 "RFC: -i 1"
An idea to consider, -i:

[code]

would do

[code]

so -i takes an interval in seconds, and prints all maps and clears them. Because I type that interval thing in too much.

[2019-02-08 00:07] brendangregg commented on #377
Ok, I should have looked more closely. My problem is the libbpfcc-dev version, which is 0.5.0, and it doesn't include get_current_cgroup_id in /usr/include/bcc/compat/linux/bpf.h.

Version 0.8.0 does, and if I install it (from https://packages.debian.org/sid/libs/libbpfcc), the build almost works -- I had to create a symlink from libbcc.so to libbcc.so.0, not sure why, and then it works.

So I thi

[2019-02-08 08:15] navytux commented on #218
@caringi, @brendangregg, may I suggest that the bug is not yet fully fixed: there is no test that covers it. I thus suggest to add to travis another mode that uses -O2 (or change Release to use it). Then we can be sure that the bug won't silently return and that there won't be other silent bugs related to -O2. Thanks.

[2019-02-08 09:10] navytux commented on #402
@brendangregg, thanks for feedback. I confirm that #405 (the fix for #198) fixes this issue as well (cc @williangaspar).

[2019-02-08 10:04] navytux commented on #402
Though not fully - in the following program the check for `$file_name` and map update `$@writes[$file_name] = $size` are working correctly, but printf under check misbehaves:

[code]

it prints:

[code]

but it must be

[code]

[2019-02-08 11:11] mmarchini commented on #395
An incremental numeric suffix should work I think

[2019-02-08 11:33] #198 closed

[2019-02-08 12:10] sourabhtk37 commented on #395
@mmarchini Forgive me, but how can we know if a probe of same type is already attached?

[2019-02-08 12:15] mmarchini commented on #395
True, if it has been attached by another process we might not see it. What about suffixing it with `_<bpftrace pid>_<incremental number>`?

[2019-02-08 12:19] sourabhtk37 commented on #395
yeah, that should work. If we have 1 one bpftrace process, we could increment it by one and if 2 process, increment it by 2. What do you say?

[2019-02-08 12:35] navytux opened #406 "const leads to struct not recognized"
Consider the following program

[code]

On it bpftrace gives:

[code]

However if I manually remove const from `iov_iter`  struct:

[code]

it compiles ok.

[2019-02-08 13:58] navytux opened #407 "scratch scope is broken?"
Hello up there. If I try to use the following program:

[code]

(note `$h` is used in _both_ probes), bpftrace gives the following unhelpful message (hard to diagnose what is going in a real program):

[code]

However if I change `$h` in the second probe to e.g. `$g` - it works:

[code]

[code]

So it seems scope handling for scratch variables is not correct and it overlaps between probes in unexp

[2019-02-08 15:27] navytux opened #408 "crash in bpftrace::BPFtrace::print_map"
Hello up there. I've got bpftrace crashed while running my trace program:

[code]

The program that was used for tracing is here:

https://lab.nexedi.com/kirr/wendelin.core/blob/e28531d/wcfs/fusetrace

I don't have a shorter reproducer at the moment.

[2019-02-08 17:00] brendangregg commented on #407
Thanks, this is #380, closing. Yes, we need to fix #380!

[2019-02-08 17:00] #407 closed

[2019-02-08 19:08] navytux commented on #407
Thanks for feedback.

[2019-02-08 19:14] tyroguru commented on #380
I've hit this one several times so a fix would be super helpful.

[2019-02-08 23:20] Birch-san commented on #305
@tyroguru thanks for the example. agreed; we need way bigger strings to attack that use-case.

I've had a look at how [probe_read](https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=2541517c32be2531e0da59dfd7efc1ce844644f5) and [probe_read_str](https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=a5e8c07059d0f0b31737408711d44794928ac218) are impl

[2019-02-09 06:08] zlim commented on #130
CI-related issues: https://github.com/iovisor/bpftrace/issues/365 https://github.com/iovisor/bpftrace/issues/312

[2019-02-09 17:49] brendangregg opened #409 "demangle C++ symbols/signatures"
bcc does this, it's really nice.

https://github.com/iovisor/bcc/commit/4ba52382f7ab0e42459ddbb09c79d25df03e4c2b
https://github.com/iovisor/bcc/commit/2f070516864928e3edd03425344685873944707d

bcc stackcount(8) printing a stack:

[code]

currently in bpftrace:

[code]

[2019-02-10 20:09] Birch-san commented on #305
Oh, apparently it used to be possible to probe_read directly into a BPF map value?

https://github.com/iovisor/bcc/issues/900#issuecomment-272049764

Indeed, his kernel commit from 2017 claims to enable a very relatable example:

![image](https://user-images.githubusercontent.com/6141784/52538817-19dc5280-2d6f-11e9-99b5-51d84ef0378e.png)

I wonder if the "probe_read may only write to a destination

[2019-02-10 23:07] Birch-san commented on #305
I had a stab at exposing the functionality with some new kernel helpers:

[code]

I got this compiled and booted into it, built libbpf, and bcc against it, added [new IRBuilder definitions](https://github.com/iovisor/bpftrace/compare/4b4d5dce81f3f0e4abb65d1ff3b0f0b5eb831741...Birch-san:big-strings?expand=1), added some calling code and successfully compiled bpftrace… but I guess I've missed some s

[2019-02-11 18:42] tyroguru commented on #404
@brendangregg - I completely agree that some mechanism that provided a shorthand version of the whole interval/print/clear construct would be very welcome. As you say, it's something that you tend to do all the time.

I'm not sure on how this should be achieved yet though as I'm generally against using command line parameters for specific functionality like this as it just feels like this should b

[2019-02-11 19:14] dalehamel commented on #328
I have also run into this issue recently, and came up with similar conclusions to @FooBarWidget.

A more forgiving / flexible behavior might be to check for a given probe name against *all* providers, and only request that the provider be specified if there is duplication. This is less explicit though, and I could see there being issues with this.

I think that being able to manually specify the p

[2019-02-11 19:38] danobi commented on #198
:+1:

[2019-02-11 19:57] brendangregg commented on #328
Thanks for the debugging (I just ran into this too). So how about:

`bpftrace -p PID -e 'usdt:/usr/bin/ruby:method__entry { printf("here\n"); }`

would instrument ruby:method__entry

`bpftrace -p PID -e 'usdt:/usr/bin/ruby:hello:method__entry { printf("here\n"); }`

would instrument hello:method__entry

ie, if the provider name is not provided, it defaults to the binary name. Sound ok?

[2019-02-11 20:00] mmarchini commented on #328
Sounds good to me.

[2019-02-11 20:01] brendangregg commented on #328
Anyone already made a start at coding it? :-)

[2019-02-11 20:07] dalehamel commented on #328
i like that suggestion @brendangregg

Not quite, but I did start poking around the code to see how this works and I think I have a rough idea of what needs to be done.

At the surface, it looks like the changes would just be to `AttachPoint` and a few related files:

https://github.com/iovisor/bpftrace/blob/master/src/ast/ast.h#L205-L220
https://github.com/iovisor/bpftrace/blob/master/src/parser.y

[2019-02-11 21:52] caringi commented on #408
I think this problem is related to the compound key, like in `@rpending[tid,$nr]`. The following small program also crashes:

[code]

If the line  `@rpending[tid,$nr] = ustack;` is replaced by something like `@rpending[tid] = ustack;` the program no longer crashes.

[2019-02-12 00:15] brendangregg opened #412 "pre- and post-increment"
following on from #53, this would make $x++ and $x-- work. And this:

`bpftrace -e 'k:vfs_read { @++ }'`

I think we'd also want to use this in the tutorial and one-liners to aid learning, since it's familiar. If this is easy to add, let's add it now so that we can start using it in docs sooner.

[2019-02-12 01:00] brendangregg commented on #328
This also needs to update bcc_usdt_get_argument() in ast/irbuilderbpf.cpp.

[2019-02-12 08:26] navytux commented on #408
@caringi, thanks for feedback. I confirm that your simple reproducer crashes for me too and in the same way as originally reported.

[2019-02-12 15:58] williangaspar commented on #377
I Solved the build problem doing this on `/src/ast/CMakeLists.txt`:
[code]

But I still don't know why bcc isn't finding `BPF_FUNC_get_current_cgroup_id` even when it is present in the headers. In fact, if I set it to 80 instead of 0 `cgroup` will work when running in kernel 4.18 and above

[2019-02-12 16:00] dalehamel commented on #328
I have #413 up and ready for review

[2019-02-12 18:00] mmarchini commented on #11
I'll try to implement this. Should we keep both `ustack` and `ustack([int limit])`?

[2019-02-12 20:38] brendangregg commented on #11
Thanks! That's an interesting idea. We currently have builtins and calls, so if we allowed both then ustack would look like both a builtin and a call. I'm not sure if that would be too confusing for end users. But on the other hand, why would we be forced to type "()" needlessly if we weren't providing a number. I don't have a strong opinion.

I did try out Alexei's suggestion and it worked, so I

[2019-02-13 17:23] dalehamel commented on #412
Is there an error in your example? Should it be `@x[KEY]++` and/or `$x++`?

I believe I understand the codepaths needed to implement this, and I agree it would be a useful shorthand. This is probably also easier to implement than #53, which would require more changes to the parser (i think).

So the cases that would need to be handled here would be:

* `expr ++`
* `expr --`
* `++ expr`
* `-- expr`

[2019-02-13 17:25] dalehamel commented on #406
I wonder if in LLVM a const struct has a different type code than a normal struct?

If so, it could probably be a simple fix to add the necessary type to treat const structs as structs are treated.

[2019-02-13 17:38] dalehamel commented on #342
I think the main issue is with the alpine static build, and the way that it links to musl, per my investigation in #266. Are there any other problems with a static build we should be trying to solve for?

If we could link to a standard glibc through another build process (such as with another distro that *does* provide a static libclang), I think that the resulting artifact would be fine. We reall

[2019-02-13 17:47] brendangregg commented on #412
Yes, it may be easier than #53. So @x[KEY]++ and @x++ should both work. Try this to see what I mean:

`bpftrace -e 'k:vfs_read { @ = @ + 1 }'`

Would rather that be "++". Thanks for checking it out!

[2019-02-13 21:15] brendangregg commented on #11
fixed by #415

[2019-02-13 21:15] #11 closed

[2019-02-13 22:42] brendangregg commented on #385
Ideally I wouldn't expose it to the user.  So instead of "__data_loc char[] name", I'd expose it as "char *name", and bpftrace would remember that it's a data_loc (maybe by adding a is_data_loc bool to SizedType) and can then do he special processing -- probably by adding a function in irbuilderbpf.cpp to do it.

We do have some char *'s in tracepoints already:

[code]

I guess this would be a con

[2019-02-14 00:48] brendangregg commented on #144
fixed by #416

[2019-02-14 00:48] #144 closed

[2019-02-14 16:30] #236 closed

[2019-02-14 16:49] brendangregg commented on #395
What was this solving? Was it a name clash in /sys/kernel/debug/tracing/*events? (that's going away in the future with perf_event_open() and FD access, but we'd need a fix in the meantime).

[2019-02-14 17:09] brendangregg commented on #234
@tyroguru build on the latest (to include -B and \r), and try this:

[code]

[2019-02-14 17:10] mmarchini commented on #395
That's what I thought when I read the TODO, but apparently, it's not clashing:

[code]

Maybe something changed in `bcc` and we don't need unique fn_names anymore?

[2019-02-14 17:55] dalehamel commented on #406
I checked https://clang.llvm.org/doxygen/group__CINDEX.html#gaaccc432245b4cd9f2d470913f9ef0013 and I don't see anything that should obviously handle the const struct case, I'm a bit surprised if CXCursor_StructDecl  doesn't :thinking:

It would be good to attach a debugger and see what happens in `clang_parser.cpp` and have a minimal example of a `const struct` not working where a `struct` does.

[2019-02-14 18:00] dalehamel commented on #406
I wonder if it thinks that it is a `CXCursor_ConstAttr`? If so, I'd expect it to do that for any type of `const`.

[2019-02-14 19:01] brendangregg commented on #318
merged #384, closing

[2019-02-14 19:01] #318 closed

[2019-02-14 19:13] brendangregg commented on #305
@Birch-san can you please bring this up on the netdev mailing list? http://vger.kernel.org/vger-lists.html#netdev This is where kernel BPF development is done.

I think you'll get asked to show why bpf_probe_read_to_map() is necessary, and we can't just use bpf_probe_read() to read to a map. If that's broken, they may want to fix it, and add a test to test_verifier.c to make sure it stays fixed.

[2019-02-14 23:28] caringi commented on #409
@brendangregg should the demangling be always activated or do you think it's better to be able to turn it off through a comand line option?

[2019-02-14 23:29] mmarchini opened #422 ""unknown type name" warnings for tracepoint struct members even if `args` is not being used"
This program should throw a warning:

[code]

This one should not:

[code]

Right now both of them are. See https://github.com/iovisor/bpftrace/pull/370 for more details.

[2019-02-14 23:49] brendangregg commented on #409
I think it should be enabled by default, but could be turned off. Maybe as an environment option (like https://github.com/iovisor/bpftrace/blob/master/docs/reference_guide.md#8-env-bpftrace_strlen ), eg, BPFTRACE_NO_CPP_DEMANGLE=1

[2019-02-15 14:17] mmarchini opened #425 "uprobe support for JIT functions"
I wonder if we should add support for JIT functions to uprobes. It should be straightforward to implement by querying /tmp/perf-<pid>.map files.

That would allow us to trace dynamic languages functions.

If we decide to add this, should we look at the perf map only on startup, or should we watch the file for changes and attach to new probes when appropriate?

[2019-02-15 18:12] #422 closed

[2019-02-15 18:14] brendangregg commented on #409
fixed by #426

[2019-02-15 18:14] #409 closed

[2019-02-16 19:02] Birch-san commented on #305
@brendangregg thanks for pointing me to the right people. mailing lists are a new world to me, so I'm lurking for a bit first. then I'll ask whether probe_read_* was intended to be stack-only. may need to prepare a minimal example for this in bcc.

[2019-02-16 20:56] brendangregg commented on #425
Some of us have already been working on it; we should chat in the next iovisor call about it.

[2019-02-18 17:54] #377 closed

[2019-02-18 23:27] brendangregg commented on #412
@dalehamel did you (or anyone else) want to have a crack at this? I might want to make it 0.9 tagged, as I suspect we'll adopt a lot in the example documentation, so better to get people used to it sooner.

[2019-02-19 03:52] famz commented on #332
What was the consensus of this one? I am new to bpftrace and find it convenient to build a statically linked bpftrace binary which is portable. Though now I have a syntax error on master:

[code]

What is our supported C++ version? Should I be looking at fixing the docker image or the source code? Should I look for a more proper setup to build bpftrace?

[2019-02-19 12:04] williangaspar commented on #332
@famz I had the same problem. I've updated my gcc and c++ to version 8.

[2019-02-19 16:14] dalehamel commented on #412
@brendangregg yes I'd like to take a crack at this, hopefully within the next two weeks.

What is the targeted timeline for 0.9? If it's more imminent then that I might not be able to deliver something on time.

[2019-02-19 18:20] williangaspar commented on #328
did https://github.com/iovisor/bpftrace/pull/413 solve it?

[2019-02-19 19:40] brendangregg commented on #412
About two weeks from now sounds good for 0.9.

[2019-02-19 20:05] brendangregg opened #430 "ustackf() and kstackf()"
Follow on from #287 by @mmarchini

I'd like to print the stack trace in different ways. Eg:
- The library name in the stack output
- Folded format, as used by flame graphs: the stack on one line, semi-colon delimitered, with a count at the end. (Would be great to strip semicolons from symbols, which can work their way in there from perf-map-agent).

Also, I'm wondering if we can make ustack, ustac

[2019-02-19 20:13] brendangregg opened #431 "By-default printing"
Just an idea. Imagine this program:

[code]

Did this:

[code]

What does a bare `arg0` and `kstack` do in bpftrace anyway? Nothing useful. Can it be detected by lexer/parser and turned into a printf based on its type?

It'd also lead to one-liners like this:

[code]

To find out which probe is firing.

This is a follow on from #430 .

[2019-02-19 20:33] mmarchini commented on #430
I like this idea! I think I can tweak #287 to implement as `kstack(perf)`/`ustack(perf)`. I'll try to look into it later this week.

[2019-02-19 23:55] dalehamel commented on #53
I don't believe so, the nuance here is that you are performing and op *and* an assignment with a single expression, so basically you are performing two ops at once and this is not something bpftrace does elsewhere that I am aware of.

However, I believe that this can be done through a change to the parser *as well as* changes to the semantic analyzer and code generation.

There might be a simpler

[2019-02-20 00:32] dalehamel commented on #412
For simple cases, I believe this should be easy to implement:

[code]

As in each of these cases, they are just evaluating an expression, or evaluating an expression and then assigning it, which bpftrace's parsing and semantic analysis lends itself very nicely to. In fact, the expressions `$x++` and `$x--` are actually (abstractly) shorthands for:

[code]

For more nuanced cases, I'm not sure if t

[2019-02-20 01:14] brendangregg commented on #412
Thanks; I think just supporting

[code]

As the first step would be a big help, and get used often, eg:

[code]

[2019-02-20 01:25] dalehamel commented on #412
If we're fine with a hacky first pass that supports just the simple cases of "self increment self", I'm totally on board with that and can get something cranked out pretty soon - I'll turn my efforts in this direction.

I'd be happy to follow up with a more complete implementation of a scope similar to what I described, to actually close off #412 and #53 while handling all cases idiomatically and